<tr style="width: 100%;">
  <td align="center" style="width: 100%;">
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="padding: 20px; width: 100%;background-color: #E6EAED"
    >
      <tbody>
        <tr style="width: 100%;">
          <td
            align="center"
            style="padding-top: 24px; padding-bottom: 12px !important; border-bottom: 1px solid #d4d8da; width: 100%; max-width: 550px; margin: 0 auto; padding-bottom: 2rem; vertical-align: middle; text-align: center;"
          >
            <a
              href="https://www.facebook.com/romazioficial"
              target="_blank"
              style="margin: 0 10px; text-decoration: none;"
            >

              <img
                src="https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/1299f86f-e357-4ae0-bcbc-0f6f3ce230c9___a372f29c8de4ccc151241c58a445cfcf.png"
                alt="facebook"
              />

            </a>
            <a
              href="https://www.instagram.com/romazioficial/"
              target="_blank"
              style="margin: 0 10px;text-decoration: none;"
            >
              <img
                src="https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/52e55c3f-830f-49b3-bbb5-e2cf4e1d083a___53d4220c9ec528cc82664f0ebe44d25b.png"
                alt="instagram"
              />
            </a>
            <a
              href="https://www.youtube.com/@romazi9721"
              target="_blank"
              style="margin: 0 10px;text-decoration: none;"
            >
              <img
                src="https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/2b590436-888b-4fb6-8b3f-85c31087dd7e___8033d0004f088bcdb25912332d03d846.png"
                alt="youtube"
              />
            </a>
            <a
              href="https://www.linkedin.com/company/romazi/"
              target="_blank"
              style="margin: 0 10px;text-decoration: none;"
            >
              <img
                src="https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/7821f0fc-0ced-4af9-8bae-98bbf60b6aad___25efebe8eca6cc9fb2c5e9cdf81e9cb0.png"
                alt="linkedin"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle; text-align:center; padding: 24px;">
            <img
              src="https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/7e310845-f0a1-468c-b78c-16bc7f9f7ca8___f0265fbb9ac23a88c955cb97e0304a21.png"
              alt="logo-footer"
            />
          </td>
        </tr>
      </tbody>

    </table>
  </td>
</tr>