<p style="margin-bottom: 24px;">
  ((i18n.common.regards))<br />((i18n.common.team))
  {{_accountInfo.TradingName}}
</p>
<tr style="width: 100%;">
  <td align="center" style="width: 100%;">
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="padding: 20px; width: 100%;background-color: #E6EAED"
    >
      <tr style="width: 100%;">
        <td
          align="center"
          style="padding-top: 24px; padding-bottom: 12px !important; border-bottom: 1px solid #d4d8da; width: 100%; max-width: 550px; margin: 0 auto; display: flex; align-items: center; justify-content: center; padding-bottom: 2rem;"
        >
          <a
            href="https://www.facebook.com"
            target="_blank"
            style="margin: 0 10px; display: block;"
          >

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="50px"
              height="50px"
              viewBox="0 0 25 25"
              fill="none"
            >
              <path
                d="M9.53125 22.2656H13.5313V14.2556H17.1353L17.5313 10.2756H13.5313V8.26562C13.5313 8.00041 13.6366 7.74605 13.8241 7.55852C14.0117 7.37098 14.266 7.26562 14.5313 7.26562H17.5313V3.26562H14.5313C13.2052 3.26562 11.9334 3.79241 10.9957 4.73009C10.058 5.66777 9.53125 6.93954 9.53125 8.26562V10.2756H7.53125L7.13525 14.2556H9.53125V22.2656Z"
                fill="#000"
              />
            </svg>
          </a>
          <a
            href="https://www.instagram.com/romazioficial/"
            target="_blank"
            style="margin: 0 10px; display: block;"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="50px"
              height="50px"
              viewBox="0 0 25 25"
              fill="none"
            >
              <path
                d="M17.6735 6.22563C17.4362 6.22563 17.2042 6.296 17.0068 6.42786C16.8095 6.55972 16.6557 6.74713 16.5648 6.9664C16.474 7.18568 16.4503 7.42696 16.4966 7.65973C16.5429 7.89251 16.6571 8.10633 16.825 8.27415C16.9928 8.44198 17.2066 8.55626 17.4394 8.60257C17.6722 8.64887 17.9134 8.62511 18.1327 8.53428C18.352 8.44346 18.5394 8.28965 18.6713 8.09231C18.8031 7.89497 18.8735 7.66296 18.8735 7.42562C18.8735 7.10737 18.7471 6.80214 18.522 6.5771C18.297 6.35205 17.9918 6.22563 17.6735 6.22563ZM22.2735 8.64563C22.2539 7.81594 22.0985 6.99508 21.8135 6.21562C21.5604 5.54817 21.1645 4.94409 20.6535 4.44563C20.1583 3.93305 19.5531 3.5398 18.8835 3.29562C18.1062 3.00179 17.2843 2.84283 16.4535 2.82562C15.3935 2.76562 15.0535 2.76562 12.3335 2.76562C9.6135 2.76562 9.2735 2.76562 8.2135 2.82562C7.38265 2.84283 6.56084 3.00179 5.7835 3.29562C5.11548 3.54288 4.51086 3.93571 4.0135 4.44563C3.50092 4.9408 3.10767 5.54606 2.8635 6.21562C2.56966 6.99297 2.41071 7.81478 2.3935 8.64563C2.3335 9.70563 2.3335 10.0456 2.3335 12.7656C2.3335 15.4856 2.3335 15.8256 2.3935 16.8856C2.41071 17.7165 2.56966 18.5383 2.8635 19.3156C3.10767 19.9852 3.50092 20.5904 4.0135 21.0856C4.51086 21.5955 5.11548 21.9884 5.7835 22.2356C6.56084 22.5295 7.38265 22.6884 8.2135 22.7056C9.2735 22.7656 9.6135 22.7656 12.3335 22.7656C15.0535 22.7656 15.3935 22.7656 16.4535 22.7056C17.2843 22.6884 18.1062 22.5295 18.8835 22.2356C19.5531 21.9914 20.1583 21.5982 20.6535 21.0856C21.1657 20.5882 21.5618 19.9838 21.8135 19.3156C22.0985 18.5362 22.2539 17.7153 22.2735 16.8856C22.2735 15.8256 22.3335 15.4856 22.3335 12.7656C22.3335 10.0456 22.3335 9.70563 22.2735 8.64563ZM20.4735 16.7656C20.4664 17.4004 20.3514 18.0294 20.1335 18.6256C19.9738 19.0608 19.7174 19.454 19.3835 19.7756C19.0589 20.1059 18.6666 20.3618 18.2335 20.5256C17.6372 20.7436 17.0083 20.8585 16.3735 20.8656C15.3735 20.9156 15.0035 20.9256 12.3735 20.9256C9.7435 20.9256 9.3735 20.9256 8.3735 20.8656C7.71435 20.8786 7.05795 20.7771 6.4335 20.5656C6.01968 20.393 5.6454 20.1378 5.3335 19.8156C5.00158 19.4944 4.74834 19.1008 4.5935 18.6656C4.34854 18.061 4.2131 17.4177 4.1935 16.7656C4.1935 15.7656 4.1335 15.3956 4.1335 12.7656C4.1335 10.1356 4.1335 9.76562 4.1935 8.76562C4.19714 8.1166 4.31564 7.47335 4.5435 6.86562C4.71954 6.44354 4.98976 6.06728 5.3335 5.76562C5.63642 5.42082 6.01213 5.14757 6.4335 4.96562C7.0429 4.7451 7.68544 4.63012 8.3335 4.62562C9.3335 4.62562 9.7035 4.56562 12.3335 4.56562C14.9635 4.56562 15.3335 4.56562 16.3335 4.62562C16.9683 4.63271 17.5972 4.74768 18.1935 4.96562C18.6479 5.13428 19.0558 5.40847 19.3835 5.76562C19.7102 6.07365 19.9661 6.44897 20.1335 6.86562C20.3559 7.47451 20.471 8.11739 20.4735 8.76562C20.5235 9.76562 20.5335 10.1356 20.5335 12.7656C20.5335 15.3956 20.5235 15.7656 20.4735 16.7656ZM12.3335 7.63562C11.3193 7.6376 10.3285 7.94015 9.48615 8.50504C8.64384 9.06994 7.98787 9.87182 7.60113 10.8094C7.21439 11.7469 7.11422 12.7781 7.31329 13.7726C7.51236 14.767 8.00173 15.6802 8.71957 16.3966C9.43741 17.113 10.3515 17.6006 11.3464 17.7978C12.3412 17.9949 13.3722 17.8927 14.309 17.5042C15.2458 17.1156 16.0464 16.4581 16.6096 15.6147C17.1729 14.7713 17.4735 13.7798 17.4735 12.7656C17.4748 12.0907 17.3427 11.4222 17.0847 10.7986C16.8268 10.1749 16.4481 9.60843 15.9704 9.13168C15.4927 8.65492 14.9254 8.2773 14.3013 8.02055C13.6771 7.7638 13.0084 7.63299 12.3335 7.63562ZM12.3335 16.0956C11.6749 16.0956 11.0311 15.9003 10.4834 15.5344C9.93583 15.1685 9.50902 14.6484 9.25698 14.04C9.00494 13.4315 8.93899 12.7619 9.06748 12.116C9.19597 11.47 9.51312 10.8767 9.97883 10.411C10.4445 9.94525 11.0379 9.6281 11.6838 9.49961C12.3298 9.37112 12.9994 9.43707 13.6078 9.68911C14.2163 9.94115 14.7364 10.368 15.1023 10.9156C15.4682 11.4632 15.6635 12.107 15.6635 12.7656C15.6635 13.2029 15.5774 13.6359 15.41 14.04C15.2427 14.444 14.9974 14.8111 14.6882 15.1203C14.3789 15.4295 14.0118 15.6748 13.6078 15.8421C13.2038 16.0095 12.7708 16.0956 12.3335 16.0956Z"
                fill="#000"
              />
            </svg>
          </a>
          <a
            href="https://www.youtube.com/@romazioficial"
            target="_blank"
            style="margin: 0 10px; display: block;"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="50px"
              height="50px"
              viewBox="0 0 25 25"
              fill="none"
            >
              <path
                d="M10.3335 15.7656L15.5235 12.7656L10.3335 9.76562V15.7656ZM21.8935 7.93563C22.0235 8.40563 22.1135 9.03562 22.1735 9.83562C22.2435 10.6356 22.2735 11.3256 22.2735 11.9256L22.3335 12.7656C22.3335 14.9556 22.1735 16.5656 21.8935 17.5956C21.6435 18.4956 21.0635 19.0756 20.1635 19.3256C19.6935 19.4556 18.8335 19.5456 17.5135 19.6056C16.2135 19.6756 15.0235 19.7056 13.9235 19.7056L12.3335 19.7656C8.1435 19.7656 5.5335 19.6056 4.5035 19.3256C3.6035 19.0756 3.0235 18.4956 2.7735 17.5956C2.6435 17.1256 2.5535 16.4956 2.4935 15.6956C2.4235 14.8956 2.3935 14.2056 2.3935 13.6056L2.3335 12.7656C2.3335 10.5756 2.4935 8.96563 2.7735 7.93563C3.0235 7.03563 3.6035 6.45563 4.5035 6.20563C4.9735 6.07563 5.8335 5.98562 7.1535 5.92562C8.4535 5.85562 9.6435 5.82562 10.7435 5.82562L12.3335 5.76562C16.5235 5.76562 19.1335 5.92563 20.1635 6.20563C21.0635 6.45563 21.6435 7.03563 21.8935 7.93563Z"
                fill="#000"
              />
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/company/romazi/"
            target="_blank"
            style="margin: 0 10px; display: block;"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="50px"
              height="50px"
              viewBox="0 0 25 25"
              fill="none"
            >
              <path
                d="M7.27344 5.76663C7.27317 6.29706 7.0622 6.80566 6.68694 7.18055C6.31168 7.55543 5.80287 7.76589 5.27244 7.76563C4.742 7.76536 4.2334 7.55439 3.85852 7.17913C3.48363 6.80387 3.27317 6.29506 3.27344 5.76463C3.2737 5.23419 3.48467 4.72559 3.85993 4.3507C4.23519 3.97582 4.744 3.76536 5.27444 3.76563C5.80487 3.76589 6.31347 3.97686 6.68836 4.35212C7.06324 4.72738 7.2737 5.23619 7.27344 5.76663ZM7.33344 9.24662H3.33344V21.7666H7.33344V9.24662ZM13.6534 9.24662H9.67344V21.7666H13.6134V15.1966C13.6134 11.5366 18.3834 11.1966 18.3834 15.1966V21.7666H22.3334V13.8366C22.3334 7.66663 15.2734 7.89663 13.6134 10.9266L13.6534 9.24662Z"
                fill="#000"
              />
            </svg>
          </a>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align:center; padding: 24px;">
          <img
            src="https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/7e310845-f0a1-468c-b78c-16bc7f9f7ca8___f0265fbb9ac23a88c955cb97e0304a21.png"
            alt="logo-footer"
          />
        </td>
      </tr>
    </table>
  </td>
</tr>