<tr style="width: 100%; background-color: #FAFAFA;">
  <td align="center" style="width: 100%; border-top: 5px solid #00579d;">
    <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
      <tbody>
        <tr style="width: 100%;">
          <td
            style="font-family: Arial, sans-serif; font-size: 14px; color: #333333; text-align: center; padding: 40px; text-align: left;"
          >
            <h4 style="margin-bottom: 10px;">Atendimento</h4>
            <ul
              style="list-style: none; padding: 0; margin: 0; text-align: left;"
            >
              <li style="margin-bottom: 5px; margin-left: 0;">
                <span style="position: relative; top: 4px;">
                  <img src="https://pontodamoda.vtexassets.com/assets/vtex.file-manager-graphql/images/7674fe5c-92a3-4497-9ae3-55d2af99fbeb___6eeccb083c2995d0c15b4d663fb754f8.png" alt="Telefone" />
                </span>
                <a
                  href="tel:(85) 99617-1019"
                  style="color: #333333; text-decoration: none;"
                  target="_blank"
                >
                  (85) 99617-1019
                </a>
              </li>
              <li style="margin-left: 0">
                <a
                  href="mailto:ecommerce@lojaspontodamoda.com.br"
                  style="text-decoration: none; color: #333333;"
                  target="_blank"
                >
                  <img src="https://pontodamoda.vtexassets.com/assets/vtex.file-manager-graphql/images/5c9100e4-a407-4c2e-a4cb-734ed83e52d0___2503883fd9c8246ee8f083a783fedbd6.png" alt="email" style="position: relative; top: 4px;" />
                  ecommerce@lojaspontodamoda.com.br
                </a>
              </li>
            </ul>
          </td>
          <td
            style="font-family: Arial, sans-serif; font-size: 14px; color: #333333; text-align: center; padding: 40px; text-align: left;"
          >
            <h4 style="margin-bottom: 10px;">Redes Sociais</h4>
            <ul
              style="list-style: none; padding: 0; margin: 0; display: flex; gap: 10px; text-align: left;"
            >
              <li style="margin-left: 0">
                <a
                  href="https://www.facebook.com/lojaspontodamoda/?locale=pt_BR"
                  style="text-decoration: none; color: #333333;"
                  target="_blank"
                >
                  <img src="https://pontodamoda.vtexassets.com/assets/vtex.file-manager-graphql/images/82eaf86d-4857-43d8-be7e-8de5b863874b___4459750fbb719621e3cea7aab6af14fa.png" alt="Facebook" />
                </a>
              </li>
              <li style="margin-left: 0">
                <a
                  href="https://www.instagram.com/lojaspontodamoda/?hl=pt"
                  style="text-decoration: none; color: #333333;"
                  target="_blank"
                >
                  <img src="https://pontodamoda.vtexassets.com/assets/vtex.file-manager-graphql/images/5275dbb2-e93f-4f5e-bd48-ad9c6a01881e___3f23e98fc3d7483398ab650a831a8d1e.png" alt="Instagram" />
                </a>
              </li>
              <li style="margin-left: 0">
                <a
                  href="https://www.youtube.com/@lojaspontodamoda"
                  style="text-decoration: none; color: #333333;"
                  target="_blank"
                >
                  <img alt="Youtube" src="https://pontodamoda.vtexassets.com/assets/vtex.file-manager-graphql/images/7e89daf7-ebfd-4817-bc67-f6d9beb2fb2b___91aa0bb09c59979a848130ccee8d7dbd.png" />
                </a>
              </li>
              <li style="margin-left: 0">
                <a
                  href="https://www.tiktok.com/@lojaspontodamoda"
                  style="text-decoration: none; color: #333333;"
                  target="_blank"
                >
                  <img src="https://pontodamoda.vtexassets.com/assets/vtex.file-manager-graphql/images/1b64c8da-3ba8-42f5-a3c3-fbb68c92a1d7___b9124cba2e0a450f309c023332b0895f.png" alt="Tiktok" />
                </a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="width: 100%;">
      <tbody>
        <tr style="width: 100%;">
          <td
            style="vertical-align: middle; text-align:center; padding: 24px; width: 100%;"
          >
            <img
              alt="Google safing browsing"
              src="https://pontodamoda.vtexassets.com/assets/vtex.file-manager-graphql/images/181fb122-7eb3-42a8-9994-1e6d4cfad66d___64b159813e4eb4c9ac94729841ca349c.png"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <tr>
         <td>
           <p style="text-align: center; padding: 0 40px; font-family: Arial, sans-serif; font-size: 14px; color: #777777; padding-bottom: 40px;">
            © 2025 Ponto da Moda. Todos os direitos reservados. CNPJ: 72.286.628/0001-06 | Rua Guilherme Rocha, 203, Centro - Fortaleza, CE.
          </p>
         </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>