<tr style="width: 100%; background-color: #FAFAFA;">
  <td align="center" style="width: 100%;">
    <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
      <tbody>
        <tr style="width: 100%;">
          <td
            style="font-family: Arial, sans-serif; font-size: 14px; color: #333333; text-align: center; padding: 40px; text-align: left;"
          >
            <h4 style="margin-bottom: 10px;">Atendimento</h4>
            <ul
              style="list-style: none; padding: 0; margin: 0; text-align: left;"
            >
              <li style="margin-bottom: 5px;">
                <span style="position: relative; top: 4px;">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_4465_4983)">
                      <path
                        d="M0 18L1.26051 13.3823C-1.51074 8.47585 0.750683 2.36698 6.06732 0.519694C12.5334 -1.72685 18.9353 3.63224 17.8866 10.3714C16.9461 16.4128 10.0635 19.6664 4.71075 16.7802L0 18ZM2.20238 15.8444L4.94364 15.1377C10.7284 18.7474 18.0886 13.5364 16.1992 6.8371C15.4865 4.30892 13.3277 2.26669 10.7687 1.67718C4.08377 0.137304 -0.876266 7.51097 2.89964 13.148L2.20285 15.8448L2.20238 15.8444Z"
                        fill="#00579C"
                      />
                      <path
                        d="M13.5282 10.937C13.7391 11.1933 13.4439 12.0893 13.2527 12.3452C11.8685 14.1967 8.5602 12.4623 7.24065 11.2978C6.027 10.2265 4.27821 8.17776 4.51017 6.46075C4.58608 5.89794 5.16854 4.85152 5.78661 4.78498C6.68162 4.68844 6.64132 4.83512 6.95668 5.53617C7.17317 6.01744 7.35264 6.52073 7.54757 7.01184C7.56398 7.14727 7.4801 7.24849 7.42293 7.35815C7.26361 7.66556 6.71395 8.07232 6.8147 8.39473C6.87655 8.59201 7.46838 9.35445 7.63614 9.54237C8.01242 9.96365 8.54146 10.3962 9.02879 10.6802C9.25325 10.8109 10.0067 11.2158 10.2279 11.1488C10.4899 11.0696 11.0395 10.1 11.2316 10.0428C11.6215 9.9271 12.6384 10.5686 13.0404 10.7458C13.1547 10.7964 13.3979 10.7786 13.5277 10.9365L13.5282 10.937Z"
                        fill="#00579C"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_4465_4983">
                        <rect width="18" height="18" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                <a
                  href="tel:(85) 99617-1019"
                  style="color: #333333; text-decoration: none;"
                  target="_blank"
                >
                  (85) 99617-1019
                </a>
              </li>
              <li>
                <a
                  href="mailto:ecommerce@lojaspontodamoda.com.br"
                  style="text-decoration: none; color: #333333;"
                  target="_blank"
                >
                  <span style="position: relative; top: 2px;">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="19"
                      height="13"
                      viewBox="0 0 19 13"
                      fill="none"
                    >
                      <g clip-path="url(#clip0_4465_4988)">
                        <path
                          d="M11.68 6.329C11.2349 6.6394 10.1669 8.05106 9.74684 8.15917C9.53188 8.21443 9.27619 8.20338 9.09116 8.07749L1.05957 0.181681L1.21564 0.0951936C6.58426 -0.0955589 11.9946 0.0697279 17.3789 0.0120697L17.8928 0.133632V0.23021L11.68 6.329Z"
                          fill="#00579C"
                        />
                        <path
                          d="M6.72732 7.26978L8.47302 8.97117C8.83816 9.20181 9.23275 9.32673 9.67445 9.28877C10.7223 9.19796 11.4972 7.87278 12.2736 7.26978L17.9411 12.8184L17.7851 12.9049C12.4164 13.0961 7.00608 12.9308 1.62224 12.9885L1.1084 12.8669L6.7283 7.26978H6.72732Z"
                          fill="#00579C"
                        />
                        <path
                          d="M0.22507 12.0736C0.156361 11.8526 0.0925594 11.6628 0.0748914 11.4274C-0.163136 8.22977 0.258933 4.7525 0.0748914 1.52556L0.224579 0.92688L5.91368 6.48273L0.22507 12.0736Z"
                          fill="#00579C"
                        />
                        <path
                          d="M18.775 12.0736L13.0859 6.5178L18.775 0.92688C18.8438 1.1479 18.9076 1.33769 18.9252 1.57313C19.1632 4.77076 18.7412 8.24803 18.9252 11.475L18.7755 12.0736H18.775Z"
                          fill="#00579C"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_4465_4988">
                          <rect width="19" height="13" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                  ecommerce@lojaspontodamoda.com.br
                </a>
              </li>
            </ul>
          </td>
          <td
            style="font-family: Arial, sans-serif; font-size: 14px; color: #333333; text-align: center; padding: 40px; text-align: left;"
          >
            <h4 style="margin-bottom: 10px;">Redes Sociais</h4>
            <ul
              style="list-style: none; padding: 0; margin: 0; display: flex; gap: 10px; text-align: left;"
            >
              <li>
                <a
                  href="https://www.facebook.com/lojaspontodamoda/?locale=pt_BR"
                  style="text-decoration: none; color: #333333;"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    viewBox="0 0 30 30"
                    fill="none"
                  >
                    <rect width="30" height="30" rx="15" fill="#00579C" />
                    <g clip-path="url(#clip0_4465_5012)">
                      <path
                        d="M19.5 9.3374H17.4525C16.9526 9.3374 16.35 9.8716 16.35 10.3775V12.701H19.2975C19.383 12.7572 19.3704 12.8528 19.3654 12.9427C19.3204 13.8106 19.0455 14.7612 19.0037 15.6429L18.9375 15.7548H16.35V23.5H13.155V15.7548H10.5V12.7674L10.5675 12.701H13.155C13.1726 10.7337 12.8382 8.40709 14.734 7.15061C16.1192 6.23269 17.8134 6.53719 19.3875 6.59295L19.5 6.65934V9.33696V9.3374Z"
                        fill="#FCD200"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_4465_5012">
                        <rect
                          width="9"
                          height="17"
                          fill="white"
                          transform="translate(10.5 6.5)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/lojaspontodamoda/?hl=pt"
                  style="text-decoration: none; color: #333333;"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    viewBox="0 0 30 30"
                    fill="none"
                  >
                    <rect width="30" height="30" rx="15" fill="#00579C" />
                    <g clip-path="url(#clip0_4465_5019)">
                      <path
                        d="M12.3153 6.56466C14.304 6.49822 16.6809 6.44849 18.6475 6.59635C21.6616 6.82253 23.2788 8.54709 23.4286 11.5469C23.5317 13.6156 23.5154 16.1621 23.4312 18.2374C23.3083 21.268 21.8273 23.1889 18.6916 23.4054C16.747 23.5396 14.4406 23.5079 12.4766 23.452C8.79007 23.3473 6.81021 22.2238 6.59561 18.3237C6.48545 16.3258 6.47091 13.9901 6.54978 11.9843C6.70578 8.03487 8.50761 6.69184 12.3153 6.56466ZM12.139 8.10484C9.33472 8.22409 8.21546 9.04126 8.09207 11.9403C8.03567 13.2719 8.0837 14.6198 8.0956 15.9448C8.12468 19.187 7.76246 21.7222 11.8597 21.911C13.7928 21.9998 16.1865 21.9981 18.1205 21.911C21.1341 21.775 21.8383 20.4966 21.9326 17.6649C21.9894 15.9496 21.993 14.0068 21.9326 12.2924C21.8224 9.16844 20.9217 8.20693 17.7684 8.08988C15.982 8.02343 13.925 8.02871 12.139 8.10484Z"
                        fill="#FCD200"
                      />
                      <path
                        d="M14.8715 10.6567C18.2817 10.5718 20.485 14.2625 18.7492 17.2143C17.0584 20.0896 12.8163 20.0333 11.1995 17.114C9.62945 14.2783 11.6261 10.7377 14.871 10.6567H14.8715ZM14.6939 12.1964C11.0581 12.5833 11.5851 18.1358 15.254 17.8163C18.9493 17.4946 18.4399 11.7982 14.6939 12.1964Z"
                        fill="#FCD200"
                      />
                      <path
                        d="M19.2302 9.50992C21.0743 9.13631 20.8104 12.0138 19.1663 11.4461C18.2312 11.1231 18.344 9.68946 19.2302 9.50992Z"
                        fill="#FCD200"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_4465_5019">
                        <rect
                          width="17"
                          height="17"
                          fill="white"
                          transform="translate(6.5 6.5)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com/@lojaspontodamoda"
                  style="text-decoration: none; color: #333333;"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    viewBox="0 0 30 30"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_4465_5015)">
                      <path
                        d="M13.9626 0.0359412C26.594 -0.806378 34.552 13.4373 27.156 23.7912C20.8294 32.6489 7.2723 31.8878 1.94407 22.4129C-3.463 12.7957 3.008 0.765743 13.9626 0.0359412ZM9.58906 9.40928C8.31672 9.64057 7.25981 10.7212 7.12009 12.0167C6.971 13.3966 6.971 16.6338 7.12009 18.0138C7.26918 19.3937 8.39321 20.4673 9.72566 20.6407C13.1056 20.4235 16.8508 20.9322 20.1878 20.6446C21.5819 20.5243 22.7457 19.3351 22.8769 17.945C22.9854 16.7948 23.0299 12.5449 22.7769 11.562C22.4866 10.4352 21.4109 9.53586 20.2619 9.39131L9.58906 9.41084V9.40928Z"
                        fill="#00579C"
                      />
                      <path
                        d="M9.5891 9.4093L20.262 9.38977C21.411 9.53511 22.4866 10.4337 22.777 11.5604C23.0299 12.5434 22.9846 16.7933 22.8769 17.9435C22.7458 19.3343 21.5819 20.5228 20.1878 20.6431C16.8508 20.9306 13.1056 20.4227 9.7257 20.6392C8.39325 20.4657 7.26531 19.3554 7.12012 18.0122C6.97494 16.669 6.97103 13.3951 7.12012 12.0152C7.25985 10.7197 8.31753 9.63903 9.5891 9.40774V9.4093ZM12.8863 12.5926V17.4371L17.0241 15.0532L12.8863 12.5926Z"
                        fill="#FCD200"
                      />
                      <path
                        d="M12.8857 12.5927L17.0236 15.0532L12.8857 17.4372V12.5927Z"
                        fill="#00579C"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_4465_5015">
                        <rect width="30" height="30" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.tiktok.com/@lojaspontodamoda"
                  style="text-decoration: none; color: #333333;"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    viewBox="0 0 30 30"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_4465_5024)">
                      <path
                        d="M13.9626 0.0343458C26.5824 -0.789766 34.5624 13.4451 27.1512 23.7828C20.9338 32.4559 7.83187 31.9575 2.24184 22.8923C-3.67826 13.2936 2.78024 0.763938 13.9626 0.0343458ZM22.4835 10.7126C20.1902 10.7681 18.2184 8.84023 18.1801 6.54522L18.0748 6.41633H15.4998L15.3828 6.5335V18.6413C15.3828 18.7733 15.119 19.3857 15.034 19.542C14.1476 21.1707 11.6842 21.2222 10.7158 19.6412C9.42211 17.5282 11.3916 15.1769 13.6654 15.8682V13.0561C9.62187 12.3905 6.33058 16.3463 7.85372 20.2411C9.37685 24.1359 14.3832 24.7147 16.9403 21.6854C17.4779 21.0488 18.1911 19.6318 18.1911 18.7975V12.1187C18.6725 12.3343 19.0829 12.6725 19.5675 12.8889C20.482 13.2975 21.4816 13.4967 22.4827 13.5248V10.7126H22.4835Z"
                        fill="#00579C"
                      />
                      <path
                        d="M22.4839 10.7127V13.5248C21.4828 13.4959 20.4832 13.2975 19.5687 12.889C19.0842 12.6726 18.6729 12.3351 18.1923 12.1188V18.7976C18.1923 19.6318 17.4791 21.0489 16.9415 21.6855C14.3844 24.7148 9.30316 23.9461 7.85494 20.2411C6.3318 16.3456 9.62308 12.3906 13.6666 13.0561V15.8683C11.3928 15.1777 9.42255 17.5282 10.7171 19.6412C11.6854 21.2223 14.148 21.1707 15.0352 19.542C15.1203 19.3858 15.384 18.7726 15.384 18.6414V6.53355L15.501 6.41638H18.076L18.1814 6.54527C18.2196 8.84029 20.1914 10.7674 22.4847 10.7127H22.4839Z"
                        fill="#FCD200"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_4465_5024">
                        <rect width="30" height="30" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="width: 100%;">
      <tbody>
        <tr style="width: 100%;">
          <td
            style="vertical-align: middle; text-align:center; padding: 24px; width: 100%;"
          >
            <img
              alt="Google safing browsing"
              src="https://pontodamoda.vtexassets.com/assets/vtex.file-manager-graphql/images/181fb122-7eb3-42a8-9994-1e6d4cfad66d___64b159813e4eb4c9ac94729841ca349c.png"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <tr>
          <p style="text-align: center; padding: 0 40px; font-family: Arial, sans-serif; font-size: 14px; color: #777777;">
            © 2025 Ponto da Moda. Todos os direitos reservados. CNPJ: 72.286.628/0001-06 | Rua Guilherme Rocha, 203, Centro - Fortaleza, CE.
          </p>
        </tr>
      </tbody>
    </table>
  </td>
</tr>