.paragraph--footer-contact-title {
  color: #515151;
  font-family: 'Mulish Bold', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin: 0;
}

.paragraph--contact-number {
  color: #515151;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 12.2194C23.8844 9.18438 22.6069 6.31044 20.4326 4.19389C18.2583 2.07733 15.3541 0.880636 12.3225 0.852085C9.29099 0.823535 6.36481 1.96533 4.15117 4.04056C1.93753 6.11579 0.606365 8.96514 0.433847 11.9974C0.433847 12.1731 0.433847 12.3396 0.433847 12.5153C0.432098 14.6513 1.01645 16.7467 2.12307 18.5725L0 24.8516L6.52616 22.7709C8.31479 23.7546 10.3275 24.2568 12.3678 24.2284C14.4081 24.1999 16.4061 23.6417 18.1667 22.6084C19.9273 21.5751 21.3903 20.102 22.4127 18.3329C23.4351 16.5639 23.982 14.5594 24 12.5153V12.2194ZM12.2123 22.3917C10.2738 22.3973 8.37656 21.8312 6.75693 20.7641L2.95386 21.9756L4.19078 18.3228C2.96073 16.6478 2.29765 14.6225 2.29845 12.5431C2.29965 12.234 2.31813 11.9253 2.35383 11.6183C2.61425 9.16289 3.77833 6.89268 5.619 5.25052C7.45967 3.60836 9.84493 2.712 12.3096 2.73625C14.7742 2.76051 17.1414 3.70363 18.9496 5.38169C20.7577 7.05976 21.877 9.35243 22.0892 11.8125C22.1033 12.0681 22.1033 12.3244 22.0892 12.58C22.06 15.1898 21.0028 17.6824 19.1476 19.5149C17.2925 21.3474 14.7899 22.3714 12.1846 22.364L12.2123 22.3917Z' fill='%23515151'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5838 14.9002C17.2977 14.7522 15.8761 14.0587 15.6084 13.9754C15.3407 13.8922 15.1561 13.8275 14.9623 14.1142C14.7684 14.4008 14.2146 15.0389 14.0392 15.2424C13.8638 15.4458 13.6977 15.4551 13.4023 15.3071C12.5498 14.9778 11.7646 14.4952 11.0854 13.883C10.4509 13.3071 9.90912 12.6364 9.4792 11.8947C9.31304 11.6081 9.47921 11.4601 9.60844 11.3121C9.73767 11.1642 9.8946 10.9792 10.0423 10.8128L10.1438 10.6741C10.2111 10.5632 10.2727 10.449 10.3284 10.3319C10.3721 10.2543 10.3951 10.1667 10.3951 10.0776C10.3951 9.9885 10.3721 9.90091 10.3284 9.8233C10.2638 9.68458 9.68229 8.26971 9.40536 7.68711C9.12844 7.10451 8.92537 7.21547 8.74999 7.21547C8.5746 7.21547 8.38998 7.21547 8.19614 7.21547C8.05046 7.21917 7.90713 7.25313 7.77525 7.31521C7.64336 7.37729 7.52579 7.46613 7.42997 7.57611C7.10222 7.88145 6.84241 8.25257 6.66746 8.66526C6.4925 9.07795 6.40635 9.52297 6.4146 9.97126C6.42163 10.303 6.47125 10.6325 6.56227 10.9515C6.78742 11.67 7.13743 12.3431 7.59614 12.9397C8.80147 14.825 10.5131 16.3315 12.5346 17.2861C15.47 18.4328 15.47 18.0444 16.0054 17.9981C16.408 17.9205 16.7896 17.7584 17.1253 17.5225C17.461 17.2866 17.7431 16.9823 17.9531 16.6295C18.1426 16.2031 18.2004 15.7297 18.1192 15.2701C18.0638 15.0944 17.8792 15.0204 17.5838 14.9002Z' fill='%23515151'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 4px;
  }
}

.paragraph--phone::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M16 2.85156H8C7.46957 2.85156 6.96086 3.06228 6.58579 3.43735C6.21071 3.81242 6 4.32113 6 4.85156V20.8516C6 21.382 6.21071 21.8907 6.58579 22.2658C6.96086 22.6408 7.46957 22.8516 8 22.8516H16C16.5304 22.8516 17.0391 22.6408 17.4142 22.2658C17.7893 21.8907 18 21.382 18 20.8516V4.85156C18 4.32113 17.7893 3.81242 17.4142 3.43735C17.0391 3.06228 16.5304 2.85156 16 2.85156ZM13 21.8516H11V20.8516H13V21.8516ZM16 19.8516H8V5.85156H16V19.8516Z' fill='%23515151'/%3E%3C/svg%3E");
}

.paragraph--contact-text {
  color: #515151;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.paragraph--address {
  color: #515151;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 16px;
}

.paragraph--footer-titles {
  color: #4f4f4f;
  font-family: 'Mulish Bold', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 16px;
  margin-top: 0;
}

.paragraph--poweredby-titles {
  color: #91989e;
  font-family: 'Futura Bk BT', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 1025px) {
  .paragraph--address {
    text-align: left;
    font-size: 18px;
    margin-top: 32px;
    margin-left: 8px;
  }
}
