.reviewsContainerModal :global(.vtex-reviews-and-ratings-3-x-reviewsHeading) {
  display: none;
}

.reviewsContainerModal :global(.vtex-reviews-and-ratings-3-x-container) {
  border: none;
}

.reviewsContainerModal :global(.vtex-reviews-and-ratings-3-x-reviewsRating),
.reviewsContainerModal :global(.vtex-reviews-and-ratings-3-x-reviewCommentsContainer) {
  display: none;
}

.reviewsContainerModal div[role="region"] {
  overflow: visible !important;
  height: auto !important;
}

.reviewsContainerModal :global(.vtex-styleguide-9-x-jsFocusVisible) div[role="button"] {
  display: none;
}

.reviewsContainerModal :global(.vtex-reviews-and-ratings-3-x-formContainer) {
  background-color: #fff;
  padding: 0px;
}


.reviewsContainerModal :global(.vtex-card) {
  box-shadow: none !important;
  padding: 0px;
}

.reviewsContainerModal :global(.vtex-reviews-and-ratings-3-x-reviewsOrderBy) {
  display: none;
}