.regionalizationModal {
  color: #323c32;
  font-size: 16px;
  line-height: 24px;
}

.closeDiv {
  margin-bottom: 18px;
}

.closeButton {
  background: none;
  border: none;
}

.modalTextHighlight {
  color: #3fa110;
}

.regionalizationModal :global(.vtex-input) {
  display: flex;
  width: 142px;
}

.zipCodeInput {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.12px;
  width: 60%;
  border-radius: 8px;
  border: 1px solid #BBC6CB;
  height: 40px;
  padding: 0 12px;
  margin-right: 9px;
}

.zipCodeInput::placeholder {
  color: #A8A8A8;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.12px;
}

.modalTitle {
  color: var(--Bombay, #38434D);
  font-family: 'Mulish Bold', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.zipCodeInput:focus {
  outline: none
}

.confirmZipcode {
  border-radius: 8px;
  background: var(--Cobalto-800, #2643A8);
  color: #E0E0E0;
  text-align: center;
  font-family: 'Mulish Bold', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  width: 100%;
  height: 40px;
  line-height: normal;
  border: none;
  transition: all 0.3s;
}

.confirmZipcode:hover {
  filter: brightness(0.9);
}

.confirmZipcode:disabled {
  background-color: #A3A3A3;
  cursor: not-allowed;
  ;
}

.errorMessage {
  font-family: "Mulish", sans-serif;
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #E60000;
  margin: 32px 0;
}

.regionalizationModalContainer {
  background-color: #fff;
  border-radius: 4px;
  margin: 0 18px;
  max-width: 366px;
  outline: none;
  padding: 20px;
  padding-top: 0;
}

.regionalizationModalContainer__overlay {
  align-items: center;
  background: rgb(50 60 50 / 60%);
  inset: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99999;
}

.modalText {
  margin-top: 0;
  color: #4D5156;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.searchZipcode,
.useMyLocalizationButton {
  height: 40px;
  background-color: transparent;
  border: 1px solid #2643a8;
  border-radius: 8px;
  color: #2643a8;
  text-align: center;
  font-family: 'Mulish Bold', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.secondModal .useMyLocalizationButton {
  margin-bottom: 12px;
}

.searchZipcode {
  width: 40%;
  transition: all 0.3s;
}

.useMyLocalizationButton {
  width: 100%;
  margin: 32px 0;
  transition: all 0.3s;
}

.searchZipcode:hover,
.useMyLocalizationButton:hover {
  background-color: #2643a8;
  color: #fff;
}

.regionalizationButton {
  height: 40px;
  border-radius: 16px;
  background-color: #F0F6FE;
  padding: 0 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.regionaliseCity {
  margin: 0 8px;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.regionaliseChange {
  color: var(--Blue-Romazi, #0D1635);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  margin-bottom: 3px;
  margin-left: 8px;
}

.addressCity {
  color: #292929;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 32px 0;
}

@media (max-width: 1025px) {
  .regionalizationButton {
    background-color: #fff;
    border: none;
    border-radius: 0;
  }

  .regionaliseChange {
    margin-left: 0;
    font-size: 17px;
  }

}

@media (min-width: 1025px) {
  .regionalizationModalContainer {
    height: auto;
    width: 490px;
    position: absolute;
    right: calc(50% - 260px);
    top: calc(50% - 145px);
    z-index: 99999;
    max-width: 490px;
  }
}