.container-cart {
  margin: 0 auto;
  max-width: 1332px;
  padding: 1rem;
  width: 100% !important;

  #cart-title {
    display: none !important;
  }

  .cart-template {
    .cart {
      background: #fff;
      border: 1px solid var(--COLOR-CINZA-CLARO, #d6d6d6);
      border-radius: 2px;
      margin-bottom: 10px;
      padding: 30px 20px;

      table {
        tbody {
          .product-image img {
            height: 79.672px;
            min-height: 60px;
            min-width: 80px;
            width: 60px;

            @media screen and (max-width: 768px) {
              height: auto;
              min-height: unset;
              min-width: unset;
            }
          }

          .product-name {
            max-width: 150px;

            small.seller.muted {
              display: none !important;
            }
          }

          .product-name a {
            color: var(--COLOR-PRETO, #000);
            display: block;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            max-height: 72px;
            overflow: hidden;
          }

          .quantity-price,
          .quantity-price *,
          .product-price,
          .product-price *,
          span.shipping-estimate-date {
            color: var(--COLOR-PRETO, #000);
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          td.quantity {
            align-items: center;
            border: 1px solid var(--Neutras-03, #ccc);
            border-radius: 1px;
            display: flex;
            height: 40px;
            justify-content: space-between;
            margin: 0 auto;
            margin-top: 2rem;
            max-height: 40px;
            max-width: 120px;
            width: 100% !important;

            .item-quantity-change {
              left: unset !important;
              position: relative !important;
              top: unset !important;
            }

            input {
              background-color: transparent !important;
              border: none;
              box-shadow: none;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 22px; /* 157.143% */
            }

            a {
              padding: 10px;

              i {
                &::before {
                  color: var(--Neutras-00, #000);
                  content: '';
                  font-family: Inter;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  leading-trim: both;
                  line-height: 18px; /* 128.571% */
                  text-edge: cap;
                }

                &.icon-plus-sign::before {
                  content: '+';
                }

                &.icon-minus-sign::before {
                  content: '−';
                }
              }
            }

            small.item-unit-label,
            small.item-multiplier-label {
              display: none;
            }
          }
        }

        .item-link-remove {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' viewBox='0 0 14 15' fill='none'%3E%3Cpath d='M14 13.5978C13.9839 13.6446 13.9675 13.6917 13.9514 13.7384C13.7461 14.3361 13.0057 14.5315 12.5345 14.1114C12.4632 14.0478 12.3975 13.9781 12.3295 13.9105C10.6828 12.2641 9.03648 10.6178 7.39013 8.97108C7.09644 8.67739 6.90539 8.67629 6.61499 8.9667C4.92335 10.6583 3.23207 12.3504 1.53969 14.0409C1.13569 14.4445 0.546477 14.4314 0.203472 14.0164C-0.0730499 13.6818 -0.0664747 13.2018 0.21991 12.8753C0.258996 12.8307 0.301735 12.7894 0.343743 12.7478C2.01274 11.0788 3.68174 9.40979 5.35073 7.74079C5.66415 7.42738 5.66524 7.2462 5.35548 6.93643C3.67005 5.25136 1.98461 3.56629 0.299908 1.88086C-0.0756069 1.50498 -0.0997158 0.983349 0.234522 0.619158C0.372235 0.46866 0.550495 0.395237 0.738618 0.336426H1.03925C1.30956 0.408387 1.50207 0.58957 1.69348 0.781711C3.33435 2.42733 4.97887 4.06966 6.6223 5.71272C6.90064 5.99107 7.09973 5.99144 7.37808 5.71309C9.0215 4.06966 10.666 2.42769 12.3065 0.781711C12.4979 0.58957 12.6915 0.410214 12.9608 0.336426C13.0608 0.336426 13.1613 0.336426 13.2614 0.336426C13.3922 0.397063 13.5324 0.443455 13.6515 0.521626C13.8477 0.649842 13.9372 0.856229 13.9996 1.07467V1.3753C13.9251 1.64963 13.7403 1.84506 13.5452 2.03939C11.8959 3.68355 10.2503 5.33136 8.60361 6.97771C8.35193 7.22939 8.35193 7.44236 8.60361 7.69404C10.2536 9.34404 11.9022 10.9948 13.5547 12.6422C13.7469 12.8336 13.9266 13.0272 13.9996 13.2968V13.5974L14 13.5978Z' fill='black'/%3E%3C/svg%3E");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          display: block;
          height: 15px;
          width: 15px;

          i {
            display: none;
          }
        }

        thead {
          tr {
            th {
              color: var(--COLOR-PRETO, #000);
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
    }
  }

  .summary-template-holder {
    h2.srp-main-title {
      color: var(--COLOR-PRETO, #000);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 16px;
    }

    .srp-description {
      color: var(--COLOR-PRETO, #000);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 16px;
    }

    .cart-more-options {
      margin: 0;
    }

    #shipping-calculate-link {
      background: var(--Neutras-01, #1b1b1b);
      color: var(--Neutras-05, #fff);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px; /* 157.143% */
      margin: 0;
      min-width: 180px;
      padding: 12px 40px;
      text-transform: none;
    }

    .ship-postalCode {
      span.help.error {
        display: none;
      }
    }

    label[for='ship-postalCode'] {
      display: none;
    }

    p.ship-postalCode {
      &::before {
        content: 'CEP';
        display: block;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        line-height: 22px; /* 157.143% */
      }
    }

    input#ship-postalCode {
      min-height: 48px;
    }

    button#cart-shipping-calculate {
      background: var(--Neutras-01, #1b1b1b);
      color: var(--Neutras-05, #fff);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      height: auto;
      line-height: 22px; /* 157.143% */
      margin: 0;
      padding: 12px;
      text-transform: none;
    }

    .cart-totalizers {
      margin: 0;
      padding: 0;
      width: 100%;

      @media screen and (min-width: 1024px) {
        min-width: 400px;
        width: auto;
      }

      .summary-coupon {
        margin: 0;
      }

      .coupon-form {
        p.coupon-label {
          display: none;
        }

        .coupon-fields {
          align-items: center;
          display: flex;
          gap: 5px;
          justify-content: space-between;
          width: 100%;

          input#cart-coupon {
            border-radius: 0;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            height: 100%;
            line-height: 22px; /* 157.143% */
            padding: 10px;
            width: 100%;
          }

          & > span {
            align-items: center;
            display: flex;
            gap: 5px;
            justify-content: space-between;
            width: 100%;
          }

          button#cart-coupon-add {
            align-items: center;
            background: #00579c !important;
            border: none;
            border-radius: 0;
            border-radius: 6px;
            color: var(--Neutras-05, #fff);
            display: flex;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            height: 40px;
            line-height: 22px; /* 157.143% */
            padding: 1rem;
            padding: 20px;
            text-shadow: none;

            &:hover {
              background: var(--Neutras-05, #002f55);
              border-color: #002f55;
              color: #fff;
            }
          }
        }
      }

      .accordion-group {
        background: #fff;
        border: 1px solid var(--COLOR-CINZA-CLARO, #d6d6d6);
        border-radius: 2px;
        margin: 26px 0;

        .accordion-body {
          padding: 10px;
        }

        td.info {
          color: var(--COLOR-PRETO, #000);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding: 1rem 0;
          text-align: left;

          @media screen and (max-width: 768px) {
            font-size: 18px;
          }
        }

        td.monetary {
          color: var(--COLOR-PRETO, #000);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          padding: 1rem 0;
          text-align: right;

          @media screen and (max-width: 768px) {
            font-size: 18px;
          }
        }

        td.empty {
          display: none;
        }

        tfoot {
          td.monetary,
          td.info {
            padding-bottom: 0;
            padding-top: 1rem;

            @media screen and (max-width: 768px) {
              font-size: 18px;
            }
          }
        }
      }

      .link-coupon-add {
        background: #fff;
        border: 1px solid var(--Neutras-01, #1b1b1b);
        color: var(--Neutras-00, #000);
        display: block;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 10px;
        text-decoration: none;

        &:hover {
          background: var(--Neutras-05, #00579c);
          border-color: #00579c;
          color: #fff;
        }

        @media screen and (min-width: 1025px) {
          min-width: 400px;
        }
      }
    }
  }

  .cart-links-bottom {
    align-items: center;
    display: flex;
    margin: 0;
    margin-right: 1.5rem;

    span.link-choose-more-products-wrapper {
      a {
        align-items: center;
        background: #fff;
        border: 1px solid var(--Neutras-01, #1b1b1b);
        border-radius: 8px;
        color: var(--COLOR-PRETO, #000);
        display: block;
        display: flex;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        justify-content: center;
        line-height: normal;
        margin: 0;
        margin-right: 1rem;
        min-height: 46px;
        min-width: 160px;
        padding: 0 10px;
        text-transform: uppercase;
      }
    }

    a#cart-to-orderform {
      background: var(--Azul, #00579c);
      border-radius: 8px;
      color: var(--COLOR-PRETO, #fff);
      display: block;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      line-height: inherit;
      min-height: 46px;
      min-width: 160px;
      text-shadow: none;
    }
  }

  div#custom-share-button {
    margin-bottom: 40px;

    button {
      align-items: center;
      color: var(--COLOR-PRETO, #000);
      display: flex;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      gap: 0.5rem;
      justify-content: flex-start;
      line-height: normal;
    }
  }

  .cart-fixed {
    div#custom-share-button {
      display: none !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .srp-container {
    max-width: unset !important;
  }

  .cart-links-bottom {
    margin: 0;

    a {
      margin: 0;
      width: 100%;
    }
  }

  span.btn-place-order-wrapper,
  span.link-choose-more-products-wrapper {
    width: 100% !important;
  }

  span.btn-place-order-wrapper {
    a {
      width: 100%;
    }
  }

  .cart-links {
    flex-direction: column;
    width: 100% !important;
  }
}

.full-cart .cart table tbody tr + tr {
  border: none;
}
