// Payment Data Styles

div#payment-data {
  border-radius: 8px;
  margin: 0;
  padding: 0;

  .payment-group-list-btn {
    width: 100%;
  }

  .step.accordion-group {
    border: 1px solid #bbc6cb;
    margin-top: 22px;
    max-width: 798px;
    padding: 16px;
  }

  .payment-group {
    width: 35%;

    .payment-group-item {
      align-items: center;
      background-color: #fff;
      border: 1px solid rgb(0 0 0 / 20%);
      border-radius: 8px;
      box-sizing: border-box;
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
      margin-left: 0 !important;
      padding: 0.5rem 1rem;
      white-space: nowrap;

      .payment-group-item-text {
        color: var(--Bombay-800, #4d5156);
        display: flex;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        justify-content: space-between;
        line-height: 16px; /* 100% */
        width: 100%;
      }
    }
  }

  @media (min-width: 678px) and (max-width: 1055px) {
    .step.accordion-group.store-country-BRA {
      box-sizing: border-box;
      max-width: 100%;
      width: 100%;
    }

    .payment-group {
      width: 100%;
    }

    .steps-view {
      box-sizing: border-box;
      width: 100%;
    }

    #client-profile-data,
    #shipping-data {
      width: 100% !important;
    }
  }

  // @media (min-width: 980px) and (max-width: 1055px) {
  //   .payment-group {
  //     width: 100%;
  //   }

  //   .steps-view {
  //     box-sizing: border-box;
  //     margin-left: 24px;
  //     width: 100%;
  //   }
  // }

  .pg-transferencia-bancaria {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='25' viewBox='0 0 31 25' fill='none'%3E%3Cpath d='M4.56709 3.40067L0.110953 6.15155L0.0899003 7.14804L0.0688477 8.14453H9.09341H18.111V7.14102L18.1039 6.14453L13.6618 3.40769C11.2127 1.89892 9.1706 0.663829 9.11446 0.656812C9.06534 0.649794 7.01622 1.88488 4.56709 3.40067Z' fill='%234D5156'/%3E%3Cpath d='M24.0752 9.61765V11.0913H21.8296H19.584V13.372V15.6527H21.8296H24.0752L24.0892 17.1545L24.1103 18.6562L27.1208 16.0247L30.1243 13.3931L29.9629 13.2317C29.591 12.8808 24.1454 8.14397 24.1103 8.14397C24.0892 8.14397 24.0752 8.80362 24.0752 9.61765Z' fill='%234D5156'/%3E%3Cpath d='M1.61963 13.3706V17.125H3.1284H4.63717V13.3706V9.61623H3.1284H1.61963V13.3706Z' fill='%234D5156'/%3E%3Cpath d='M7.58447 13.3706V17.125H9.09324H10.602V13.3706V9.61623H9.09324H7.58447V13.3706Z' fill='%234D5156'/%3E%3Cpath d='M13.5493 12.8939V16.1641L13.7037 16.0307C13.7879 15.9606 14.4826 15.336 15.2476 14.6483L16.637 13.3991V11.5044V9.61669H15.0932H13.5493V12.8939Z' fill='%234D5156'/%3E%3Cpath d='M15.0593 16.7051C13.4382 18.1296 12.1049 19.3226 12.0908 19.3577C12.0768 19.4068 17.9084 24.5647 18.0558 24.6209C18.0838 24.6349 18.1119 23.9682 18.1119 23.1332V21.6174H20.3575H22.6031V19.3718V17.1261H20.3575H18.1119V15.6174C18.1119 14.7893 18.0908 14.1086 18.0628 14.1156C18.0277 14.1156 16.6803 15.2805 15.0593 16.7051Z' fill='%234D5156'/%3E%3Cpath d='M0.0761719 20.1084V21.6172H6.25161C9.6481 21.6172 12.427 21.6102 12.427 21.5961C12.427 21.5821 11.8727 21.0839 11.199 20.4944C10.5253 19.9049 9.97091 19.3996 9.97091 19.3716C9.97091 19.3435 10.1604 19.1681 10.392 18.9856C10.6235 18.8032 10.813 18.6347 10.813 18.6207C10.813 18.6137 8.39898 18.5996 5.44459 18.5996H0.0761719V20.1084Z' fill='%234D5156'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 25px;
      width: 25px;
    }

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M8.96967 6.09076C9.26256 5.79787 9.73744 5.79787 10.0303 6.09076L16.0303 12.0908C16.3232 12.3837 16.3232 12.8585 16.0303 13.1514L10.0303 19.1514C9.73744 19.4443 9.26256 19.4443 8.96967 19.1514C8.67678 18.8585 8.67678 18.3837 8.96967 18.0908L14.4393 12.6211L8.96967 7.15142C8.67678 6.85853 8.67678 6.38366 8.96967 6.09076Z' fill='%234D5156'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 25px;
      width: 25px;
    }
  }

  .gift-card-section.form-step.box-default {
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    width: 100%;

    p.payment-discounts-options {
      label {
        color: var(--Bombay-800, #60656b);
        display: block;
        font-family: 'Source Sans Pro Regular', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
      }
    }

    button {
      background: #007acb;
      border: none;
      color: #fff;
      opacity: 0.8;
      padding: 0.5rem 1rem;

      &:hover {
        opacity: 1;
      }
    }

    input {
      padding: 1rem;
    }
  }
}
