.container-order-form {
  h1 {
    display: none !important;
  }

  #client-profile-data {
    border: 1px solid #bbc6cb;
    border-radius: 8px;

    .client-profile-data {
      padding: 16px;
    }
  }

  .step.accordion-group {
    background-color: #fff;
    border: none;

    .accordion-toggle {
      & > span {
        color: #1d1d1f;
        font-family: 'Mulish Bold', sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .accordion-inner {
      padding-top: 0;
    }

    p.client-notice.notice {
      color: #4d5156;
      font-family: Mulish, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 10px;
    }
  }

  .client-email {
    span {
      font-family: Mulish, sans-serif;
    }
  }

  .client-phone,
  .client-last-name,
  .client-document,
  .client-first-name {
    display: flex;
    flex-direction: column;
    margin-right: 0 !important;
    width: 100%;

    input {
      font-family: Mulish, sans-serif;
      width: auto !important;
    }
  }

  .document-box,
  .phone-box {
    display: none !important;
  }

  .box-client-info {
    p {
      label {
        color: #505257;
        display: block;
        font-family: Mulish, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 5px;
      }
    }

    input {
      height: auto;
      padding: 0.5rem;
      stroke: #cedae0;
      stroke-width: 1px;
      width: 100%;
    }
  }

  .client-first-name {
    label {
      font-size: 0 !important;

      &::before {
        content: 'Nome';
        font-size: 14px !important;
      }
    }
  }

  .client-last-name {
    label {
      font-size: 0 !important;

      &::before {
        content: 'Sobrenome';
        font-size: 14px !important;
      }
    }
  }

  label.checkbox.newsletter-label {
    display: none;
  }

  a#is-corporate-client {
    color: #4f4f4f;
    font-family: Mulish, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  p.submit.btn-submit-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;

    button {
      background: #2643a8;
      border-radius: 8px;
      color: #fff;
      font-family: 'Mulish Bold', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 10px 40px;
      text-align: center;
      width: auto;
    }
  }
}

.icon-credit-card,
i.icon-user,
.icon-home {
  display: none !important;
}

.address-summary,
.form-step.box-info {
  * {
    color: #60656b;
    font-family: Mulish, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
