div#shipping-data {
  .shipping-data {
    background: var(--color-branco, #fff);
    border: 1px solid var(--color-cinza-claro, #d6d6d6);
    border-radius: 2px;
    padding: 10px;

    @media screen and (min-width: 1025px) {
      padding: 0;
    }

    label[for='ship-postalCode'] {
      color: var(--color-preto, #000);
      font-family: Poppins, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 8px;
    }

    .accordion-toggle {
      color: var(--color-preto, #000);
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    span.help.error {
      font-size: 12px;
    }

    .ship-postalCode {
      /* stylelint-disable selector-id-pattern */
      input#ship-postalCode {
        background: var(--color-branco, #fff);
        border: 1px solid var(--color-cinza-claro, #d6d6d6);
        border-radius: 2px;
        box-shadow: none !important;
        color: var(--color-preto, #000);
        font-family: Poppins, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        height: auto;
        line-height: normal;
        margin: 0;
        max-width: unset;
        min-height: 35px;
        padding: 10px;
        width: 100%;
      }
      /* stylelint-enable selector-id-pattern */
    }
  }

  .address-summary-BRA {
    color: var(--color-preto, #000);
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .shipping-container {
    .vtex-omnishipping-1-x-shippingSectionTitle.delivery-address-title,
    .vtex-omnishipping-1-x-shippingSectionTitle {
      color: var(--color-preto, #000);
      font-family: Poppins, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    label {
      color: var(--color-preto, #000);
      font-family: Poppins, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }

    input {
      background: var(--color-branco, #fff);
      border: 1px solid var(--color-cinza-claro, #d6d6d6);
      border-radius: 2px;
      box-shadow: none !important;
      color: var(--color-preto, #000);
      font-family: Poppins, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      height: auto;
      line-height: normal;
      max-width: unset;
      min-height: 35px;
      padding: 10px;
    }
  }

  .shp-summary-group-price.vtex-omnishipping-1-x-SummaryItemPrice {
    color: var(--color-preto, #000);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  a#open-shipping {
    border-color: #000;
    color: var(--azul, #000);
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  p.btn-go-to-payment-wrapper {
    button {
      background: var(--azul, #000);
      border-radius: 0;
      color: var(--neutras-05, #fff);
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      justify-content: center;
      line-height: 22px; /* 157.143% */
      padding: 12px 40px;
    }
  }

  .vtex-omnishipping-1-x-address {
    & > div {
      display: flex;
      flex-direction: column;

      p {
        margin: 0;
      }

      input {
        width: 100%;
      }

      @media screen and (min-width: 1025px) {
        flex-direction: row;
      }
    }
  }
}

a.srp-address-title.link.pointer.blue.f5 {
  color: #c00146;
}

select.srp-delivery-select {
  border: 1px solid var(--color-cinza-claro, #000);
}

.vtex-omnishipping-1-x-address > div {
  display: block !important;
}
