// Shipping Data Styles
#shipping-data {
  border: 1px solid #bbc6cb;
  border-radius: 8px;
}

.shipping-data {
  .accordion-heading {
    .accordion-toggle {
      color: #1d1d1f;
      font-family: 'Mulish Bold', sans-serif;
      font-size: 19px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .box-step {
    margin-top: 0.5rem;
  }

  label[for='ship-postalCode'] {
    color: #505257;
    display: block;
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }

  input#ship-postalCode {
    background-color: #fff;
    height: auto;
    max-width: unset;
    padding: 0.5rem;
    width: 100%;
  }

  .ship-postalCode {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    small {
      display: block;
      margin: 0;
      margin-top: 5px;
    }
  }

  .vtex-omnishipping-1-x-address {
    display: flex;

    .ship-number {
      margin: 0 !important;
      margin-bottom: 8px !important;
    }

    div {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    label {
      color: #505257;
      display: block;
      font-family: Mulish, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 5px;
    }

    input {
      background-color: #fff;
      height: auto;
      padding: 0.5rem;
      width: 100%;
    }
  }

  .vtex-omnishipping-1-x-buttonCreateAddress,
  .vtex-omnishipping-1-x-buttonEditAddress {
    color: #2643a8;
  }

  p.vtex-omnishipping-1-x-shippingSectionTitle.delivery-address-title,
  .vtex-omnishipping-1-x-shippingSectionTitle {
    color: #505257;
    display: block;
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }

  p.vtex-omnishipping-1-x-submitPaymentButton.btn-submit-wrapper.btn-go-to-payment-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;

    button {
      background: #2643a8;
      border-radius: 8px;
      color: #fff;
      font-family: 'Mulish SemiBold', sans-serif;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-align: center;
      width: 100%;
    }
  }
}

.shp-summary-group-price.vtex-omnishipping-1-x-SummaryItemPrice {
  color: #1d1d1f;
  font-family: 'Mulish Bold', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

span.false.shp-summary-package-time {
  color: #80888e;
  font-family: 'Mulish SemiBold', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

a#open-shipping {
  align-items: center;
  border: 1px solid #2643a8;
  border-radius: 8px;
  color: #2643a8;
  display: flex;
  font-family: Mulish, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 30px;
  justify-content: center;
  line-height: normal;
}
