.cart-template {
  .empty-cart-title {
    color: var(--color-preto, #000);
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  a#cart-choose-products {
    background: var(--azul, #000);
    border-radius: 0;
    color: var(--neutras-05, #fff);
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    line-height: 22px; /* 157.143% */
    padding: 12px 40px;
  }

  p[data-i18n='cart.emptyMessage'] {
    color: var(--color-preto, #000);
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
