.cart-template.mini-cart {
  border: 1px solid #bbc6cb;
  border-radius: 8px;
  margin-left: 22px;
  padding: 0 16px;

  h2 {
    background-color: transparent;
    border: none;
    color: #1d1d1f;
    font-family: 'Source Sans Pro Bold', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
  }

  .shipping-date,
  .fn.product-name {
    color: #4d5156;
    font-family: Mulish, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .price {
    color: #4d5156;
    font-family: Mulish, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
  }

  .cart-fixed {
    height: auto !important;
    width: 100%;
  }

  .quantity.badge {
    background-color: #bc1818;
    color: #fff;
  }

  #payment-data-submit {
    align-items: center;
    background: #2643a8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 214px;

    i {
      display: none;
    }

    span {
      color: #f0f6fe;
      font-family: 'Mulish SemiBold', sans-serif;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-align: center;
      text-transform: none;
    }
  }

  .summary-template-holder {
    background-color: transparent;
  }

  .summary-totalizers {
    table.table {
      tr {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .empty {
          display: none;
        }
      }

      td {
        display: flex;
        width: auto !important;
      }
    }
  }
}
