/**
 * Alignment (utilities/_alignment.scss)
 */

/* ----- Yahoo! Mail alignment fix ----- */
.yahoo-center {
  margin-left: auto;
  margin-right: auto;
}

/* ----- Text alignment ----- */
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
