.flexRowContent--institucional-container {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: 641px) {
    flex-direction: column;
  }

  @media (min-width: 642px) and (max-width: 1024px) {
    .stretchChildrenWidth {
      &:first-child {
        width: 30% !important;
      }
      &:last-child {
        width: 70% !important;
      }
    }
  }

  @media (min-width: 1025px) {
    .stretchChildrenWidth {
      &:first-child {
        width: auto !important;
        margin-right: 100px;
      }
      &:last-child {
        width: 100% !important;
        max-width: 836px;
      }
    }
  }
}
