.buyTogetherUl {
  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.plusIcon {
  border: 1px solid #BC1818;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buyTogetherLi {
  border-radius: 7.273px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  background: #FFF;
  display: flex;
  padding: 16px;
  position: relative;
  transition: all 0.1s;
}

.buyTogetherLi :global(.vtex-checkbox__line-container) {
  position: absolute;
}

.buyTogetherLi--active {
  border: 3px solid #2643A8;
}


.buyTogetherItemTitle {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 8.953px;
  align-self: stretch;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
  overflow: hidden;

  color: #38434D;
  font-family: 'Mulish Bold', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.buyTogetherItemImage {
  margin-left: -15px;
  min-width: 228px;
}

.buyTogettherListPriceContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 16px;

}

.price {
  color: #38434D;
  font-family: 'Mulish ExtraBold', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.36px;
}

.priceText {
  color: #38434D;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-left: 6px;
}

.buyTogettherListPriceContainer .price {
  color: var(--Bombay-600, #80888E);
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.697px;
  letter-spacing: 0.32px;
  text-decoration: line-through
}

.buyTogetherFinish .price {
  font-size: 24px;
}

.buyTogetherFooterItem {
  margin-left: -15px;
}

.buyTogetherFooterItem :global(.vtex-button) {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.buyTogetherFooterItem :global(.vtex-button)::after {
  content: "Trocar de produto";
  color: #2643A8;
  text-align: center;
  font-family: "Source Sans Pro Bold", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.28px;
  white-space: nowrap;
  margin-left: 8px;
  text-transform: none;
}

.buyTogetherFooterItem :global(.vtex-button__label) {
  padding: 0 !important;
}

.buyTogetherSavingPrice {
  border-radius: 2px;
  background-color: #BC1818;

  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11.16px;
  font-style: normal;
  font-weight: 700;
  line-height: 12.861px;
  letter-spacing: 0.223px;
  margin-left: 8px;
  padding: 2px 6px;
}

.buyTogetherFinish {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buyTogetherFinishP {
  color: var(--Bombay-800, #4D5156);
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buyTogetherFinish :global(.vtex-button) {
  color: var(--Cobalto-50, #F0F6FE);
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  min-height: 56px;
  line-height: normal;
  text-transform: none;
  transition: all 0.2s;
  border-radius: 8px;
}

.buyTogetherFinish :global(.vtex-button):disabled {
  background-color: #A3A3A3;
  cursor: not-allowed;
}

.buyTogetherHighlightsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.buyTogetherHighlightsName {
  color: #FFF;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  background: #2643A8;
  line-height: normal;
  padding: 3px 5px;
}

.buyTogetherFooterItem :global(.vtex-numeric-stepper__input) {
  border: none;
  height: 24px;
}

.buyTogetherFooterItem :global(.vtex-numeric-stepper__minus-button),
.buyTogetherFooterItem :global(.vtex-numeric-stepper__plus-button) {
  border: none;
  height: 24px;
}

.buyTogetherFooterItem :global(.vtex-numeric-stepper-container) {
  border-radius: 4px;
  border: 1px solid var(--Bombay-300, #BBC6CB);
}

.buyTogetherFooterItem :global(.vtex-numeric-stepper__minus-button__text) {
  font-size: 24px;
  color: #2643A8;
}



@media (min-width: 1025px) {
  .buyTogetherWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .buyTogetherUl {
    flex-direction: row;
  }

  .buyTogetherLi {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 492px;
    max-width: 280px;
  }

  .buyTogetherLi :global(.vtex-checkbox__line-container) {
    top: 16px;
    left: 16px;
  }

  .buyTogetherLi :global(.vtex-numeric-stepper-container) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .buyTogetherFooterItem {
    padding: 24px;
    padding-bottom: 0;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .buyTogetherUl {
    margin-right: 30px;
  }

  .buyTogetherFinish :global(.vtex-button) {
    font-size: 17px;
  }
}