.container--layout-option {
  margin-left: 0.3em;
}

.paragraph--layout-option {
  margin: 0;
}

.paragraph--summarySpecificationBullet {
  font-size: 1.25rem;
  line-height: initial;
  line-height: 1.15rem;
  margin: 0;
}
