.productBrandName--summaryListDesktop {
  color: #0067c7;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
}

.productBrandName--summaryListMobile {
  color: #0067c7;
  font-size: 0.875rem;
  text-decoration: none;
}
