.flexCol--productRating {
  height: auto;
  margin-bottom: 0;
  min-height: 21px;
}

.flexColChild--productRating:empty {
  display: none;
}

.flexRowContent--list-price-savings,
.flexRowContent--selling-price-content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flexRow--selling-price-content {
  margin-top: 5px;
}

.flexRow--list-price-savings {
  min-height: 20px;
}

.flexRowContent--list-price-savings {
  align-items: flex-start;
}

.flexRowContent--shelf {
  display: flex;
  flex-direction: column;
}
.flexRowContent--shelf .stretchChildrenWidth {
  width: 100% !important;
}

@media (max-width: 1025px) {
  .flexRow--shelf {
    margin: 24px 0 50px 0 !important;
  }
}