@charset "UTF-8";
.listPrice {
  color: #80888e;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.697px;
  letter-spacing: 0.28px;
  text-decoration-line: strikethrough;
}

.sellingPriceValue {
  color: #38434d;
  text-align: center;
  font-family: "Source Sans Pro Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.697px;
  letter-spacing: 0.4px;
}
.sellingPriceValue .currencyContainer::after {
  content: " à vista";
  color: #38434d;
  text-align: center;
  font-family: "Source Sans Pro SemiBold", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.697px; /* 140.692% */
  letter-spacing: 0.28px;
}

.savings {
  display: flex;
  padding: 0px 6px 1px 6px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #bc1818;
  color: #fff !important;
  margin-left: 5px;
}

.savingsPercentage {
  color: #fff;
  text-align: center;
  font-family: "Source Sans Pro Bold", sans-serif;
  font-size: 11.16px;
  font-style: normal;
  font-weight: 700;
  line-height: 12.861px;
  letter-spacing: 0.223px;
  margin-top: 3px;
}

.installments {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-top: 5px;
  white-space: nowrap;
  color: #38434d;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.697px;
  letter-spacing: 0.28px;
}
.installments .installmentValue,
.installments .installmentsNumber {
  color: #38434d;
  font-family: "Source Sans Pro Bold", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.697px;
  letter-spacing: 0.28px;
}
.installments .installmentValue::before {
  content: "de ";
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

@media (min-width: 640px) {
  .listPrice {
    font-size: 16px;
  }
  .sellingPriceValue {
    font-size: 24px;
  }
}