/* @font-face {
  font-family: 'Source Sans Pro';
  src: url(assets/fonts/SourceSansPro-Regular.otf);
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Source Sans Pro';
  src: url(https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/6267779b-648d-453d-8a00-8fea1da5c6b1___5e1d162e634a102d7da8db597825a764.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url(https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/e314b633-75d3-433a-8b76-b34e56af5c9a___1a2a157bfd94b250884c09f1bd57a0bb.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro SemiBold';
  src: url(https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/f49a9c8a-b54b-4eb7-90b2-5ee35f6dd538___78667e5e4b54fea9bb8552482b39cf2e.otf);
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url(https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/c50afd3d-18c8-4d2d-8442-a0dc6de854fb___779f3bf41b852b5582d41cd866ca3ddc.otf);
  font-weight: 300;
}

@font-face {
  font-family: 'Mulish';
  src: url(https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/6be2200a-1f16-436d-8132-a59abebd0e6d___5416a925ffafb775c6bffd116d87deb0.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Mulish Bold';
  src: url(https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/f274b963-fa4c-4867-a5f9-f6445215fae1___b7fa867b7522c7629eca3c4b9f31d3c8.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Mulish ExtraBold';
  src: url(https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/94cdc43f-3014-4953-a815-a669f509fb04___2000e3092f7d4527368cb41d357fe356.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Nunito';
  src: url(https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/43967844-427a-4967-ac62-4b06b1317e03___b83ce9c59c73ade26bb7871143fd76bb.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url(https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/2ae8e611-9670-49f5-ac28-8fe22d05e90d___122dd68d69fe9587e062d20d9ff5de2a.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'REM';
  src: url(https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/c376f5c1-0175-4149-b16e-3e1f210bfe74___98f8435cdad21310dc9f8b41523d4e7a.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'REM SemiBold';
  src: url(https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/b855e9cf-639b-4660-999e-b497741a7372___a7a2028ccae3f31bbed15f3d034188a3.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Futura Bk BT';
  src: url(https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/69763557-b323-4fd8-adff-04350260b8a9___ead5c28b0b3c60d481994292f7418a7d.ttf);
  font-weight: 500;
}