// Footer Styles

#checkoutMainContainer {
  & > footer {
    display: none;
    width: 100%;

    &.vtex-io-footer {
      background: var(--gray-100, #f4f4f5);
      display: flex !important;
      width: 100%;

      & > div {
        align-items: center;
        display: flex !important;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1332px;
        padding: 20px 1rem;
        width: 100%;

        @media screen and (max-width: 1024px) {
          flex-direction: column;

          .payment-methods {
            margin-bottom: 1rem;
            text-align: center;
          }
        }

        p {
          color: var(--Neutras-01, #1b1b1b);
          font-family: Inter;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-right: 0;
          max-width: 440px;
          text-align: center;
        }
      }

      .payment-methods {
        h3 {
          color: var(--MT---Secundria, #424242);

          /* text-base/Bold */
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 22.4px */
          margin-bottom: 10px;
        }

        ul {
          align-items: center;
          display: flex;
          gap: 0.5rem;
          justify-content: flex-start;
          margin: 0;
        }
      }
    }
  }
}
