.header-checkout {
  display: none !important;
}

#header-vtex-io {
  align-items: center;
  display: flex  !important;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1332px;
  padding: 10px 1rem;

  .checkout-steps {
    align-items: center;
    display: flex;
    justify-content: center;

    .step {
      align-items: center;
      background-color: #D4D4D8;
      border: none;
      border-radius: 50%;
      display: flex;
      height: 50px;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 50px;

      &.active {
        background-color: #00579C;
        font-weight: 600;

        svg {
          color: #D4D4D8;

          path {
            fill: #D4D4D8;
          }
        }

        & + span.step--line {
          background-color: #00579C !important;
        }
      }
    }

    span.step--line {
      background-color: #D4D4D8;
      min-height: 4px;
      min-width: 50px;
    }
  }
}
