.containerHeader {
  align-items: center;
  background-color: #060028;
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 24px 0;
  width: 100%;

  img {
    max-height: 60px;
    max-width: 225px;
  }

  @media (max-width: 979px) {
    height: 100px;
  }
}

.body-order-form {
  padding: 0 !important;
}

.help.error {
  font-family: Mulish, sans-serif;
}

.container.container-main.container-order-form {
  margin: 0 auto !important;
  max-width: 1296px !important;
  width: 100% !important;

  @media (max-width: 1296px) {
    max-width: 1166px !important;
  }
}
