.containerHeader {
  align-items: center;
  background-color: #060028;
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 24px 0;
  width: 100%;

  img {
    max-height: 60px;
    max-width: 225px;
  }
}
