// Variables

$base: #f4f2f2;
$base-inverted: #21364f;
$action-primary: #1a73e8;
$action-primary-darken: #1d63be;
$action-secondary: #f1f7ff;
$emphasis: #000;
$disabled: #999;
$success: #2fba2d;
$success-darken: #269e24;
$success-faded: #beffa5;
$danger: #ff4c4c;
$danger-faded: #ffe6e6;
$warning: #ffb100;
$warning-faded: #fff6e0;
$muted-1: #323232;
$muted-2: #676767;
$muted-3: #999;
$muted-4: #cbcbcb;
$muted-5: #eee;
$muted-6: #f3f3f3;
$font-family-default: "Roboto", sans-serif;
$font-size-default: 14px;
