.divContainer--container {
  @media (min-width: 1025px) and (max-width: 1439px) {
    max-width: 1200px;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    margin: 0 auto;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
    margin: 0 auto;
  }
}
