.categoryContainerTitleh2 {
  font-family: "Mulish Bold", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 24px;
}

.categoryImageDiv {
  padding: 24px;
  border-radius: 13.606px;
  background-color: #d9d9d9;
  height: 144px;
  display: flex;
}

.categoryContainerImage {
  width: 91px;
}

.categoryContainer {
  text-decoration: none;
}

.categoryContainerTitle {
  color: #737373;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 33px;
}

.slide {
  padding: 0 12px;
}

.categoryContainerWrapper .sliderArrows {
  top: 26%;
}

.paginationDot {
  border-radius: 8px;
  background: #d9d9d9;
  width: 8px !important;
  height: 8px !important;
  transition: ease-in-out 0.4s;
}

.paginationDot--isActive {
  width: 24px !important;
  height: 8px !important;
  border-radius: 12px;
  background-color: rgba(13, 22, 53, 0.6);
}

.carouselImage,
.bannerOurLinesImage {
  width: 100%;
  height: 100%;
}

.bannerOurLinesContainer {
  position: relative;
}
.bannerOurLinesContainer .sliderLayoutContainer {
  position: absolute;
  top: 50%;
}
.bannerOurLinesContainer .slide {
  max-width: 335px;
  max-width: 335px;
}
.bannerOurLinesContainer .paginationDotsContainer {
  bottom: -10%;
}
.bannerOurLinesContainer .caretIcon {
  width: 16px;
  height: 16px;
}
.bannerOurLinesContainer .caretIcon::before {
  content: "";
  width: 48px;
  height: 48px;
  background: #e2e2e2;
  display: flex;
}
.bannerOurLinesContainer .sliderArrows {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background-color: #f2f2f2 !important;
  border-radius: 50%;
  opacity: 0.5;
}

.textsContainer {
  position: absolute;
  margin-left: 24px;
  margin-top: 24px;
}

.bannerOurLines,
.bannerOurLinesTitle {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.bannerOurLines {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}

.carouselImageContainer {
  width: 100%;
  height: 100%;
}

@media (min-width: 1025px) {
  .bannerOurLinesContainer .sliderLayoutContainer {
    top: 55%;
  }
}
.romaziPremiumLogoContainer {
  display: flex;
  align-items: center;
  justify-self: center;
  padding-bottom: 56px;
}

.romaziPremiumLogo {
  width: 216px;
  height: 58px;
}

.romaziPremiumTextsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.romaziPremiumTitle {
  color: #fff;
  font-family: "REM", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 100% */
  letter-spacing: 1.28px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 55px;
}

.romaziPremiumText {
  color: #fff;
  text-align: justify;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 25.2px */
  width: 100%;
  margin: 0;
}

.romaziPremiumButton {
  background-color: transparent;
  display: flex;
  width: 226px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 136px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: "REM", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
  margin: 24px 0;
  cursor: pointer;
}

.romaziPremiumHarmonizeTitle {
  color: #fff;
  font-family: "REM", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  margin-top: 4px;
}

.harmonizeColorsContainer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.harmonizeColors {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.romaziPremiumHarmonizeContainer {
  padding: 0 24px;
  margin-top: 32px;
}

.romaziPremiumContainer {
  position: relative;
}

.romaziPremiumBackgroundImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.25rem;
}

.romaziPremiumSlider {
  position: absolute;
  top: 21%;
  right: cal;
  display: flex;
  align-items: center;
  justify-content: center;
  left: calc(50% - 125px);
}
.romaziPremiumSlider :global(.vtex-shelf-1-x-arrow) {
  background-color: #676767;
  padding: 8px 8px;
  border-radius: 50%;
  top: 55%;
}
.romaziPremiumSlider :global(.vtex-shelf-1-x-arrowRight) {
  right: 5%;
}
.romaziPremiumSlider :global(.vtex-shelf-1-x-arrowLeft) {
  left: -20%;
}
.romaziPremiumSlider .caretIcon {
  color: #f2f2f2;
  opacity: 0.5;
  width: 16px;
  height: 16px;
}
.romaziPremiumSlider :global(.vtex-slider-0-x-dotsContainer) {
  gap: 16px;
  display: flex;
  bottom: -10%;
  left: 40%;
}
.romaziPremiumSlider :global(.vtex-slider-0-x-sliderFrame) {
  transition: ease 0.3s !important;
}

.dots {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #4b4b4b;
}

.dotsActive {
  background-color: #a5a5a5;
}

@media (min-width: 1025px) {
  .romaziPremiumSlider {
    position: absolute;
    left: 55%;
    top: 44%;
  }
  .romaziPremiumSlider :global(.vtex-shelf-1-x-arrow) {
    top: 105%;
  }
  .romaziPremiumSlider :global(.vtex-shelf-1-x-arrowRight) {
    right: 35%;
  }
  .romaziPremiumSlider :global(.vtex-shelf-1-x-arrowLeft) {
    left: 28%;
  }
  .romaziPremiumSlider :global(.vtex-slider-0-x-dotsContainer) {
    display: flex;
    top: 105%;
    left: 46%;
    gap: 16px;
  }
  .romaziPremiumSlider :global(.vtex-slider-0-x-sliderFrame) {
    margin-left: 30%;
  }
  .romaziPremiumSlider :global(.vtex-slider-0-x-sliderFrame) {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    padding-left: 2rem;
  }
  .romaziPremiumSlide .romaziPremiumSliderImage {
    width: 150px !important;
    transition: all 0.3s;
  }
  .romaziPremiumSlideActive {
    margin-right: 0;
  }
  .romaziPremiumSlideActive .romaziPremiumSliderImage {
    width: 100% !important;
  }
  .romaziPremiumLogo {
    width: 316px;
    height: 85px;
  }
  .romaziPremiumTextsContainer {
    max-width: 606px;
    align-items: flex-start;
    margin-left: 8.75rem;
  }
  .romaziPremiumLogoContainer {
    margin-left: 8.75rem;
  }
  .romaziPremiumHarmonizeContainer {
    margin-left: 10.75rem;
    padding: 0;
  }
  .romaziPremiumLogoContainer {
    width: 100%;
    align-items: flex-start;
  }
  .logoSoulsContainer {
    position: absolute;
    right: 25px;
    bottom: 20px;
  }
  .romaziPremiumTitle {
    margin-top: 0;
  }
  .romaziPremiumBackgroundImageContainer {
    margin-bottom: 26px;
    width: 100%;
  }
  .romaziPremiumBackgroundImageContainer .romaziPremiumBackgroundImage {
    width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1300px) {
  .romaziPremiumTextsContainer {
    margin-left: 2rem;
    padding-left: 0;
  }
  .romaziPremiumHarmonizeContainer {
    margin-left: 2rem;
  }
}
@media (min-width: 1500px) {
  .romaziPremiumSlider {
    left: 56%;
    top: 45%;
  }
}
@media (min-width: 1700px) {
  .romaziPremiumSlider :global(.vtex-shelf-1-x-arrowRight) {
    right: 41%;
  }
  .romaziPremiumSlider :global(.vtex-shelf-1-x-arrowLeft) {
    left: 32%;
  }
  .romaziPremiumSlider :global(.vtex-slider-0-x-dotsContainer) {
    display: flex;
    top: 105%;
    left: 45%;
    gap: 16px;
  }
}
.categoryContainerTitleh2 {
  color: #000;
  font-family: "Mulish Bold", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.48px;
  padding-left: 8px;
  margin: 0;
  margin-bottom: 24px;
}

.podCastContainerLink {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.podCastContainerLi {
  height: 100%;
}

.podCastContainerTitle {
  color: var(--Bombay-900, #505257);
  font-family: "Mulish Bold", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.34px;
}

.podCastContainerDate {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #3f3f3f;
  font-family: "Mulish", sans-serif;
  font-size: 14.254px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.254px; /* 100% */
  letter-spacing: 0.285px;
}

.podCastContainerDescription {
  color: #505257;
  font-family: "Mulish", sans-serif;
  font-size: 14.254px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.285px;
}

.podCastContainer .paginationDotsContainer {
  bottom: -5%;
}
.podCastContainer .sliderArrows {
  bottom: 60%;
  background: #e2e2e2 !important;
  padding: 12px;
  border-radius: 50%;
}
.podCastContainer .sliderLeftArrow {
  left: -16px;
}
.podCastContainer .sliderRightArrow {
  right: -16px;
}
.podCastContainer .caretIcon {
  width: 20px;
  height: 20px;
}

.podCastArrowContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
}

.romaziPremiumSlidePrev {
  display: flex;
  justify-content: flex-end;
}
.romaziPremiumSlidePrev .romaziPremiumSliderImage {
  width: 150px !important;
  transition: all 0.3s;
}

@media screen and (min-width: 1024px) {
  .dotsContainer {
    position: relative;
    top: 2rem;
    left: 1.5rem;
  }
}