.flexRow--container {
  margin: 24px 0;
}

.flexRowContent--deals-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCol--deals-col {
  display: flex;
  align-items: baseline;
  margin-left: 8px;
}

.flexRow--newsletter {
  background-color: #060028;
  margin-bottom: 0px;
}

.flexCol--newsletter-texts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCol--newsletter-texts {
  margin: 30px 0 56px 0;
}

.flexCol--newsletter-col {
  margin: 0 24px;
  margin-bottom: 30px;
}

.flexRow--double-banner-mobile {
  margin: 64px 16px;
}

.flexRowContent--double-banner-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.flexRowContent--double-banner {
  display: flex;
  gap: 24px;
}

.flexRowContent--triple-banner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 !important;
}
.flexRowContent--triple-banner .stretchChildrenWidth {
  width: 100% !important;
}

.flexRow--triple-banner :global(.vtex-store-components-3-x-container) {
  padding: 0 !important;
}

.flexRow--about-us-mobile {
  position: relative;
  margin-top: 32px;
}
.flexRow--about-us-mobile :global(.vtex-store-components-3-x-container) {
  padding: 0 !important;
}

.flexRow--about-us-desktop {
  position: relative;
}

.flexRow--about-us-desktop :global(.vtex-store-components-3-x-container) {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

.flexRowContent--about-us-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexRowContent--about-us-desktop .stretchChildrenWidth {
  width: 50% !important;
  display: block;
}
.flexRowContent--about-us-desktop .stretchChildrenWidth:last-child {
  width: 0 !important;
}

.flexRow--banner-our-lines {
  margin-bottom: 12.5rem;
  margin-top: 0;
}

.flexRowContent--banner-our-lines {
  padding: 0 !important;
}

.flexRow--deals {
  margin-top: 0;
}

.flexRow--romazi-premium {
  background-color: #222;
  padding: 56px 0;
}
.flexRow--romazi-premium :global(.vtex-store-components-3-x-container) {
  max-width: 1920px;
  margin: 0 auto;
}

.flexRow--podcast {
  background-color: #eaeaea;
  margin: 0 !important;
  padding: 24px 0 48px 0;
}

.flexRowContent--main-banner {
  padding: 0 !important;
}

@media (min-width: 640px) {
  .flexRowContent--newsletter {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 0 0 0;
  }
  .flexRowContent--newsletter .stretchChildrenWidth {
    width: 90% !important;
  }
  .flexRowContent--about-us-mobile {
    display: flex;
    flex-direction: column;
  }
  .flexRowContent--about-us-mobile .stretchChildrenWidth {
    width: 100% !important;
  }
}
@media (min-width: 1026px) {
  .flexCol--newsletter-texts {
    margin: 0;
  }
  .flexColChild--newsletter-texts {
    height: auto !important;
  }
  .flexRowContent--triple-banner {
    flex-direction: row;
  }
  .flexCol--about-us-mobile {
    width: 50% !important;
    margin-left: 24px;
  }
}
@media (min-width: 1400px) {
  .flexRowContent--newsletter {
    flex-direction: row;
    padding: 0;
    width: 84%;
  }
  .flexRowContent--newsletter .stretchChildrenWidth:first-child {
    width: 40% !important;
  }
  .flexRowContent--newsletter .stretchChildrenWidth:last-child {
    width: 60% !important;
  }
  .flexCol--newsletter-texts {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .flexRow--newsletter {
    padding: 24px 0;
  }
  .flexRowContent--about-us-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}