.videoContainer--video-about-us {
  position: absolute;
  top: 52%;
  width: 90% !important;
  left: 5%;
}

@media (min-width: 640px) {
  .videoContainer--video-about-us {
    max-width: 520px;
    height: 300px;
    left: calc(50% - 260px);
    top: 35%;
  }
  .videoElement--video-about-us {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .videoContainer--video-about-us {
    width: 628px !important;
    max-width: 628px !important;
    height: 355px !important;
    position: absolute;
    bottom: 20%;
    top: initial;
    left: calc(50% - 314px);
  }
  .videoElement--video-about-us {
    width: 100%;
    height: 100%;
  }
}