.flexRow--container {
  margin: 24px 0;
}

.flexRowContent--deals-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCol--deals-col {
  display: flex;
  align-items: baseline;
  margin-left: 16px;
}

.flexRow--banner-our-lines {
  position: relative;
  margin-bottom: 9rem;
}

.flexRowContent--banner-our-lines .stretchChildrenWidth:last-child,
.flexRowContent--banner-our-lines .stretchChildrenWidth:first-child {
  position: absolute;
}