.stackItem--promotion-badge {
  position: initial;
  padding: 4px;
  padding-top: 2px;
  background-color: #2643a8;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75px;
}
.stackItem--promotion-badge :global(.vtex-product-highlights-2-x-productHighlightText) {
  color: #fff;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}