.flexRowContent--breadcrumb-container {
  margin-top: 24px;
}

.flexRowContent--product-main .stretchChildrenWidth:last-child {
  padding: 0 24px;
}

.flexRow--product-main :global(.vtex-store-components-3-x-container) {
  padding: 0;
}