.listContainer--tabsPaymentsMethodsPdp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.listContainer--tabsPaymentsMethodsPdp .listItem {
  margin: 0;
  padding: 0;
  width: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.listContainer--tabsPaymentsMethodsPdp .listItem:first-child :global(.vtex-button)::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='19' viewBox='0 0 27 19' fill='none'%3E%3Cg id='Group'%3E%3Cpath id='Vector' d='M3.875 11.5391H7.375M3.875 14.1641H9.125M1.25 1.91406V17.6641H25.75V1.91406H1.25Z' stroke='%23CCCCCC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath id='Vector_2' d='M1.25 5.41406V7.16406H25.75V5.41406H1.25Z' fill='%23CCCCCC' stroke='%23CCCCCC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
  width: 29px;
  height: 30px;
}
.listContainer--tabsPaymentsMethodsPdp .listItem:last-child :global(.vtex-button)::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29' fill='none'%3E%3Cpath d='M18.5252 19.7729L15.0136 16.2612C14.8852 16.1329 14.7336 16.1095 14.6519 16.1095C14.5702 16.1095 14.4186 16.1329 14.2902 16.2612L10.7669 19.7845C10.3702 20.1812 9.75189 20.8229 7.68689 20.8229L12.0152 25.1395C12.6715 25.795 13.5611 26.1631 14.4886 26.1631C15.4161 26.1631 16.3056 25.795 16.9619 25.1395L21.3019 20.8112C20.2402 20.8112 19.3536 20.6012 18.5252 19.7729ZM10.7669 9.21452L14.2902 12.7379C14.3836 12.8312 14.5236 12.8895 14.6519 12.8895C14.7802 12.8895 14.9202 12.8312 15.0136 12.7379L18.5019 9.24953C19.3302 8.38619 20.2752 8.18786 21.3369 8.18786L16.9969 3.85952C16.3406 3.20409 15.4511 2.83594 14.5236 2.83594C13.5961 2.83594 12.7065 3.20409 12.0502 3.85952L7.72189 8.17619C9.77522 8.17619 10.4052 8.85286 10.7669 9.21452Z' fill='%23CCCCCC'/%3E%3Cpath d='M25.1281 11.992L22.5031 9.35536H21.0331C20.4031 9.35536 19.7731 9.61203 19.3414 10.067L15.8414 13.567C15.5148 13.8937 15.0831 14.057 14.6514 14.057C14.2069 14.0508 13.7815 13.8756 13.4614 13.567L9.9381 10.032C9.49477 9.5887 8.8881 9.33203 8.24643 9.33203H6.53144L3.85977 12.0154C3.20433 12.6716 2.83618 13.5612 2.83618 14.4887C2.83618 15.4162 3.20433 16.3058 3.85977 16.962L6.53144 19.6454H8.2581C8.8881 19.6454 9.49477 19.3887 9.94977 18.9454L13.4731 15.422C13.7998 15.0954 14.2314 14.932 14.6631 14.932C15.0948 14.932 15.5264 15.0954 15.8531 15.422L19.3648 18.9337C19.8081 19.377 20.4148 19.6337 21.0564 19.6337H22.5264L25.1514 16.997C25.8102 16.3293 26.1776 15.4277 26.1732 14.4897C26.1688 13.5517 25.7931 12.6536 25.1281 11.992Z' fill='%23CCCCCC'/%3E%3C/svg%3E");
  width: 29px;
  height: 29px;
}
.listContainer--tabsPaymentsMethodsPdp .listItem :global(.vtex-button) {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.listContainer--tabsPaymentsMethodsPdp .listItem :global(.vtex-button):hover {
  background-color: transparent;
}
.listContainer--tabsPaymentsMethodsPdp .listItem :global(.vtex-button)::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  display: block;
}
.listContainer--tabsPaymentsMethodsPdp .listItem :global(.vtex-button__label) {
  color: #cccccc;
  font-family: "Mulish Bold", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: none;
}
.listContainer--tabsPaymentsMethodsPdp .listItemActive {
  border-bottom: 1.5px solid var(--Cobalto-800, #2643a8);
}
.listContainer--tabsPaymentsMethodsPdp .listItemActive:first-child :global(.vtex-button)::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='19' viewBox='0 0 27 19' fill='none'%3E%3Cg id='Group'%3E%3Cpath id='Vector' d='M3.875 11.25H7.375M3.875 13.875H9.125M1.25 1.625V17.375H25.75V1.625H1.25Z' stroke='%232643A8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath id='Vector_2' d='M1.25 5.125V6.875H25.75V5.125H1.25Z' fill='%232643A8' stroke='%232643A8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
  width: 29px;
  height: 30px;
}
.listContainer--tabsPaymentsMethodsPdp .listItemActive:last-child :global(.vtex-button)::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29' fill='none'%3E%3Cpath d='M18.5252 20.0619L15.0135 16.5503C14.8852 16.4219 14.7335 16.3986 14.6519 16.3986C14.5702 16.3986 14.4185 16.4219 14.2902 16.5503L10.7669 20.0736C10.3702 20.4703 9.75186 21.1119 7.68686 21.1119L12.0152 25.4286C12.6714 26.084 13.561 26.4522 14.4885 26.4522C15.416 26.4522 16.3056 26.084 16.9619 25.4286L21.3019 21.1003C20.2402 21.1003 19.3535 20.8903 18.5252 20.0619ZM10.7669 9.50359L14.2902 13.0269C14.3835 13.1203 14.5235 13.1786 14.6519 13.1786C14.7802 13.1786 14.9202 13.1203 15.0135 13.0269L18.5019 9.53859C19.3302 8.67525 20.2752 8.47692 21.3369 8.47692L16.9969 4.14859C16.3406 3.49315 15.451 3.125 14.5235 3.125C13.596 3.125 12.7064 3.49315 12.0502 4.14859L7.72186 8.46525C9.77519 8.46525 10.4052 9.14192 10.7669 9.50359Z' fill='%232643A8'/%3E%3Cpath d='M25.1281 12.2811L22.5031 9.64443H21.0331C20.4031 9.64443 19.7731 9.90109 19.3414 10.3561L15.8414 13.8561C15.5148 14.1828 15.0831 14.3461 14.6514 14.3461C14.2069 14.3398 13.7815 14.1646 13.4614 13.8561L9.9381 10.3211C9.49477 9.87776 8.8881 9.62109 8.24643 9.62109H6.53144L3.85977 12.3044C3.20433 12.9607 2.83618 13.8503 2.83618 14.7778C2.83618 15.7053 3.20433 16.5948 3.85977 17.2511L6.53144 19.9344H8.2581C8.8881 19.9344 9.49477 19.6778 9.94977 19.2344L13.4731 15.7111C13.7998 15.3844 14.2314 15.2211 14.6631 15.2211C15.0948 15.2211 15.5264 15.3844 15.8531 15.7111L19.3648 19.2228C19.8081 19.6661 20.4148 19.9228 21.0564 19.9228H22.5264L25.1514 17.2861C25.8102 16.6183 26.1776 15.7168 26.1732 14.7788C26.1688 13.8408 25.7931 12.9427 25.1281 12.2811Z' fill='%232643A8'/%3E%3C/svg%3E");
  width: 29px;
  height: 29px;
}
.listContainer--tabsPaymentsMethodsPdp .listItemActive :global(.vtex-button) {
  border: none;
  background-color: transparent;
}
.listContainer--tabsPaymentsMethodsPdp .listItemActive :global(.vtex-button__label) {
  color: var(--Cobalto-800, #2643a8);
}

.container {
  padding: 0 24px 24px 24px;
}