.paper--pdpPaymentMethodsModal {
  width: 572px;
}
.paper--pdpPaymentMethodsModal .headerContainer {
  border: none;
}
@media (max-width: 1025px) {
  .paper--pdpPaymentMethodsModal {
    margin: 0 !important;
    height: 80%;
  }
}

.headerContainer {
  background: #1a3eb8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.closeIcon {
  overflow: visible !important;
  padding-bottom: 12px;
}

@media (max-width: 1025px) {
  .triggerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}