.link {
  color: #4d5156;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.667px;
  letter-spacing: 0.32px;
}

.term {
  color: #1d1d1d;
  font-family: "Source Sans Pro SemiBold", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px;
  letter-spacing: 0.32px;
}