.paper--pdpPaymentMethodsModal {
  width: 572px;
  padding: 24px;
}
.paper--pdpPaymentMethodsModal .headerContainer {
  border: none;
}
.paper--pdpPaymentMethodsModal .closeButtonContainer {
  display: none;
}
@media (max-width: 1025px) {
  .paper--pdpPaymentMethodsModal {
    margin: 0 !important;
    height: 80%;
  }
}

@media (max-width: 1025px) {
  .triggerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}