@charset "UTF-8";
.container {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.link {
  color: #4d5156;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.667px;
  letter-spacing: 0.32px;
  margin-right: -5px;
}
@media (min-width: 1025px) {
  .link {
    font-size: 16px;
  }
}

.homeLink {
  margin-bottom: 2px;
}
.homeLink::after {
  content: "Início";
  margin-left: 4px;
}
.homeLink .homeIcon {
  display: none;
}
@media (min-width: 1025px) {
  .homeLink {
    margin-bottom: 3px;
  }
}

.term {
  color: #1d1d1d;
  font-family: "Source Sans Pro SemiBold", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px;
  letter-spacing: 0.32px;
  padding: 0;
}
@media (min-width: 1025px) {
  .term {
    font-size: 16px;
  }
}

.homeLink--search-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeLink--search-breadcrumb::after {
  content: "Página inicial";
  color: var(--Bombay-800, #4d5156);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.667px;
  letter-spacing: 0.32px;
  margin-left: 4px;
}

.link--search-breadcrumb {
  color: #1d1d1d;
  font-family: "Source Sans Pro SemiBold", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px;
  letter-spacing: 0.32px;
}