.link--link-menu-institucional {
  color: #373939;
  font-family: "Mulish SemiBold", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  display: flex;
}
.link--link-menu-institucional::before {
  content: "";
  width: 3px;
  height: 24px;
  border-radius: 8px;
  background: var(--BG-F5F5F7, #f5f5f7);
  display: flex;
  margin-right: 6px;
}
.link--link-menu-institucional--active::before {
  background: #bc1818;
}

.link--faq-link {
  color: var(--Red-Romazi, #bc1818);
  text-align: left;
  font-family: "Source Sans Pro SemiBold", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.link--faq-link::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M8.34656 12.7524C8.42085 12.8264 8.4798 12.9144 8.52002 13.0112C8.56024 13.1081 8.58094 13.2119 8.58094 13.3168C8.58094 13.4217 8.56024 13.5255 8.52002 13.6224C8.4798 13.7193 8.42085 13.8072 8.34656 13.8813L8.00656 14.2213C7.64564 14.5835 7.21649 14.8706 6.74391 15.066C6.27134 15.2614 5.76472 15.3611 5.25336 15.3595C4.48327 15.3597 3.73041 15.1315 3.09002 14.7038C2.44963 14.2761 1.9505 13.668 1.65576 12.9566C1.36103 12.2451 1.28394 11.4622 1.43424 10.707C1.58455 9.95167 1.9555 9.25794 2.50016 8.71353L4.80777 6.40591C5.29861 5.91515 5.91169 5.5645 6.58355 5.39026C7.25542 5.21603 7.96164 5.22453 8.62912 5.4149C9.29659 5.60527 9.90105 5.97058 10.3799 6.47301C10.8588 6.97545 11.1947 7.59675 11.3528 8.27259C11.379 8.37535 11.3844 8.4823 11.3687 8.58718C11.353 8.69206 11.3166 8.79275 11.2615 8.88336C11.2064 8.97397 11.1338 9.05267 11.0479 9.11486C10.962 9.17704 10.8645 9.22145 10.7612 9.24549C10.658 9.26954 10.5509 9.27272 10.4464 9.25487C10.3419 9.23701 10.242 9.19847 10.1525 9.1415C10.0631 9.08454 9.98589 9.01029 9.92551 8.92312C9.86513 8.83595 9.82275 8.7376 9.80086 8.63384C9.70704 8.23489 9.50837 7.86824 9.22538 7.57179C8.9424 7.27535 8.58537 7.05986 8.19121 6.94761C7.79705 6.83536 7.38006 6.83042 6.98335 6.93331C6.58665 7.03619 6.22462 7.24316 5.93469 7.53283L3.62707 9.84044C3.30541 10.1618 3.08628 10.5714 2.9974 11.0174C2.90852 11.4633 2.95388 11.9256 3.12775 12.3458C3.30161 12.7659 3.59617 13.1251 3.97418 13.3779C4.35218 13.6306 4.79665 13.7656 5.25137 13.7657C5.55351 13.7666 5.85282 13.7075 6.13197 13.592C6.41113 13.4764 6.66458 13.3066 6.87766 13.0924L7.21699 12.7524C7.29104 12.678 7.37905 12.6189 7.47597 12.5787C7.5729 12.5384 7.67682 12.5176 7.78178 12.5176C7.88674 12.5176 7.99066 12.5384 8.08759 12.5787C8.18451 12.6189 8.27252 12.678 8.34656 12.7524ZM15.628 3.21841C14.8976 2.48829 13.9072 2.07812 12.8745 2.07812C11.8418 2.07813 10.8513 2.48829 10.1209 3.21841L9.7816 3.55775C9.6319 3.70745 9.5478 3.91049 9.5478 4.1222C9.5478 4.33391 9.6319 4.53695 9.7816 4.68665C9.93131 4.83636 10.1343 4.92046 10.3461 4.92046C10.5578 4.92046 10.7608 4.83636 10.9105 4.68665L11.2505 4.34665C11.682 3.91516 12.2672 3.67275 12.8775 3.67275C13.4877 3.67275 14.0729 3.91516 14.5044 4.34665C14.9359 4.77815 15.1783 5.36338 15.1783 5.97361C15.1783 6.58383 14.9359 7.16907 14.5044 7.60056L12.1928 9.90486C11.9797 10.1191 11.7263 10.2889 11.4471 10.4045C11.168 10.52 10.8687 10.5791 10.5665 10.5782C10.0482 10.5779 9.54524 10.4024 9.13915 10.0803C8.73307 9.75826 8.44769 9.30844 8.3293 8.80384C8.28139 8.59796 8.15366 8.41954 7.97421 8.30783C7.79475 8.19612 7.57827 8.16027 7.37239 8.20818C7.1665 8.25608 6.98808 8.38381 6.87637 8.56327C6.76466 8.74272 6.72882 8.95921 6.77672 9.16509C6.97668 10.0197 7.45945 10.7816 8.14674 11.3274C8.83404 11.8732 9.68556 12.1708 10.5632 12.172H10.5665C11.0781 12.1734 11.5849 12.0733 12.0576 11.8776C12.5303 11.6819 12.9595 11.3944 13.3204 11.0318L15.628 8.72415C15.9896 8.36267 16.2764 7.9335 16.4721 7.46116C16.6677 6.98882 16.7685 6.48255 16.7685 5.97128C16.7685 5.46001 16.6677 4.95375 16.4721 4.48141C16.2764 4.00906 15.9896 3.5799 15.628 3.21841Z' fill='%23BC1818'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  width: 18px;
  height: 18px;
  display: flex;
  margin-right: 3px;
}