.link--link-menu-institucional {
  color: #373939;
  font-family: "Mulish SemiBold", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  display: flex;
}
.link--link-menu-institucional::before {
  content: "";
  width: 3px;
  height: 24px;
  border-radius: 8px;
  background: var(--BG-F5F5F7, #f5f5f7);
  display: flex;
  margin-right: 6px;
}
.link--link-menu-institucional--active::before {
  background: #bc1818;
}