@media screen and (max-width: 1024px) {
  .openIconContainer {
    padding: 0;
  }
  .openIconContainer :global(.vtex-button__label) {
    padding-left: 8px;
  }
}
.openIconContainer :global(.vtex-button):hover {
  background-color: transparent;
}

.minicartIconContainer::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.95801 5C1.95801 4.75136 2.05678 4.5129 2.2326 4.33709C2.40841 4.16127 2.64687 4.0625 2.89551 4.0625H4.37176C5.04987 4.06254 5.70514 4.30757 6.2169 4.75249C6.72865 5.1974 7.06242 5.81223 7.15676 6.48375L7.23301 7.0275H24.6893C25.156 7.02751 25.6154 7.14368 26.0261 7.36555C26.4368 7.58742 26.7857 7.90801 27.0416 8.29841C27.2974 8.68881 27.4521 9.13674 27.4916 9.60183C27.5311 10.0669 27.4543 10.5345 27.268 10.9625L23.933 18.6225C23.7144 19.1247 23.3539 19.5521 22.8958 19.8523C22.4377 20.1526 21.902 20.3125 21.3543 20.3125H9.65301C8.97489 20.3125 8.31962 20.0674 7.80787 19.6225C7.29612 19.1776 6.96234 18.5628 6.86801 17.8912L5.30051 6.745C5.26915 6.52101 5.15787 6.31591 4.98719 6.16752C4.8165 6.01912 4.59793 5.93743 4.37176 5.9375H2.89676C2.64812 5.9375 2.40966 5.83873 2.23385 5.66291C2.05803 5.4871 1.95926 5.24864 1.95926 5M7.49801 8.9025L8.72551 17.63C8.75687 17.854 8.86815 18.0591 9.03883 18.2075C9.20951 18.3559 9.42809 18.4376 9.65426 18.4375H21.3555C21.5381 18.4376 21.7167 18.3845 21.8694 18.2846C22.0222 18.1847 22.1425 18.0423 22.2155 17.875L25.5493 10.2125C25.611 10.07 25.6363 9.91437 25.623 9.75964C25.6097 9.60491 25.5581 9.45591 25.473 9.32603C25.3878 9.19614 25.2718 9.08945 25.1352 9.01552C24.9986 8.9416 24.8458 8.90276 24.6905 8.9025H7.49801Z' fill='%23F0F6FE'/%3E%3Cpath d='M7.5415 24.375C7.5415 23.7948 7.77197 23.2384 8.18221 22.8282C8.59244 22.418 9.14884 22.1875 9.729 22.1875C10.3092 22.1875 10.8656 22.418 11.2758 22.8282C11.686 23.2384 11.9165 23.7948 11.9165 24.375C11.9165 24.9552 11.686 25.5116 11.2758 25.9218C10.8656 26.332 10.3092 26.5625 9.729 26.5625C9.14884 26.5625 8.59244 26.332 8.18221 25.9218C7.77197 25.5116 7.5415 24.9552 7.5415 24.375ZM20.399 22.1875C19.8188 22.1875 19.2624 22.418 18.8522 22.8282C18.442 23.2384 18.2115 23.7948 18.2115 24.375C18.2115 24.9552 18.442 25.5116 18.8522 25.9218C19.2624 26.332 19.8188 26.5625 20.399 26.5625C20.9792 26.5625 21.5356 26.332 21.9458 25.9218C22.356 25.5116 22.5865 24.9552 22.5865 24.375C22.5865 23.7948 22.356 23.2384 21.9458 22.8282C21.5356 22.418 20.9792 22.1875 20.399 22.1875Z' fill='%23F0F6FE'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  height: 30px;
  width: 30px;
  display: flex;
}
@media (max-width: 1025px) {
  .minicartIconContainer::before {
    background-size: 26px;
    height: 26px;
    width: 26px;
  }
}

@media (min-width: 1025px) {
  .minicartWrapperContainer {
    margin-left: 24px;
  }
  .minicartWrapperContainer .openIconContainer {
    padding: 0;
  }
  .minicartWrapperContainer .openIconContainer :global(.vtex-button__label) {
    padding: 0;
  }
}