.searchBarContainer {
  display: flex;
  max-width: 600px;
  padding: 6px 12px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1025px) and (max-width: 1439px) {
  .searchBarContainer {
    max-width: 450px;
  }
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border-radius: 110px;
  border-bottom: 1px solid var(--Bombay-500, #91989e);
  background: var(--BG-FF, #fff);
}

.searchIcon {
  display: none;
}
@media screen and (min-width: 1024px) {
  .searchIcon {
    display: block;
  }
}

.logoLink {
  min-width: 237px;
  margin-right: 24px;
}
@media (max-width: 1024px) {
  .logoLink {
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .logoContainer {
    padding-left: 16px;
  }
}