.specificationTable tr:odd {
  background: var(--Bombay-50, #F6F7F8);
}

:global(.gm-fullscreen-control) {
  display: none;
}

.mapAutocompleteInput button {
  border: none;
}

.mapAutocompleteInput label>div {
  border: none;
}

.mapAutocompleteInput .findAddressLabel {
  color: var(--Cinza-37, #373737);
  margin: 0px;
  font-family: "Source Sans Pro Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.32px;
}

.mapAutocompleteInputWrapper {
  border-bottom: 1px solid #dedded;
}

.mapAutocompleteInput input::placeholder,
.mapAutocompleteInput input {
  color: var(--Bombay-400, #A8B2B7);
  text-align: center;
  font-family: "Source Sans Pro Regular", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.25px;
  letter-spacing: 0.3px;
  text-align: left;
}


.mapAutocompleteInput input {
  color: #373737;
}

.formDivider--select {
  gap: 1rem !important;
}