.divContainer--container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 1rem !important;
}

.topBarContainer {
  width: 100%;
  min-height: 34px;
  display: flex;
  align-items: center;
}
.topBarContainer .topBarContainerWrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.topBarContainer .topBarContainerWrapper .topBarContainerItems {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.topBarContainer .topBarContainerWrapper .topBarContainerItems .topBarMessageLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}
.topBarContainer .topBarContainerWrapper .topBarContainerItems .topBarMessageLink:hover {
  text-decoration: underline;
}
.topBarContainer .topBarMessage {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}

.topBarContainer--mobile {
  justify-content: center;
}
.topBarContainer--mobile .topBarMessage {
  width: 100%;
  justify-content: center;
}

.divContainer--main-header--actions {
  max-width: 430px;
}

.customLoginButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.customLoginButton:hover {
  opacity: 0.8;
}

.customMinicartButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.customMinicartButton:hover {
  opacity: 0.8;
}

.customMinicartButton {
  padding: 0px;
  position: relative;
}

.customMinicartButtonCount {
  position: absolute;
  right: -4px;
  top: 0px;
  background-color: #000;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.menuContainer .dropdown {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  display: flex;
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100vw;
  background-color: #fff;
  padding: 1rem;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 2rem;
}
.menuContainer .dropdown .submenu {
  display: flex;
  gap: 3rem;
  width: 100%;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 1rem;
}
.menuContainer .dropdown .submenu .submenuWrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
.menuContainer .dropdown--active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.menuContainer .dropdown .menuLabelWrapperContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 1rem;
}
.menuContainer .menuLabel {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  margin: 0px;
  color: #1b1b1b;
  cursor: pointer;
}
.menuContainer .menuLabel:hover {
  text-decoration: underline;
}
.menuContainer .menuLabelWrapper {
  display: flex;
  flex-direction: column;
}
.menuContainer .menuLabel--title {
  margin-top: 0px;
}
.menuContainer .menuLabel--item {
  text-decoration: none;
  margin-bottom: 1rem;
  display: block;
  text-transform: none;
  font-size: 14px;
}
.menuContainer .menuLabel--item:hover {
  text-decoration: underline;
}
.menuContainer .menuLabel--seeAll {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  margin-top: 1.5rem;
}
.menuContainer .menuLabel--seeAll:hover {
  text-decoration: underline;
}
.menuContainer .menuLabel--title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
}

.divContainer--main-header {
  padding: 0.5rem 1rem !important;
  flex-direction: row !important;
  align-items: center;
}

.dropdownItem {
  margin: 0px;
}

.categoryListContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 1rem;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .categoryListContainer {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.categoryListContainer .categoryListItems {
  width: 100%;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .categoryListContainer .categoryListItems {
    padding: 0px;
  }
}
.categoryListContainer .categoryListTitle {
  text-align: center;
  color: var(--Neutras-01, #1b1b1b);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  .categoryListContainer .categoryListTitle {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
.categoryListContainer .categoryListItemImage {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}
.categoryListContainer .categoryListItemLink {
  text-decoration: none;
  text-align: center;
  opacity: 0.9;
  color: var(--Neutras-01, #1b1b1b);
}
.categoryListContainer .categoryListItemLink:hover {
  opacity: 1;
  text-decoration: underline;
}
.categoryListContainer .categoryListItemTitle {
  margin: 0px;
  margin-top: 12px;
  color: var(--Neutras-01, #1b1b1b);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  text-transform: uppercase;
}
.categoryListContainer .sliderRightArrow {
  right: -1rem !important;
}
.categoryListContainer .sliderLeftArrow {
  left: -1rem !important;
}

.sliderLeftArrow {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='24' viewBox='0 0 13 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.37464 12.0609C2.48976 12.1394 2.60739 12.1945 2.69415 12.2813C5.99351 15.5784 9.28871 18.8788 12.5889 22.1742C12.8717 22.4564 13.0536 22.7628 12.9852 23.1719C12.86 23.9142 11.9824 24.2515 11.3868 23.7881C11.2884 23.7121 11.2033 23.6186 11.1157 23.5301C7.56854 19.9809 4.0214 16.4317 0.474267 12.8824C-0.158078 12.2496 -0.158078 11.7536 0.474267 11.1208C4.04309 7.54986 7.61358 3.97894 11.1791 0.404681C11.4527 0.13083 11.7514 -0.0461722 12.1476 0.010602C12.9043 0.119142 13.2571 1.01667 12.7808 1.61948C12.704 1.71716 12.6106 1.80149 12.5222 1.88999C9.24033 5.17454 5.95848 8.45908 2.67663 11.7436C2.59738 11.8229 2.52146 11.9064 2.37464 12.0609Z' fill='black'/%3E%3C/svg%3E%0A") !important;
  width: 25px;
  height: 25px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.sliderLeftArrow .caretIcon {
  display: none;
}

.sliderRightArrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='24' viewBox='0 0 13 24' fill='none'%3E%3Cpath d='M10.625 11.9391C10.5098 11.8606 10.3922 11.8055 10.3055 11.7187C7.00609 8.42162 3.71089 5.12121 0.410688 1.82581C0.127885 1.54361 -0.0539767 1.23719 0.01443 0.828087C0.139564 0.0858492 1.01717 -0.251456 1.61281 0.211921C1.71125 0.287898 1.79634 0.381408 1.88393 0.469909C5.43107 4.01912 8.9782 7.56834 12.5253 11.1176C13.1577 11.7504 13.1577 12.2464 12.5253 12.8792C8.95651 16.4501 5.38602 20.0211 1.82053 23.5953C1.54691 23.8692 1.24825 24.0462 0.851994 23.9894C0.09535 23.8809 -0.257528 22.9833 0.218816 22.3805C0.295565 22.2828 0.388998 22.1985 0.477426 22.11C3.75928 18.8255 7.04113 15.5409 10.323 12.2564C10.4022 12.1771 10.4781 12.0936 10.625 11.9391Z' fill='black'/%3E%3C/svg%3E") !important;
  width: 25px;
  height: 25px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.sliderRightArrow .caretIcon {
  display: none;
}

.middleBanners {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 1rem;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .middleBanners {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.middleBanners .middleBannersWrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.middleBanners .middleBannersWrapper::-webkit-scrollbar {
  display: none;
}
.middleBanners .middleBannersItem {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .middleBanners .middleBannersItem {
    min-width: 300px !important;
  }
}
.middleBanners .middleBannersItem::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 215px;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 93.15%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
}
.middleBanners .middleBannersItem:hover::before {
  opacity: 0.4;
  visibility: visible;
}
.middleBanners .middleBannersItem:hover .middleBannersItemContent {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}
.middleBanners .middleBannersItemIcon {
  width: 100%;
  height: 100%;
}
.middleBanners .middleBannersItemTitle {
  color: var(--Neutras-05, #fff);
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 12px;
}
.middleBanners .middleBannersItemContent {
  z-index: 9;
  position: absolute;
  left: 50%;
  top: 83%;
  transform: translate(-50%, 20px);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}
@media screen and (max-width: 1024px) {
  .middleBanners .middleBannersItemContent {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translate(-50%, -50%) !important;
  }
}
.middleBanners .middleBannersItemDescription {
  display: flex;
  padding: 12px 32px 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--Neutras-01, #1b1b1b);
  color: var(--Neutras-05, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  width: fit-content;
  margin: 0 auto;
}

.chosseByContainer {
  width: 100%;
  padding: 40px 1rem;
  background: var(--Neutras-04, #f1f1f1);
}
.chosseByContainer .chosseByTitle {
  text-align: center;
  color: var(--Neutras-01, #1b1b1b);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .chosseByContainer .chosseByTitle {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
}
.chosseByContainer .chosseByItems {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.chosseByContainer .chosseByItems::-webkit-scrollbar {
  display: none;
}
.chosseByContainer .chosseByItems .chosseByItemLink {
  opacity: 0.9;
  min-width: 80px;
  min-height: 80px;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  background: var(--Neutras-01, #1b1b1b);
  color: var(--Neutras-05, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .chosseByContainer .chosseByItems .chosseByItemLink {
    font-size: 20px;
    min-width: 48px;
    font-size: 24px;
    min-height: 48px;
    opacity: 1;
  }
}
.chosseByContainer .chosseByItems .chosseByItemLink:hover {
  opacity: 1;
}

.comboPriceContainer {
  padding: 4px 8px;
  margin-top: 8px;
  background: var(--Neutras-04, #f1f1f1);
  color: var(--Neutras-01, #1b1b1b);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
@media screen and (max-width: 768px) {
  .comboPriceContainer {
    font-size: 10px;
    line-height: 16px;
  }
}

.customProductSummaryBadge {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}

.customProductSummaryBadge__new {
  color: var(--Neutras-05, #fff);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  padding: 4px;
  background-color: #000;
}

.customProductSummaryBadge__discount {
  color: var(--Neutras-05, #fff);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  padding: 4px 8px;
  min-width: 40px;
  background: var(--Primria-01, #c00146);
}

.divContainer--price-container {
  min-height: 48px;
  margin-top: 8px;
}

.middleBanners--buyMorePayLess {
  margin-top: 40px;
}
.middleBanners--buyMorePayLess .middleBannersTitle {
  display: block;
  text-align: center;
  color: var(--Neutras-01, #1b1b1b);
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.middleBanners--buyMorePayLess .middleBannersWrapper {
  gap: 2rem;
}
.middleBanners--buyMorePayLess .middleBannersItemContent {
  opacity: 1 !important;
  visibility: visible !important;
  width: 100%;
  transform: translate(-50%, calc(-40% - 10px)) !important;
}
.middleBanners--buyMorePayLess .middleBannersItemTitle {
  position: relative;
  top: -12px;
  background-color: #000;
  padding: 12px 20px;
  color: var(--Neutras-05, #fff);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
  margin: 0 auto;
}
.middleBanners--buyMorePayLess .middleBannersItemTitle:hover {
  text-decoration: underline;
}
.middleBanners--buyMorePayLess .middleBannersItemsubTitle {
  color: var(--Tercirio-03, #fbf7f3);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0px;
  line-height: 18px; /* 128.571% */
}

.divContainer--footer-banner-1 {
  max-width: 1440px;
  padding: 0px 1rem !important;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.divContainer--footer-banner-1 :global(.vtex-render-runtime-8-x-lazyload) {
  width: 100%;
}