@charset "UTF-8";
.divContainer--container {
  max-width: 1280px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-left: auto;
  margin-right: auto;
}

.topBarContainer {
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}
.topBarContainer .topBarMessage {
  display: block;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .topBarContainer .topBarMessage {
    font-size: 12px;
  }
}

.divContainer--main-header {
  flex-direction: row !important;
}

.menuContainer {
  display: flex;
  align-items: center;
}

.menuItem {
  position: relative;
  cursor: pointer;
  padding: 0px 15px;
  min-height: 80px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in;
}
.menuItem:hover {
  color: #00579c;
}
.menuItem:hover .dropdown {
  display: flex;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  background: white;
  border: 1px solid #eee;
  flex-direction: column;
  min-width: 300px;
  z-index: 10;
  border-radius: 0 0 0 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.dropdown:hover {
  display: flex;
}

.dropdownItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: all 0.3s ease-in;
}
.dropdownItem .menuLabel {
  color: var(--black, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
}
.dropdownItem:hover {
  background-color: #00579c;
}
.dropdownItem:hover .menuLabel {
  color: #fff;
}

.submenu {
  position: absolute;
  top: -1px;
  left: 100%;
  padding: 0px;
  display: flex;
  min-width: 300px;
  z-index: 20;
  width: max-content;
  max-width: 960px;
  min-height: 300px;
}
.submenu .submenuItemUl {
  padding: 0px;
  width: 100%;
  margin: 0px;
  background-color: #fafafa;
  padding-bottom: 1rem;
}
.submenu .submenuItemUl .submenuItem {
  padding: 12px 40px;
}
.submenu .submenuItemUl .submenuItem .submenuItemLink {
  color: var(--gray-800, #27272a);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}
.submenu .submenuItemUl .submenuItem .submenuItemLink:hover {
  text-decoration: underline;
}
.submenu .submenuImage {
  width: 100%;
  max-width: unset;
  height: 100%;
}
.submenu .submenuImageContainer {
  padding: 24px;
  min-width: 320px;
  background-color: #fafafa;
}

.submenuItem {
  display: block;
  padding: 0.25rem 0;
  color: #333;
  text-decoration: none;
}

.customLoginButton {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  min-width: 180px;
}

.customLoginButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.customLoginButtonLabel {
  text-align: right;
  display: block;
  color: var(--gray-800, #27272a);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  width: 100%;
  text-decoration: none;
}

.customLoginButtonLabelWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
  text-align: right;
  white-space: nowrap;
}

.customLoginButtonLabelBold {
  color: var(--gray-800, #27272a);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.customLoginButtonDropdown {
  padding: 16px 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  min-width: 300px;
}
.customLoginButtonDropdown .customLoginButtonDropdownLabel {
  margin: 0px;
  color: var(--Azul, #00579c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  margin-bottom: 8px;
}
.customLoginButtonDropdown .customLoginButtonDropdowndescription {
  margin: 0px;
  color: var(--MT---Secundria, #424242);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 20px;
}
.customLoginButtonDropdown .customLoginButtonDropdowndescription--bold {
  color: #000;
  font-weight: bold;
}
.customLoginButtonDropdown .customLoginButtonLabelWrapper--entrar {
  width: 100%;
  margin-bottom: 6px;
}
.customLoginButtonDropdown .customLoginButtonLabelWrapper--entrar :global(.vtex-button) {
  border-radius: 8px;
  background: var(--Azul, #00579c);
  border: none;
  color: var(--Amarelo, #fcd200);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  line-height: 140%; /* 19.6px */
  text-transform: capitalize;
}
.customLoginButtonDropdown .customLoginButtonLabelWrapper--entrar :global(.vtex-button):hover {
  opacity: 0.9;
}
.customLoginButtonDropdown .customLoginButtonLabelWrapper--cadastrar {
  width: 100%;
  text-align: center;
}
.customLoginButtonDropdown .customLoginButtonLabelWrapper--cadastrar :global(.vtex-button) {
  border-radius: 8px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  text-align: center;
  width: 100%;
  color: var(--MT---Secundria, #424242);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: capitalize;
}
.customLoginButtonDropdown .customLoginButtonLabelWrapper--cadastrar :global(.vtex-button):hover {
  opacity: 0.9;
}

.customMinicartButton {
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  padding-right: 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.customMinicartButton .customMinicartButtonCount {
  border-radius: 12px;
  background: var(--Secundria, #00579c);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 16.8px */
}

.customDeals {
  max-width: 1280px;
  padding: 0px 1rem;
  margin: 60px auto;
}
.customDeals .customDealsWrapper {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .customDeals .customDealsWrapper {
    overflow-y: hidden;
    overflow-x: scroll;
  }
}
.customDeals .customDealsWrapper .customDealsItem {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .customDeals .customDealsWrapper .customDealsItem {
    min-width: 200px;
    overflow: scroll;
  }
}
.customDeals .customDealsWrapper .customDealsItem .customDealsItemTitle {
  margin-top: 8px;
  color: var(--black, #000);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  margin: 0px;
}
.customDeals .customDealsWrapper .customDealsItem .customDealsItemDescription {
  color: var(--gray-600, #52525b);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  margin: 0px;
}

.categoryListContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 1rem;
  margin-bottom: 60px;
}
.categoryListContainer .sliderTrack {
  gap: 1rem;
}
@media screen and (max-width: 1024px) {
  .categoryListContainer .sliderTrack {
    gap: 0;
  }
}
.categoryListContainer .categoryListTitle {
  color: var(--black, #000);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  margin-top: 0px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1024px) {
  .categoryListContainer .categoryListTitle {
    font-size: 1rem;
  }
}
.categoryListContainer .categoryListItemImage {
  object-fit: cover;
  border-radius: 8px;
  display: flex;
  width: 100%;
}
.categoryListContainer .categoryListItemLink {
  display: flex;
  border-radius: 8px;
  position: relative;
  transition: all 0.3s ease-in;
}
.categoryListContainer .categoryListItemLink:hover {
  opacity: 0.8;
}
.categoryListContainer .categoryListItemLink::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.categoryListContainer .categoryListItemTitle {
  padding: 30px;
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 99;
  margin: 0px;
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 42px */
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .categoryListContainer .categoryListItemTitle {
    color: var(--white, #fff);
    font-size: 22px;
    padding: 1rem;
  }
}
.categoryListContainer .sliderLeftArrow {
  border-radius: 200px;
  border: 1px solid #eaeaea;
  background: #fff !important;
  top: 10%;
  left: -4rem !important;
  min-width: 48px;
  min-height: 48px;
}
.categoryListContainer .sliderLeftArrow .caretIcon {
  width: 15px;
}
@media screen and (max-width: 1200px) {
  .categoryListContainer .sliderLeftArrow {
    left: -1rem !important;
  }
}
.categoryListContainer .sliderRightArrow {
  border-radius: 200px;
  border: 1px solid #eaeaea;
  background: #fff !important;
  top: 10%;
  min-width: 48px;
  min-height: 48px;
  right: -4rem !important;
}
.categoryListContainer .sliderRightArrow .caretIcon {
  width: 15px;
}
@media screen and (max-width: 1200px) {
  .categoryListContainer .sliderRightArrow {
    right: -1rem !important;
  }
}

.divContainer--divider {
  height: 1px !important;
  background: #f4f4f5 !important;
  width: 100% !important;
  padding: 0px 1rem !important;
  width: calc(100% - 24px) !important;
  margin: 0 auto !important;
  margin-bottom: 10px !important;
}

.middleBanners {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 1rem;
  margin-bottom: 60px;
}
.middleBanners .sliderLayoutContainer {
  margin-top: 60px;
}
.middleBanners .middleBannersWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 60px 0px;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .middleBanners .middleBannersWrapper {
    grid-template-columns: 1fr;
  }
}
.middleBanners .middleBannersWrapper .middleBannersItem {
  position: relative;
  transition: all 0.3s ease-in;
}
.middleBanners .middleBannersWrapper .middleBannersItem:hover {
  opacity: 0.8;
}
.middleBanners .paginationDotsContainer {
  bottom: -2rem;
}
.middleBanners .paginationDotsContainer .paginationDot--isActive {
  background-color: #00579c;
}
.middleBanners .middleBannersItem {
  display: flex;
  width: 100%;
  height: 100%;
}
.middleBanners .middleBannersItemIcon {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
}
.middleBanners .middleBannersItemContent {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.middleBanners .middleBannersItemContent .middleBannersItemDescription {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.middleBanners .middleBannersItemContent .middleBannersItemsubTitle {
  color: var(--white, #fff);
  /* text-xl/Light */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
}
.middleBanners .middleBannersItemContent .middleBannersItemTitle {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 1rem;
  line-height: 20px;
}

.customProductSummaryBadge {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 99999;
  padding: 5px 10px;
  border-radius: 4px;
  background: var(--white, #fff);
  color: var(--black, #000);
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 16.8px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.middleBanners--3-banners {
  margin-bottom: 1rem;
}
.middleBanners--3-banners .middleBannersWrapper {
  display: flex;
  margin-bottom: 1rem;
}
.middleBanners--3-banners .middleBannersWrapper .middleBannersItemContent {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .middleBanners--3-banners .middleBannersWrapper {
    flex-direction: column;
  }
}

.middleBanners--brand .middleBannersWrapper {
  margin: 0px auto !important;
}
.middleBanners--brand .middleBannersItemIcon {
  width: 100%;
  height: auto;
}
.middleBanners--brand .middleBannersItemIcon--icon {
  max-width: 150px;
}

.divContainer--footer-banner-1 {
  max-width: 1280px !important;
  padding: 0px 1rem !important;
  margin: 60px auto !important;
}

.customInstagram--instagram-feed {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 1rem;
}
.customInstagram--instagram-feed .customInstagramTitle {
  margin: 0px;
  color: var(--black, #000);
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 33.6px */
}
.customInstagram--instagram-feed .instagramLink--instagram-feed {
  color: var(--Secundria, #00579c);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  display: flex;
  font-weight: 500;
  justify-content: center;
  line-height: 140%; /* 22.4px */
}
.customInstagram--instagram-feed .customInstagramWrapper--instagram-feed {
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
.customInstagram--instagram-feed .customInstagramWrapper--instagram-feed .customInstagramItemIcon {
  border-radius: 8px;
  object-fit: cover;
}

.footerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
@media screen and (max-width: 1024px) {
  .footerContainer {
    gap: 40px;
  }
}
.footerContainer .footerContainerLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.footerContainer .newsletterForm {
  min-width: 300px;
}
.footerContainer .footerContainerLink--last,
.footerContainer .footerContainerLink--email {
  font-size: 12px !important;
}
.footerContainer .footerContainerLink,
.footerContainer .newsletterFormDescription {
  color: var(--gray-600, #52525b);
  /* text-sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  margin: 0px;
  margin-bottom: 6px;
  text-decoration: none;
}
.footerContainer .footerContainerWrapper {
  max-width: 260px;
}
@media screen and (max-width: 1024px) {
  .footerContainer .footerContainerWrapper {
    max-width: unset;
    width: 100%;
  }
}
.footerContainer .footerContainerUl {
  margin: 0px;
  padding: 0px;
}
.footerContainer .footerContainerUl .footerContainerLi {
  list-style: none;
}

.footerContainerH4,
.newsletterFormTitle {
  color: var(--gray-800, #27272a);
  margin: 0px;
  margin-bottom: 6px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
}

.footerContainerBottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 60px 0px;
}

.footerContainerUl {
  margin: 0px;
  padding: 0px;
}

.footerContainerLi {
  list-style: none;
}

.footerContainerUl--redes-sociais {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.footerContainerUl--redes-sociais .footerContainerLink {
  min-width: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00579c;
  border-radius: 50%;
}
.footerContainerUl--redes-sociais .footerContainerLink :global(.vtex-render-runtime-8-x-lazyload) {
  width: 100%;
  height: 100%;
  max-width: 25px;
  max-height: 25px;
}
.footerContainerUl--redes-sociais .footerContainerLink:hover {
  opacity: 0.8;
}

.menuContainer--mobile {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 1000vh;
  z-index: 9999;
  background-color: #fff;
}

.menuCardContainer {
  padding: 0px 20px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: var(--white, #fff);
  /* text-sm/Bold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  text-decoration: none;
  background: var(--Azul, #00579c);
}

.profileContainerTitle {
  color: var(--black, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  margin: 0px;
  font-weight: 300;
  line-height: 100%; /* 19.6px */
}

.profileContainer {
  padding: 10px 20px;
  background: var(--gray-100, #f4f4f5);
  display: flex;
  align-items: center;
  gap: 10px;
}
.profileContainer .profileContainerLink {
  color: var(--black, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  text-decoration: none;
}

.menuContainer--mobile .menuItemUl {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.menuContainer--mobile .menuItemUl .drawerButton {
  padding: 1rem;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
}
.menuContainer--mobile .submenuItemsWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99999;
  height: 100vh;
  background-color: #fff;
}
.menuContainer--mobile .submenuItemsWrapper .backButton {
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #eaeaea;
  color: var(--gray-800, #27272a);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  background: var(--gray-100, #f4f4f5);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.menuContainer--mobile .submenuItemsWrapper .submenuUl {
  padding: 0px;
  list-style: none;
}
.menuContainer--mobile .submenuItemsWrapper .submenuUl .collapsibleMenu {
  padding: 1rem 0px;
  border-bottom: 1px solid #eaeaea;
}
.menuContainer--mobile .submenuItemsWrapper .submenuUl .collapsibleMenu .submenuItem {
  padding: 0px !important;
}
.menuContainer--mobile .submenuItemsWrapper .submenuUl :global(.vtex__icon-caret-down),
.menuContainer--mobile .submenuItemsWrapper .submenuUl :global(.vtex__icon-caret-up) {
  padding-right: 1rem;
}
.menuContainer--mobile .submenuItemsWrapper .submenuUl .collapsibleMenuTitle {
  text-decoration: none;
  color: #272727;
  text-decoration: none;
  color: var(--MT---Secundria, #424242);
  font-family: Inter;
  font-size: 14px;
  padding-left: 1rem;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
}
.menuContainer--mobile .submenuItemsWrapper .submenuUl .submenuLi .menuLink {
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: var(--MT---Secundria, #424242);
  font-family: Inter;
  font-size: 14px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.menuContainer--mobile .submenuItemsWrapper .submenuUl .collapsibleMenu--open .collapsibleMenuTitle {
  color: #00579c;
  text-decoration: none;
}
.menuContainer--mobile .submenuItemsWrapper .submenuUl .collapsibleMenu--open :global(.vtex__icon-caret-down),
.menuContainer--mobile .submenuItemsWrapper .submenuUl .collapsibleMenu--open :global(.vtex__icon-caret-up) {
  color: #00579c;
}
.menuContainer--mobile .submenuItemsWrapper .submenuUl .submenuItems {
  padding-left: 0px;
  padding-top: 0px;
  border-top: 1px solid #eaeaea;
  margin-top: 1rem;
}
.menuContainer--mobile .submenuItemsWrapper .submenuUl .submenuItems .submenuItem {
  padding: 1rem 0px;
  border-bottom: 1px solid #eaeaea;
}
.menuContainer--mobile .submenuItemsWrapper .submenuUl .submenuItems .submenuItem:last-child {
  border: none;
}
.menuContainer--mobile .submenuItemsWrapper .submenuUl .submenuItems .submenuItem .menuLink {
  display: flex;
  padding-left: 2rem;
  color: var(--MT---Secundria, #424242);
  font-family: Inter;
  font-size: 14px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.menuContainer--mobile .menuOthers {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menuContainer--mobile .menuOthers .menuLink--others {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  color: var(--black, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

.footerContainer--mobile {
  flex-direction: column;
}
.footerContainer--mobile .footerContainerUl--formasPagamento {
  display: flex;
  width: 100%;
  justify-content: center;
}
.footerContainer--mobile .footerContainerUl--formasPagamento :global(.vtex-render-runtime-8-x-lazyload) {
  width: auto;
  height: auto;
}
.footerContainer--mobile .footerContainerUl--siteSeguro {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footerContainer--mobile .footerContainerWrapper--siga-nos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .newsletterForm {
    width: 100%;
  }
  .divContainer--auaha-vtex {
    display: flex;
    flex-direction: row !important;
    gap: 1rem !important;
  }
}
.divContainer--prod-name {
  flex-direction: column !important;
}

.customShippingBar__progress {
  width: 100%;
  height: 8px;
  background-color: #ddd;
  border-radius: 2px;
}

.minicartBadgeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 1rem;
  border-bottom: 1px solid #f2f1f1;
}
.minicartBadgeContainer .minicartBadgeContainerTitle {
  margin: 0px;
  color: var(--Contraste-Preto, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  margin-left: 3rem;
  display: block;
}
.minicartBadgeContainer .minicartBadgeText {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  border-radius: 50%;
  background: var(--Secundria, #00579c);
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 16.8px */
  display: flex;
  align-items: center;
  justify-content: center;
}

.customShippingBar {
  padding: 12px 1rem;
}
.customShippingBar .customShippingBar__remaining {
  color: var(--black, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  text-align: center;
}
.customShippingBar .customShippingBarItemsPrice {
  display: block;
  margin: 8px 0px;
  color: #969696;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  text-align: center;
}
.customShippingBar .customShippingBar__remaining--bold {
  font-weight: bold;
  color: #00579c;
}
.customShippingBar .customShippingBar__remaining--disclaimer {
  display: block;
  color: var(--black, #000);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  text-align: center;
}
.customShippingBar .customShippingBar__total {
  background-color: #00579c;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.customShippingBar .customShippingBar__progress_price {
  display: flex;
  justify-content: flex-end;
  margin-top: 1px;
  color: #969696;
  /* text-xs/Regular */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}

.divContainer--minicart-item {
  border-bottom: 1px solid #dedede;
}

.divContainer--minicart-close-button-wrapper {
  display: flex;
  justify-content: center !important;
}

.contactFormContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  padding-bottom: 60px;
}
.contactFormContainer .contactForm {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  .contactFormContainer .contactForm {
    flex-direction: column;
  }
}
.contactFormContainer .contactForm .form,
.contactFormContainer .contactForm .contactFormSubtitle {
  width: 100% !important;
}
.contactFormContainer .contactForm .form {
  width: 60%;
}
.contactFormContainer .contactForm .form .contactFormTitle {
  margin: 0px;
  margin-bottom: 24px;
  color: var(--COLOR-PRETO, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contactFormContainer .contactForm .form .contactFormInput {
  margin-bottom: 24px;
  gap: 12px;
  display: grid;
}
.contactFormContainer .contactForm .form .contactFormInput :global(.vtex-styleguide-9-x-container),
.contactFormContainer .contactForm .form .contactFormInput :global(.vtex-input-prefix__group) {
  border: none;
}
.contactFormContainer .contactForm .form .contactFormInput :global(.vtex-dropdown__arrow) {
  color: #000;
}
.contactFormContainer .contactForm .form .contactFormInput :global(.vtex-textarea__input),
.contactFormContainer .contactForm .form .contactFormInput :global(.vtex-dropdown__button),
.contactFormContainer .contactForm .form .contactFormInput :global(.vtex-styleguide-9-x-input) {
  border-radius: 8px;
  border: 1px solid var(--COLOR-CINZA-CLARO, #d6d6d6);
  background: var(--COLOR-BRANCO, #fff);
  color: var(--COLOR-PRETO, #000);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contactFormContainer .contactForm .form :global(.vtex-button) {
  border-radius: 8px;
  background: var(--Azul, #00579c);
  border: none;
  color: var(--Neutras-05, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-transform: none;
}
.contactFormContainer .contactForm .form .contactFormInput--triple {
  grid-template-columns: 1fr 1fr 1fr;
}
.contactFormContainer .contactForm .form .contactFormInput--double {
  grid-template-columns: 1fr 1fr;
}
.contactFormContainer .contactForm .contactFormSubtitle {
  height: 100%;
  width: 40%;
  border-radius: 16px;
  background: var(--gray-100, #f4f4f5);
  padding: 24px;
}
.contactFormContainer .contactForm .contactFormSubtitle .contactFormTitleH5 {
  color: var(--COLOR-PRETO, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}
.contactFormContainer .contactForm .contactFormSubtitle .contactFormTitleP {
  color: var(--COLOR-PRETO, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 24px;
}
.contactFormContainer .contactForm .contactFormSubtitle .contactFormUl {
  margin: 0px;
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contactFormContainer .contactForm .contactFormSubtitle .contactFormUl .contactFormWhatsApp {
  display: flex;
  height: 40px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--green-500, #22c55e);
  align-self: stretch;
  color: var(--white, #fff);
  /* text-sm/Bold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  line-height: 140%; /* 19.6px */
}
.contactFormContainer .contactForm .contactFormSubtitle .contactFormUl .contactFormWhatsApp:hover {
  background: var(--green-500, #16803d);
}
.contactFormContainer .contactForm .contactFormSubtitle .contactFormUl .contactFormLi {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contactFormContainer .contactForm .contactFormSubtitle .contactFormUl .contactFormLi .contactFormContact {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}
.contactFormContainer .contactForm .contactFormSubtitle .contactFormUl .contactFormLi .contactFormContact .contactFormItemTitleH6 {
  margin: 0px;
  color: var(--Neutras-01, #1b1b1b);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
}
.contactFormContainer .contactForm .contactFormSubtitle .contactFormUl .contactFormLi .contactFormIconContaner {
  padding: 12px;
  background-color: #fff;
  border-radius: 50%;
  min-width: 52px;
  min-height: 52px;
  max-width: 52px;
  max-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactFormContainer .contactForm .contactFormSubtitle .contactFormUl .contactFormLi .contactFormItemContainer,
.contactFormContainer .contactForm .contactFormSubtitle .contactFormUl .contactFormLi .contactFormText {
  color: var(--Neutras-01, #1b1b1b) !important;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.breadcrumb {
  padding: 8px 0px;
  background: var(--Neutras-04, #f1f1f1);
}
.breadcrumb .breadcrumbContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}
.breadcrumb .breadcrumbItem,
.breadcrumb .breadcrumbItemLink {
  color: var(--primrias-01, #272727);
  text-decoration: none;
  /* Texto/TextoM regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customStoresContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 1rem 60px;
}
@media screen and (max-width: 1024px) {
  .customStoresContainer {
    grid-template-columns: 1fr;
  }
  .customStoresContainer .storeInfo {
    flex-direction: column;
  }
  .customStoresContainer .storeLinks {
    justify-content: flex-start;
    width: 100%;
    margin-top: 1rem;
  }
}
.customStoresContainer .storeImage {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.customStoresContainer .storeInfo {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  gap: 20p;
  align-items: center;
}
.customStoresContainer .storeDescription {
  margin: 0px;
  color: var(--gray-500, #71717a);
  /* text-sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.customStoresContainer .storeLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.customStoresContainer .storeLink {
  border-radius: 8px;
  background: var(--Secundria, #00579c);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 0px 20px;
  color: var(--white, #fff);
  /* text-sm/Bold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  line-height: 140%; /* 19.6px */
  gap: 10px;
}
.customStoresContainer .storeLink:hover {
  opacity: 0.9;
}
.customStoresContainer .storeLink--whatsapp {
  border-radius: 8px;
  background: var(--green-500, #22c55e);
}
.customStoresContainer .storeCard {
  display: flex;
  flex-direction: column;
}
.customStoresContainer .storeCard .storeName {
  color: var(--gray-700, #3f3f46);
  margin: 0px;
  /* text-base/Bold */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
}

.divContainer--breadcrumb {
  margin-bottom: 24px;
}

.productInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 28px;
}
.productInfo .productInfoAvailable {
  margin: 0px;
  color: var(--gray-600, #52525b);
  /* text-xs/Regular */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}
.productInfo :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
  padding: 0px !important;
  border: none;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productInfo :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-button__label) {
  padding: 0px;
}

.divContainer--add-to-cart-section {
  align-items: center;
}
.divContainer--add-to-cart-section :global(.vtex-button) {
  border-radius: 8px;
  height: 100%;
  background: var(--green-500, #22c55e);
  border: none;
  padding: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .divContainer--add-to-cart-section :global(.vtex-button) {
    padding: 10px 0px;
  }
}
.divContainer--add-to-cart-section :global(.vtex-button):hover {
  background: var(--green-600, #0f7033);
}
.divContainer--add-to-cart-section :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText) {
  color: var(--white, #fff);
  /* text-sm/Bold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  text-transform: none;
}

.customProductDescription {
  display: flex;
  padding-top: 20px;
  margin-top: 28px;
  border-top: 1px solid var(--gray-200, #e4e4e7);
  background: var(--white, #fff);
}
.customProductDescription :global(.vtex__icon-caret-up),
.customProductDescription :global(.vtex__icon-caret-down) {
  color: #000;
  width: 10px;
}

.divContainer--product-infos {
  min-height: 1250px;
  max-width: 30%;
  min-width: 450px;
}

.customProductDescriptionHeader {
  color: var(--gray-700, #3f3f46);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin: 0px;
  line-height: 140%; /* 22.4px */
}

.customProductDescriptionContent {
  color: var(--gray-600, #52525b);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.shareContainer {
  margin-top: 28px;
}
.shareContainer .shareContainerTitle {
  margin: 0px;
  margin-bottom: 6px;
  color: var(--black, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.shareContainer .shareContainerContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.shareContainer .shareButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.shareContainer .shareButton:hover {
  opacity: 0.8;
}

.compreJunto {
  max-width: 1280px;
  padding: 60px 1rem;
  margin: 0 auto;
}
.compreJunto :global(.vtex-store-components-3-x-installmentsPrice) {
  display: none;
}
.compreJunto .compreJuntoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.compreJunto .compreJuntoItem {
  max-width: 300px;
}
.compreJunto .compreJuntoTotals {
  height: -webkit-fill-available;
  padding: 40px;
  border-radius: 8px;
  background: var(--gray-100, #f4f4f5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  min-width: 325px;
}
.compreJunto .compreJuntoTotals .compreJuntoTotalTitle {
  color: var(--gray-700, #3f3f46);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  margin: 0px;
}
.compreJunto .compreJuntoTotals .compreJuntoTotalValue {
  color: var(--gray-700, #3f3f46);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 30.8px */
  margin: 0px;
  text-align: center;
}
.compreJunto .compreJuntoTotals :global(.vtex-button) {
  width: 100%;
  margin-top: 1rem;
  border-radius: 8px;
  border: none;
  background: var(--green-500, #22c55e);
  text-transform: none;
}
.compreJunto .compreJuntoTotals :global(.vtex-button):hover {
  background: var(--green-600, #0f7033);
}
.compreJunto .compreJuntoTotals :global(.vtex-button) :global(.vtex-button__label) {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
}

@media screen and (max-width: 1024px) {
  .divContainer--product-infos {
    width: 100%;
    max-width: 100%;
    min-width: unset;
  }
  .divContainer--breadcrumb {
    margin: 0px;
  }
  .divContainer--product-infos {
    padding: 0px 1rem !important;
    min-height: unset !important;
  }
  .divContainer--product-main {
    padding: 0px !important;
    gap: 40px !important;
  }
}
.compreJunto--mobile {
  padding: 40px 0px;
}
.compreJunto--mobile .compreJuntoWrapper {
  padding: 0px 1rem;
}

.divContainer--department-banner {
  position: relative;
}
.divContainer--department-banner :global(.vtex-search-result-3-x-galleryTitle--layout) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc((100% - 1280px) / 2);
  padding-left: 1rem;
  margin: 0px;
  color: #fff;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 14.4px;
  text-transform: uppercase;
}

.divContainer--search {
  margin-bottom: 0px;
}

.departmentCarousel--search-carousel {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 1rem 60px;
}
.departmentCarousel--search-carousel .sliderArrows {
  border-radius: 200px;
  border: 1px solid #eaeaea;
  background: #fff !important;
  min-width: 48px;
  min-height: 48px;
}
.departmentCarousel--search-carousel .sliderArrows .caretIcon {
  width: 15px;
}
.departmentCarousel--search-carousel .sliderLeftArrow {
  left: -4rem;
}
@media screen and (max-width: 1280px) {
  .departmentCarousel--search-carousel .sliderLeftArrow {
    left: -1rem;
  }
}
.departmentCarousel--search-carousel .sliderRightArrow {
  right: -4rem;
}
@media screen and (max-width: 1280px) {
  .departmentCarousel--search-carousel .sliderRightArrow {
    right: -1rem;
  }
}
.departmentCarousel--search-carousel .departmentCarouselItem {
  text-decoration: none;
  width: 100%;
}
.departmentCarousel--search-carousel .departmentCarouselItem:hover {
  opacity: 0.8;
}
.departmentCarousel--search-carousel .departmentCarouselItemTitle--search-carousel {
  margin: 0px;
  margin-top: 8px;
  color: var(--black, #000);
  text-align: center;
  text-decoration: none;
  /* text-base/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
.departmentCarousel--search-carousel .departmentCarouselItemImage {
  display: block;
  width: 100%;
  object-fit: contain;
}

.divContainer--filter-container {
  padding-bottom: 24px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-bottom: 1px solid #e4e4e7;
  max-width: calc(1280px - 2rem);
}
@media screen and (max-width: 1024px) {
  .divContainer--filter-container {
    padding: 14px 1rem !important;
    border: none;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem !important;
  }
}

.divContainer--orderby-container {
  margin: 24px auto 24px;
  width: 100%;
}

.departmentCarousel--search-carousel--mobile {
  padding-bottom: 40px;
}

.divContainer--product-infos-unavailable {
  max-width: 30%;
  min-width: 450px;
  width: 100% !important;
}
@media screen and (max-width: 1024px) {
  .divContainer--product-infos-unavailable {
    min-width: unset;
    padding: 0px 1rem !important;
    width: 100% !important;
    max-width: unset !important;
  }
}

.divContainer--filter-search {
  margin-top: 24px !important;
}

.divContainer--sobre-banners-1 {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
}
@media screen and (max-width: 1024px) {
  .divContainer--sobre-banners-1 {
    grid-template-columns: 1fr !important;
    gap: 40px !important;
  }
}

.customLoginButtonLabel--logged {
  font-weight: bold;
}

.recommendationShelf {
  max-width: 1280px;
  margin: auto;
  padding: 0 1rem;
  padding-bottom: 60px;
}
@media screen and (min-width: 1025px) {
  .recommendationShelf .sliderTrack {
    gap: 1rem;
  }
}
.recommendationShelf .recommendationShelfTitle {
  color: var(--black, #000);
  text-align: center;
  /* text-2xl/Regular */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  justify-content: center;
}
.recommendationShelf .recommendationShelfTitle::after {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='26' viewBox='0 0 29 26' fill='none'%3E%3Cg clip-path='url(%23clip0_11616_8777)'%3E%3Cpath d='M7.54948 0.837341H8.67351C9.06451 0.917341 9.46067 0.973261 9.84367 1.08026C11.388 1.5322 12.734 2.49293 13.6635 3.80634C13.9635 4.20634 14.2235 4.62229 14.5055 5.03729C14.7875 4.62229 15.0496 4.20134 15.3476 3.80634C16.3692 2.35532 17.8993 1.34147 19.6337 0.966248C19.8667 0.918248 20.1027 0.880341 20.3337 0.837341H21.4577C22.0363 0.924365 22.6087 1.04813 23.1716 1.20819C24.3593 1.60676 25.4224 2.30854 26.256 3.24384C27.0896 4.17913 27.6647 5.31558 27.9245 6.5412C28.0585 7.0532 28.1096 7.58824 28.1996 8.11224V9.23529C28.1824 9.3031 28.1694 9.37195 28.1606 9.44135C28.0186 11.0205 27.4708 12.5361 26.5705 13.8412C25.6153 15.2757 24.4752 16.5779 23.1796 17.7143C20.5316 20.0733 17.8436 22.3883 15.1686 24.7143C15.0868 24.8106 14.985 24.888 14.8703 24.9411C14.7555 24.9942 14.6305 25.0217 14.5041 25.0217C14.3777 25.0217 14.2528 24.9942 14.1381 24.9411C14.0234 24.888 13.9214 24.8106 13.8395 24.7143C11.5455 22.7343 9.2395 20.7653 6.9655 18.7653C5.24219 17.3333 3.71939 15.6761 2.43767 13.8383C1.61937 12.6943 1.08819 11.3703 0.889083 9.97797C0.689976 8.58561 0.828746 7.16579 1.29362 5.83832C1.64591 4.67079 2.29719 3.61545 3.18278 2.77704C4.06838 1.93862 5.15765 1.34619 6.3427 1.05829C6.7387 0.954289 7.14748 0.910341 7.54948 0.837341Z' fill='%23F87171'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_11616_8777'%3E%3Crect width='27.404' height='24.183' fill='white' transform='translate(0.797852 0.837341)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.recommendationShelf .sliderArrows {
  border-radius: 200px;
  border: 1px solid var(--gray-100, #f4f4f5);
  background: var(--white, #fff) !important;
  min-height: 48px !important;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.recommendationShelf .sliderArrows .caretIcon {
  width: 15px;
}
.recommendationShelf .sliderRightArrow {
  right: -4rem;
}
@media screen and (max-width: 1280px) {
  .recommendationShelf .sliderRightArrow {
    right: -1rem;
  }
}
.recommendationShelf .sliderLeftArrow {
  left: -4rem;
}
@media screen and (max-width: 1280px) {
  .recommendationShelf .sliderLeftArrow {
    left: -1rem;
  }
}

.divContainer--header-mobile--wrapper {
  margin-bottom: 12px;
}

.productGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 28px;
  column-gap: 1rem;
  margin-bottom: 28px;
}
@media screen and (max-width: 1024px) {
  .productGridContainer {
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
  }
}
.productGridContainer .productGridContainerItem {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  border-radius: 16px;
  background: var(--gray-100, #f4f4f5);
  padding: 8px;
  width: 100%;
}
.productGridContainer .productGridContainerItem .productGridContainerItemInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 12px;
}
.productGridContainer .productGridContainerItem .productGridContainerItemImage {
  border-radius: 8px;
}
.productGridContainer .productGridContainerItem .productGridContainerItemTitle {
  color: var(--black, #000);
  /* text-xs/Regular */
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  margin: 0px;
}
.productGridContainer .productGridContainerItem .productGridContainerItemSelect {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background: var(--white, #fff);
  padding: 4px 6px;
  color: var(--black, #000);
  /* text-xs/Regular */
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.buyButton {
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.buyButton .quantityStepper {
  margin-top: 8px;
  width: 100%;
  max-width: 100px;
  border: 1px solid var(--Cor-de-Fundo-Input, #eaeaea);
  padding: 10px;
}
.buyButton :global(.vtex-numeric-stepper__input) {
  width: 50px;
  color: var(--black, #000);
  /* text-sm/Regular */
  border: none;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.buyButton :global(.vtex-numeric-stepper-container) {
  min-width: 100px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  background: var(--white, #fff);
  padding: 3px 15px;
}
.buyButton :global(.vtex-numeric-stepper__minus-button__text),
.buyButton :global(.vtex-numeric-stepper__plus-button__text) {
  color: var(--gray-400, #a1a1aa);
  /* text-sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
}
.buyButton :global(.vtex-numeric-stepper__plus-button),
.buyButton :global(.vtex-numeric-stepper__minus-button) {
  width: auto !important;
  border: none;
  background-color: transparent;
}
.buyButton :global(.vtex-numeric-stepper__input) {
  border: none;
}
.buyButton :global(.vtex-button) {
  border-radius: 8px;
  height: 100%;
  background: var(--green-500, #22c55e);
  border: none;
  padding: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.buyButton :global(.vtex-button):disabled {
  background: var(--gray-300, #d4d4d8);
  cursor: not-allowed;
}
.buyButton :global(.vtex-button):hover:not(:disabled) {
  background: var(--green-600, #0f7033);
}
.buyButton :global(.vtex-button) :global(.vtex-button__label) {
  color: var(--white, #fff);
  /* text-sm/Bold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  text-transform: none;
  text-transform: none;
}

.productGridContainerItem--unavailable {
  opacity: 0.8;
  cursor: not-allowed;
  position: relative;
}
.productGridContainerItem--unavailable::before {
  content: "x";
  width: 10px;
  height: 10px;
  opacity: 1;
  z-index: 99;
  font-size: 12px;
  color: var(--white, #fff);
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  line-height: normal;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 4px;
  border-radius: 50%;
  top: -5px;
  right: 0px;
}

/* Container geral */
.tabelaMedidas {
  width: 100%;
  font-family: sans-serif;
}

/* Título */
.tabelaMedidasTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 16px;
}

/* Wrapper da tabela */
.tabelaMedidasTable {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Cabeçalho */
.tabelaMedidasHeaderCell {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 1px 32px;
  padding-bottom: 4px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  color: var(--black, #000);
  text-align: center;
  /* text-base/Bold */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
}

/* Linha */
.tabelaMedidasRow {
  display: contents;
}

/* Células */
.tabelaMedidasCell {
  padding: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black, #000);
  text-align: center;
  /* text-base/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  text-align: center;
}

.tabelaMedidasTableContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 40px;
  gap: 40px;
}
@media screen and (max-width: 1024px) {
  .tabelaMedidasTableContainer {
    flex-direction: column;
    padding: 1rem;
  }
  .tabelaMedidasTableContainer .tabelaMedidasHeaderCell {
    padding: 5px;
  }
  .tabelaMedidasTableContainer .tabelaMedidasCell {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 1024px) {
  .tabelaMedidasTitle {
    padding: 0px 1rem !important;
  }
}
.tabelaMedidasTitle {
  padding: 0px 40px;
  color: var(--black, #000);
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
  line-height: 140%; /* 33.6px */
}

.tabelaMedidasFooterImage :global(.vtex-render-runtime-8-x-lazyload) {
  width: 100%;
}

.recommendationShelfWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}