.divContainer--container {
  max-width: 1316px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-left: auto;
  margin-right: auto;
}

.topBarContainer {
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}
.topBarContainer .topBarMessage {
  display: block;
  text-align: center;
}

.divContainer--main-header {
  position: relative;
}

.menuContainer {
  display: flex;
  align-items: center;
}

.menuItem {
  cursor: pointer;
  padding: 0px 15px;
  min-height: 80px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in;
}
.menuItem:hover {
  color: #00579c;
}
.menuItem:hover .dropdown {
  display: flex;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 180px;
  background: white;
  border: 1px solid #eee;
  flex-direction: column;
  min-width: 360px;
  z-index: 10;
  border-radius: 0 0 0 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.dropdown:hover {
  display: flex;
}

.dropdownItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: all 0.3s ease-in;
}
.dropdownItem .menuLabel {
  color: var(--black, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
}
.dropdownItem:hover {
  background-color: #00579c;
}
.dropdownItem:hover .menuLabel {
  color: #fff;
}

.submenu {
  position: absolute;
  top: -1px;
  left: 100%;
  padding: 0px;
  display: flex;
  min-width: 300px;
  z-index: 20;
  width: 51vw;
  max-width: 960px;
  min-height: 300px;
}
.submenu .submenuItemUl {
  padding: 0px;
  width: 100%;
  margin: 0px;
  background-color: #fafafa;
  padding-bottom: 1rem;
}
.submenu .submenuItemUl .submenuItem {
  padding: 12px 40px;
}
.submenu .submenuItemUl .submenuItem .submenuItemLink {
  color: var(--gray-800, #27272a);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}
.submenu .submenuItemUl .submenuItem .submenuItemLink:hover {
  text-decoration: underline;
}
.submenu .submenuImage {
  width: 100%;
  max-width: unset;
  height: 100%;
}
.submenu .submenuImageContainer {
  padding: 24px;
  min-width: 320px;
  background-color: #fafafa;
}

.submenuItem {
  display: block;
  padding: 0.25rem 0;
  color: #333;
  text-decoration: none;
}

.customLoginButton {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  min-width: 180px;
}

.customLoginButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.customLoginButtonLabel {
  text-align: right;
  display: block;
  color: var(--gray-800, #27272a);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  width: 100%;
}

.customLoginButtonLabelWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
  text-align: right;
  white-space: nowrap;
}

.customLoginButtonLabelBold {
  color: var(--gray-800, #27272a);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.customLoginButtonDropdown {
  padding: 16px 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  min-width: 360px;
}
.customLoginButtonDropdown .customLoginButtonDropdownLabel {
  margin: 0px;
  color: var(--Azul, #00579c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  margin-bottom: 8px;
}
.customLoginButtonDropdown .customLoginButtonDropdowndescription {
  margin: 0px;
  color: var(--MT---Secundria, #424242);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 20px;
}
.customLoginButtonDropdown .customLoginButtonDropdowndescription--bold {
  color: #000;
  font-weight: bold;
}
.customLoginButtonDropdown .customLoginButtonLabelWrapper--entrar {
  width: 100%;
  margin-bottom: 6px;
}
.customLoginButtonDropdown .customLoginButtonLabelWrapper--entrar :global(.vtex-button) {
  border-radius: 8px;
  background: var(--Azul, #00579c);
  border: none;
  color: var(--Amarelo, #fcd200);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  line-height: 140%; /* 19.6px */
  text-transform: capitalize;
}
.customLoginButtonDropdown .customLoginButtonLabelWrapper--entrar :global(.vtex-button):hover {
  opacity: 0.9;
}
.customLoginButtonDropdown .customLoginButtonLabelWrapper--cadastrar {
  width: 100%;
  text-align: center;
}
.customLoginButtonDropdown .customLoginButtonLabelWrapper--cadastrar :global(.vtex-button) {
  border-radius: 8px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  text-align: center;
  width: 100%;
  color: var(--MT---Secundria, #424242);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: capitalize;
}
.customLoginButtonDropdown .customLoginButtonLabelWrapper--cadastrar :global(.vtex-button):hover {
  opacity: 0.9;
}

.customMinicartButton {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  padding-right: 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.customMinicartButton .customMinicartButtonCount {
  border-radius: 12px;
  background: var(--Secundria, #00579c);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 16.8px */
}

.customDeals {
  max-width: 1316px;
  padding: 0px 1rem;
  margin: 60px auto;
}
.customDeals .customDealsWrapper {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.customDeals .customDealsWrapper .customDealsItem {
  text-align: center;
}
.customDeals .customDealsWrapper .customDealsItem .customDealsItemTitle {
  margin-top: 8px;
  color: var(--black, #000);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  margin: 0px;
}
.customDeals .customDealsWrapper .customDealsItem .customDealsItemDescription {
  color: var(--gray-600, #52525b);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  margin: 0px;
}

.categoryListContainer {
  max-width: 1316px;
  margin: 0 auto;
  padding: 0px 1rem;
  margin-bottom: 60px;
}
.categoryListContainer .sliderTrack {
  gap: 1rem;
}
.categoryListContainer .categoryListTitle {
  color: var(--black, #000);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  margin-top: 0px;
  margin-bottom: 60px;
}
.categoryListContainer .categoryListItemImage {
  object-fit: cover;
  border-radius: 8px;
  display: flex;
  width: 100%;
}
.categoryListContainer .categoryListItemLink {
  display: flex;
  border-radius: 8px;
  position: relative;
  transition: all 0.3s ease-in;
}
.categoryListContainer .categoryListItemLink:hover {
  opacity: 0.8;
}
.categoryListContainer .categoryListItemLink::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.categoryListContainer .categoryListItemTitle {
  padding: 30px;
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 99;
  margin: 0px;
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 42px */
  text-decoration: none;
}
.categoryListContainer .sliderLeftArrow {
  border-radius: 200px;
  border: 1px solid #eaeaea;
  background: #fff !important;
  top: 10%;
  left: -4rem !important;
  min-width: 48px;
  min-height: 48px;
}
.categoryListContainer .sliderLeftArrow .caretIcon {
  width: 15px;
}
@media screen and (max-width: 1340px) {
  .categoryListContainer .sliderLeftArrow {
    left: -1rem !important;
  }
}
.categoryListContainer .sliderRightArrow {
  border-radius: 200px;
  border: 1px solid #eaeaea;
  background: #fff !important;
  top: 10%;
  min-width: 48px;
  min-height: 48px;
  right: -4rem !important;
}
.categoryListContainer .sliderRightArrow .caretIcon {
  width: 15px;
}
@media screen and (max-width: 1340px) {
  .categoryListContainer .sliderRightArrow {
    right: -1rem !important;
  }
}

.divContainer--divider {
  height: 1px !important;
  background: #f4f4f5 !important;
  width: 100% !important;
  padding: 0px 1rem !important;
  width: calc(100% - 24px) !important;
  margin: 0 auto !important;
  margin-bottom: 10px !important;
}

.middleBanners {
  max-width: 1316px;
  margin: 0 auto;
  padding: 0px 1rem;
  margin-bottom: 60px;
}
.middleBanners .middleBannersWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 60px 0px;
  justify-content: center;
}
.middleBanners .middleBannersWrapper .middleBannersItem {
  position: relative;
  transition: all 0.3s ease-in;
}
.middleBanners .middleBannersWrapper .middleBannersItem:hover {
  opacity: 0.8;
}
.middleBanners .middleBannersWrapper .middleBannersItemIcon {
  border-radius: 8px;
  object-fit: cover;
}
.middleBanners .middleBannersWrapper .middleBannersItemContent {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.middleBanners .middleBannersWrapper .middleBannersItemContent .middleBannersItemDescription {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.middleBanners .middleBannersWrapper .middleBannersItemContent .middleBannersItemsubTitle {
  color: var(--white, #fff);
  /* text-xl/Light */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
}
.middleBanners .middleBannersWrapper .middleBannersItemContent .middleBannersItemTitle {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 1rem;
  line-height: 20px;
}

.customProductSummaryBadge {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 99999;
  padding: 5px 10px;
  border-radius: 4px;
  background: var(--white, #fff);
  color: var(--black, #000);
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 16.8px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.middleBanners--3-banners .middleBannersWrapper {
  display: flex;
}
.middleBanners--3-banners .middleBannersWrapper .middleBannersItemContent {
  width: 100%;
  text-align: center;
}