.sliderLayoutContainer--carousel .paginationDotsContainer--carousel {
  bottom: 20px;
}
.sliderLayoutContainer--carousel .paginationDot--carousel {
  background-color: #d9d9d9;
}
.sliderLayoutContainer--carousel .paginationDot--carousel--isActive {
  background-color: #fcd200;
}

.sliderLayoutContainer--container,
.sliderLayoutContainer--shelf {
  max-width: 1280px;
  padding: 0px 1rem !important;
  margin: 0 auto;
}

.slide--shelf {
  margin-bottom: 0px;
  margin: 0.25rem;
}

.sliderLayoutContainer--footer .sliderLeftArrow,
.sliderLayoutContainer--shelf .sliderLeftArrow {
  border-radius: 200px;
  border: 1px solid #eaeaea;
  background: #fff !important;
  min-width: 48px;
  min-height: 48px;
}
.sliderLayoutContainer--footer .sliderLeftArrow .caretIcon,
.sliderLayoutContainer--shelf .sliderLeftArrow .caretIcon {
  width: 18px;
}
.sliderLayoutContainer--footer .sliderRightArrow,
.sliderLayoutContainer--shelf .sliderRightArrow {
  border-radius: 200px;
  border: 1px solid #eaeaea;
  background: #fff !important;
  min-width: 48px;
  min-height: 48px;
}
.sliderLayoutContainer--footer .sliderRightArrow .caretIcon,
.sliderLayoutContainer--shelf .sliderRightArrow .caretIcon {
  width: 18px;
}

.sliderLayoutContainer--footer {
  max-width: 1280px;
  padding: 0px 1rem;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-bottom: 3rem;
}
.sliderLayoutContainer--footer .paginationDot--carousel--isActive {
  background-color: #00579C;
}

.imageElement--sobre {
  border-radius: 1rem;
}

.sliderLayoutContainer--sobre {
  padding-bottom: 5rem !important;
}
.sliderLayoutContainer--sobre .paginationDot--container--isActive {
  background-color: #00579C;
}