.sellingPrice--summary {
  width: calc(100% - 24px);
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--Contraste-Preto, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 19.6px */
}
.sellingPrice--summary .sellingPriceValue--summary {
  color: var(--Secundria, #00579c);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

.installments--summary {
  color: var(--gray-500, #71717a);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  text-align: left;
  max-width: 215px;
  margin-left: 12px;
}
@media screen and (max-width: 768px) {
  .installments--summary {
    max-width: 150px;
  }
}

.installments--pdp {
  color: var(--gray-500, #71717a);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  text-align: left;
}

.savings {
  border-radius: 2000px;
  background: var(--red-600, #dc2626);
  display: flex;
  width: 40px;
  height: 40px;
  padding: 2.5px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--white, #fff);
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: var(--white, #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 16.8px */
  position: relative;
  top: 5px;
}
.savings .savingsPercentage {
  color: var(--white, #fff);
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: var(--white, #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 16.8px */
}