.container--shelf-title {
  display: flex;
  justify-content: center;
}
.container--shelf-title .paragraph--shelf-title {
  margin-bottom: 24px;
  margin-top: 0px;
  color: var(--black, #000);
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
}

.paragraph--Powered {
  text-align: center;
  color: var(--gray-600, #52525b);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
}

.paragraph--copyright {
  color: var(--gray-600, #52525b);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
}

.paragraph--open-drawer-medidas {
  margin: 0px;
  color: var(--gray-600, #52525b);
  /* text-xs/Regular */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  cursor: pointer;
}
.paragraph--open-drawer-medidas::before {
  content: "";
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='14' viewBox='0 0 17 14' fill='none'%3E%3Cg clip-path='url(%23clip0_11616_8660)'%3E%3Cpath d='M6.07547 0.796143H7.2045C7.2525 0.805143 7.30451 0.81612 7.34951 0.82312C7.89551 0.90412 8.4495 0.951136 8.9855 1.07114C10.1129 1.29678 11.1629 1.80928 12.0345 2.55914C12.4319 2.88485 12.7488 3.298 12.9602 3.76636C13.1717 4.23471 13.272 4.74558 13.2534 5.25912C13.2274 6.18712 13.2484 7.11513 13.2484 8.04413V8.23413H13.4485C14.4105 8.23413 15.3725 8.24213 16.3345 8.23413C16.4709 8.21467 16.6099 8.24029 16.7305 8.30707C16.8511 8.37385 16.9466 8.47814 17.0025 8.60413V12.8521C16.9564 12.9643 16.8771 13.0597 16.7752 13.1255C16.6733 13.1913 16.5537 13.2243 16.4325 13.2201C12.6699 13.2088 8.90679 13.1998 5.14346 13.1931C4.66821 13.2093 4.19245 13.1926 3.71951 13.1431C2.62415 13.0044 1.60153 12.5199 0.800443 11.7601C0.557487 11.5521 0.360834 11.2955 0.22305 11.0068C0.0852665 10.7182 0.00947876 10.4039 0.000516127 10.0841C-0.00548387 8.45814 0.000474134 6.83312 0.00747413 5.20712C0.00198585 4.96953 0.017712 4.73193 0.0544712 4.49713C0.226376 3.69354 0.682729 2.97906 1.33951 2.48514C2.45938 1.60573 3.8038 1.0586 5.21951 0.906128C5.50451 0.855128 5.79047 0.829143 6.07547 0.796143ZM6.40042 8.22812C7.5243 8.26325 8.64456 8.08267 9.70047 7.69614C10.4851 7.42989 11.1861 6.96229 11.7334 6.34012C12.0637 5.97785 12.2474 5.50567 12.2487 5.01547C12.25 4.52527 12.0688 4.05215 11.7405 3.68814C11.2786 3.13907 10.6852 2.7159 10.0155 2.45813C7.89794 1.57228 5.51726 1.55291 3.38553 2.40414C2.67803 2.65582 2.04551 3.08196 1.54654 3.64313C1.20342 3.99417 1.00586 4.46213 0.993802 4.95285C0.981743 5.44357 1.15602 5.92065 1.48147 6.28812C1.86538 6.75608 2.34739 7.13402 2.89346 7.39514C3.98584 7.9305 5.18397 8.21508 6.40042 8.22812ZM15.9925 12.2101V9.22513H15.7835C12.7675 9.22513 9.7515 9.23413 6.7355 9.21713C6.08883 9.21124 5.44352 9.15541 4.80545 9.05014C3.539 8.86866 2.34447 8.35064 1.34646 7.55014L0.996488 7.26212V7.45413C0.996488 8.23913 1.01553 9.02514 0.98953 9.80914C0.977744 10.0582 1.02505 10.3066 1.12759 10.5339C1.23013 10.7612 1.38496 10.9611 1.5795 11.1171C2.06459 11.5309 2.63267 11.8361 3.24551 12.0121C3.75338 12.1657 4.28612 12.2197 4.81448 12.1711C4.81448 11.9221 4.81448 11.6801 4.81448 11.4381C4.81487 11.3725 4.82817 11.3075 4.85367 11.247C4.87916 11.1865 4.91633 11.1316 4.96304 11.0854C5.00975 11.0393 5.06507 11.0028 5.12588 10.978C5.1867 10.9533 5.25187 10.9407 5.31753 10.9411C5.38319 10.9415 5.44806 10.9549 5.50857 10.9803C5.56908 11.0058 5.62404 11.043 5.67019 11.0897C5.71634 11.1364 5.75285 11.1917 5.77762 11.2526C5.80238 11.3134 5.81487 11.3785 5.81448 11.4441C5.81448 11.6861 5.81448 11.9281 5.81448 12.1781H7.46145C7.46646 12.1635 7.47013 12.1484 7.47244 12.1331C7.47244 11.9011 7.47244 11.6691 7.47244 11.4331C7.47185 11.3675 7.48424 11.3023 7.50882 11.2415C7.5334 11.1806 7.56974 11.1251 7.61575 11.0782C7.66176 11.0314 7.71657 10.9941 7.77701 10.9684C7.83744 10.9427 7.90226 10.9292 7.96792 10.9286C8.03358 10.928 8.09881 10.9404 8.1597 10.965C8.22058 10.9895 8.27606 11.0259 8.3229 11.0719C8.36975 11.1179 8.40697 11.1727 8.43264 11.2331C8.45832 11.2936 8.47185 11.3585 8.47244 11.4241C8.47244 11.5511 8.47244 11.6781 8.47244 11.8061V12.1831H10.1335C10.1335 11.9031 10.1275 11.6331 10.1335 11.3641C10.1479 11.2426 10.2065 11.1306 10.298 11.0493C10.3895 10.9681 10.5077 10.9232 10.63 10.9232C10.7524 10.9232 10.8704 10.9681 10.9619 11.0493C11.0534 11.1306 11.112 11.2426 11.1265 11.3641C11.1265 11.4581 11.1265 11.5521 11.1265 11.6461C11.1265 11.8261 11.1265 12.0061 11.1265 12.1911H12.7865C12.7865 11.9571 12.7865 11.7321 12.7865 11.5061C12.7865 11.1061 12.9695 10.8771 13.2865 10.8771C13.6035 10.8771 13.7865 11.1071 13.7865 11.5061V12.2061H15.9995L15.9925 12.2101ZM12.2384 8.22614V7.32013L11.0055 8.22614H12.2384Z' fill='%2371717A'/%3E%3Cpath d='M6.53613 3.18214C7.22833 3.15662 7.91196 3.3414 8.49707 3.71214C8.70721 3.83715 8.88541 4.00943 9.01733 4.21531C9.14926 4.42118 9.2313 4.65499 9.25708 4.89814C9.27781 5.15933 9.22781 5.42126 9.11218 5.65638C8.99656 5.8915 8.81962 6.0911 8.6001 6.23414C7.93592 6.7085 7.11845 6.9175 6.3081 6.82014C5.71889 6.78961 5.15195 6.58496 4.67908 6.23212C4.48522 6.10819 4.32402 5.93948 4.20898 5.74021C4.09395 5.54095 4.02846 5.31696 4.01807 5.0871C4.00768 4.85725 4.0527 4.62827 4.14929 4.41944C4.24588 4.21061 4.39124 4.02805 4.57312 3.88712C4.81115 3.70005 5.07228 3.54445 5.3501 3.42414C5.53184 3.34363 5.72361 3.28778 5.92017 3.25813C6.15717 3.21313 6.40113 3.19814 6.53613 3.18214ZM6.50915 5.83912C6.96828 5.86186 7.42524 5.76323 7.83411 5.55314C8.04311 5.43114 8.25511 5.29214 8.26111 5.02314C8.25336 4.90003 8.20908 4.78204 8.13391 4.68424C8.05874 4.58644 7.95608 4.51328 7.83911 4.47413C7.47108 4.27248 7.05796 4.16729 6.6383 4.16834C6.21865 4.16939 5.8061 4.27665 5.43909 4.48014C4.86809 4.78014 4.88207 5.22213 5.44507 5.54813C5.77027 5.7306 6.13526 5.83051 6.50806 5.83912H6.50915Z' fill='%2371717A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_11616_8660'%3E%3Crect width='17' height='12.413' fill='white' transform='translate(0 0.796143)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.paragraph--open-drawer-filter {
  margin: 0px;
}

.paragraph--open-drawer-filter {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 8px 1rem;
}
.paragraph--open-drawer-filter::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M14.6666 12.6667C14.6666 12.8435 14.5963 13.0131 14.4713 13.1381C14.3463 13.2632 14.1767 13.3334 13.9999 13.3334H7.87725C7.74149 13.7231 7.48781 14.0609 7.15142 14.2999C6.81503 14.5389 6.41259 14.6674 5.99992 14.6674C5.58725 14.6674 5.18481 14.5389 4.84842 14.2999C4.51202 14.0609 4.25835 13.7231 4.12259 13.3334H1.99992C1.82311 13.3334 1.65354 13.2632 1.52851 13.1381C1.40349 13.0131 1.33325 12.8435 1.33325 12.6667C1.33325 12.4899 1.40349 12.3203 1.52851 12.1953C1.65354 12.0703 1.82311 12.0001 1.99992 12.0001H4.12259C4.25835 11.6104 4.51202 11.2726 4.84842 11.0335C5.18481 10.7945 5.58725 10.6661 5.99992 10.6661C6.41259 10.6661 6.81503 10.7945 7.15142 11.0335C7.48781 11.2726 7.74149 11.6104 7.87725 12.0001H13.9999C14.1767 12.0001 14.3463 12.0703 14.4713 12.1953C14.5963 12.3203 14.6666 12.4899 14.6666 12.6667ZM13.9999 7.33339H12.5439C12.4082 6.9437 12.1545 6.60591 11.8181 6.36688C11.4817 6.12785 11.0793 5.99943 10.6666 5.99943C10.2539 5.99943 9.85147 6.12785 9.51508 6.36688C9.17869 6.60591 8.92502 6.9437 8.78925 7.33339H1.99992C1.82311 7.33339 1.65354 7.40363 1.52851 7.52866C1.40349 7.65368 1.33325 7.82325 1.33325 8.00006C1.33325 8.17687 1.40349 8.34644 1.52851 8.47147C1.65354 8.59649 1.82311 8.66673 1.99992 8.66673H8.78925C8.92502 9.05642 9.17869 9.39421 9.51508 9.63324C9.85147 9.87227 10.2539 10.0007 10.6666 10.0007C11.0793 10.0007 11.4817 9.87227 11.8181 9.63324C12.1545 9.39421 12.4082 9.05642 12.5439 8.66673H13.9999C14.1767 8.66673 14.3463 8.59649 14.4713 8.47147C14.5963 8.34644 14.6666 8.17687 14.6666 8.00006C14.6666 7.82325 14.5963 7.65368 14.4713 7.52866C14.3463 7.40363 14.1767 7.33339 13.9999 7.33339ZM1.99992 4.00006H5.45592C5.59168 4.38976 5.84536 4.72755 6.18175 4.96658C6.51814 5.2056 6.92058 5.33402 7.33325 5.33402C7.74592 5.33402 8.14836 5.2056 8.48475 4.96658C8.82115 4.72755 9.07482 4.38976 9.21058 4.00006H13.9999C14.1767 4.00006 14.3463 3.92982 14.4713 3.8048C14.5963 3.67977 14.6666 3.51021 14.6666 3.33339C14.6666 3.15658 14.5963 2.98701 14.4713 2.86199C14.3463 2.73697 14.1767 2.66673 13.9999 2.66673H9.21058C9.07482 2.27703 8.82115 1.93924 8.48475 1.70021C8.14836 1.46118 7.74592 1.33276 7.33325 1.33276C6.92058 1.33276 6.51814 1.46118 6.18175 1.70021C5.84536 1.93924 5.59168 2.27703 5.45592 2.66673H1.99992C1.82311 2.66673 1.65354 2.73697 1.52851 2.86199C1.40349 2.98701 1.33325 3.15658 1.33325 3.33339C1.33325 3.51021 1.40349 3.67977 1.52851 3.8048C1.65354 3.92982 1.82311 4.00006 1.99992 4.00006Z' fill='white'/%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1024px) {
  .paragraph--open-drawer-filter {
    text-align: center;
    padding: 12px;
    display: flex;
    justify-content: center;
    color: var(--white, #fff);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .paragraph--open-drawer-filter::before {
    display: none;
  }
}

.container--department-end-description {
  padding-top: 80px;
  border-top: 1px solid rgba(234, 234, 234, 0.92);
  padding-bottom: 80px;
  margin-top: 100px;
}
.container--department-end-description .wrapper--department-end-description {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 1rem;
}
.container--department-end-description .heading--department-end-description {
  margin: 0px;
  margin-bottom: 10px;
  color: var(--MT---Secundria, #424242);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 30.8px */
}
.container--department-end-description .paragraph--department-end-description {
  margin: 0px;
  color: var(--gray-600, #52525b);
  margin-bottom: 1rem;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
@media screen and (max-width: 1024px) {
  .container--department-end-description {
    padding-top: 60px;
    margin-top: 60px;
    padding-bottom: 60px;
  }
}

.wrapper--open-drawer-filter {
  width: 100%;
}

.container--container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 1rem;
}

.heading--card-texto,
.heading--sobre-texto {
  margin: 0px;
  text-align: center;
  color: var(--black, #000);
  text-align: center;
  /* text-xl/Medium */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 30.8px */
  margin-bottom: 25px;
}

.wrapper--container {
  width: 100%;
}

.heading--card-texto {
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .heading--card-texto {
    text-align: center;
  }
}

.container--sobre-texto {
  padding-top: 60px;
  padding-bottom: 60px;
}
.container--sobre-texto .paragraph--sobre-texto {
  margin: 0px;
  color: var(--gray-800, #27272a);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 36px */
}
.container--sobre-texto .headingLevel1--title {
  text-align: center;
  margin: 0px;
}
@media screen and (max-width: 1024px) {
  .container--sobre-texto {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.container--share {
  padding-bottom: 0px;
}

.paragraph--card-texto {
  color: var(--gray-800, #27272a);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 36px */
}

.paragraph--image-label {
  color: var(--Secundria, #00579c);
  /* text-sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
@media screen and (max-width: 1024px) {
  .paragraph--image-label {
    display: none;
  }
}
.paragraph--image-label::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M17.5 17.5L13.875 13.875M9.16667 6.66667V11.6667M6.66667 9.16667H11.6667M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z' stroke='%2300579C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}