.flexRowContent--container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.flexRow--container {
  width: 100%;
}

.flexRowContent--footer--bottom {
  display: flex;
  align-items: center;
  gap: 27px;
}