.flexRow--container,
.flexRowContent--container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}
.flexRow--container :global(.vtex-store-components-3-x-container),
.flexRowContent--container :global(.vtex-store-components-3-x-container) {
  padding: 0px;
}

.flexRow--container {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .flexRowContent--footer {
    padding: 0px;
  }
}

.flexRowContent--footer--bottom {
  display: flex;
  align-items: center;
  gap: 27px;
}
@media screen and (max-width: 1024px) {
  .flexRowContent--footer--bottom {
    padding: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}

.flexRow--minicart-footer {
  background: #fafafa;
  box-shadow: 0 -7px 8px 0 rgba(0, 0, 0, 0.1);
}