.container {
  max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
  background: var(--Neutras-04, #f1f1f1);
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .container {
    display: none !important;
  }
}
.container .term,
.container .link {
  color: var(--Neutras-01, #1b1b1b);
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 266.667% */
}
.container .term {
  font-weight: bold;
}
.container .caretIcon {
  display: none;
}
.container .arrow::before,
.container .termArrow::before {
  content: "|";
  color: var(--Neutras-01, #1b1b1b);
  font-family: Poppins, sans-serif;
  font-size: 12px;
  text-align: ce;
  font-style: normal;
  line-height: 32px;
}
.container .homeLink::before {
  content: "Home";
  color: var(--gray-600, #52525b);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}
.container .homeLink .homeIcon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .term,
  .arrow {
    display: none;
  }
  .container {
    display: flex;
    align-items: center;
  }
  .arrow--1 {
    display: block;
  }
  .container--breadcrumb-search {
    margin-top: 0px;
  }
}