.container {
  overflow: hidden;
  position: relative;
  background: var(--white, #fff);
  backdrop-filter: blur(3.5px);
  border: 1px solid var(--gray-100, #f4f4f5);
  max-width: unset !important;
}
.container .element {
  padding: 0px;
}
.container :global(.vtex-summary__info) {
  position: absolute !important;
  bottom: 0px !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 999 !important;
  flex-direction: column !important;
  background-color: #fff !important;
  padding-bottom: 1rem !important;
  display: none !important;
  opacity: 0.9;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .container :global(.vtex-summary__info) {
    position: relative !important;
    opacity: 1;
  }
}
.container .productNameContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.container:hover {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.container:hover :global(.vtex-summary__info) {
  display: flex !important;
}
.container:hover .image--custom {
  display: block !important;
}
@media screen and (max-width: 1024px) {
  .container :global(.vtex-summary__info) {
    display: flex !important;
  }
}
.container .nameContainer {
  padding: 0px;
  text-align: left;
  margin: 12px;
  max-height: 36px;
  min-height: 36px;
  overflow: hidden;
  margin-bottom: 16px;
}
.container .nameContainer .brandName {
  color: var(--Contraste-Preto, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}
.container :global(.vtex-button) {
  border-radius: 67px;
  opacity: 0.5;
  background: var(--white, #fff);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border: none;
  position: absolute;
  z-index: 9999;
  right: 1rem;
  bottom: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='21' viewBox='0 0 18 21' fill='none'%3E%3Cpath d='M11.8967 1.85742C12.3655 2.33285 12.8301 3.15986 12.9719 3.81773C13.044 4.15301 13.0255 4.46774 13.1172 4.78792C14.0012 4.85256 14.9352 4.64535 15.7709 5.02654C16.5304 5.37329 17.0594 6.17252 17.1589 7.00195C17.2655 9.76692 17.8862 12.6521 17.9958 15.3953C18.1149 18.3875 15.7727 20.4197 12.9624 20.5652C10.5505 20.6903 7.38568 20.6951 4.97559 20.5652C2.24027 20.4191 -0.119783 18.3724 0.00471236 15.4594C0.128612 12.5476 0.709987 9.4679 0.928599 6.55008C1.51057 4.68703 3.25946 4.71965 4.88207 4.78973C4.96666 3.11637 5.89888 1.59343 7.45061 0.961537C8.95706 0.347769 10.7435 0.688483 11.8961 1.85742H11.8967ZM11.441 4.79638C11.3284 1.50825 6.66789 1.50704 6.5565 4.79638H11.441ZM5.52778 8.13283C4.67656 8.30862 4.92615 9.60925 5.11021 10.22C6.16574 13.7171 11.0645 14.0814 12.6651 10.7794C12.9719 10.1469 13.4502 8.46448 12.5573 8.16545C12.1522 8.02953 11.752 8.17572 11.5482 8.55933C11.3832 8.86983 11.4803 9.03777 11.4261 9.34164C10.9335 12.0885 7.10035 12.1513 6.56306 9.29029C6.49396 8.92058 6.64824 8.78586 6.34921 8.41978C6.13179 8.15337 5.8685 8.06275 5.52778 8.13283Z' fill='%2300579C'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.container :global(.vtex-button) :global(.vtex-button__label) {
  display: none;
}
@media screen and (max-width: 768px) {
  .container :global(.vtex-button) {
    bottom: 12rem;
    opacity: 1;
  }
}
.container .imageNormal {
  scale: 1.5;
  height: auto !important;
}

.container--comprejunto {
  border: none !important;
  border-radius: 0px !important;
}
.container--comprejunto:hover {
  border: none;
  box-shadow: none;
}
.container--comprejunto .imageNormal {
  scale: 1 !important;
  max-height: unset !important;
  height: 100%;
}
.container--comprejunto .nameContainer {
  margin: 0px;
}
.container--comprejunto .nameContainer {
  max-height: unset;
}
.container--comprejunto .imageWrapper,
.container--comprejunto .discountContainer,
.container--comprejunto .imageStackContainer {
  width: 100%;
}
.container--comprejunto .imageNormal {
  border-radius: 8px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .container--comprejunto .imageNormal {
    min-height: 220px;
    object-fit: cover;
  }
}
.container--comprejunto :global(.vtex-store-components-3-x-priceContainer) {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  padding: 0px;
  padding-bottom: 8px;
}
.container--comprejunto .price_sellingPriceContaine {
  padding: 0px;
}
.container--comprejunto .price_listPriceContainer {
  display: none;
}
.container--comprejunto .price_sellingPriceContainer {
  margin-top: 8px;
}
.container--comprejunto .price_sellingPriceLabel,
.container--comprejunto :global(.vtex-store-components-3-x-listPriceLabel) {
  display: none;
}
.container--comprejunto .price_sellingPrice {
  color: var(--black, #000);
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: var(--Cinza, #bcbcbc);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 30.8px */
}
.container--comprejunto .priceContainer {
  min-height: 100px;
  padding: 0px;
  justify-content: flex-start;
}
.container--comprejunto .price_listPrice {
  color: var(--gray-400, #a1a1aa);
  /* text-xs/Regular */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  text-decoration-line: line-through;
}
.container--comprejunto .productBrand {
  color: var(--black, #000);
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: var(--Cinza, #bcbcbc);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  margin-top: 20px;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}