.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  margin-top: 60px;
  padding: 0 1rem;
}
@media screen and (max-width: 1024px) {
  .container {
    margin-top: 0px;
  }
}
.container .reviewsHeading {
  margin: 0px;
  color: var(--black, #000);
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  text-align: center;
  border: none;
  margin-bottom: 0.5rem;
}
.container .stars {
  font-size: 1rem;
}
.container .star--empty,
.container .star--filled {
  color: #eab308;
}
.container .graphTextLabel,
.container .reviewsRatingCount,
.container .reviewsRatingAverage {
  color: var(--black, #000);
  /* text-sm/Regular */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.container .graphBarPercent {
  display: none;
}
.container .graphBar {
  border-radius: 8px;
  background: var(--yellow-500, #eab308);
}
.container .writeReviewContainer {
  margin: 0px;
  margin-bottom: 20px;
}
.container .loginLink {
  padding: 0px;
  color: var(--Secundria, #00579c);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.container .reviewsOrderBy {
  gap: 0.5rem;
}
.container :global(.vtex-dropdown__caption) {
  color: var(--black, #000);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.container :global(.vtex-styleguide-9-x-dropdown) :global(.vtex-dropdown__container) {
  border: 1px solid var(--gray-200, #e4e4e7);
  border-radius: 0px;
}
.container .reviewCommentUser {
  color: var(--black, #000);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.container .reviewCommentRating {
  margin-bottom: 20px;
}
.container .reviewAuthor,
.container .reviewDateSubmitted {
  color: var(--gray-400, #a1a1aa);
  /* text-xs/Regular */
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 150%; /* 18px */
}
.container .reviewAuthorName,
.container .reviewAuthorBy {
  font-weight: 400 !important;
}
.container .reviewAuthor {
  color: #000;
}
.container .reviewCommentMessage {
  color: var(--black, #000);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  margin-top: 20px;
}
.container .reviewsPaging {
  display: none;
}
.container .reviewComment {
  border-bottom: 1px solid var(--gray-200, #e4e4e7);
}
.container .reviewDateValue {
  display: none;
}