.nameInputContainer,
.emailInputContainer {
  margin-bottom: 8px;
}

.newsletterForm :global(.vtex-input-prefix__group) {
  border-radius: 8px;
  border: 1px solid var(--COLOR-CINZA-CLARO, #d6d6d6);
  background: var(--COLOR-BRANCO, #fff);
  padding: 12px;
  height: auto;
}
.newsletterForm :global(.vtex-styleguide-9-x-input)::placeholder,
.newsletterForm :global(.vtex-styleguide-9-x-input) {
  color: var(--COLOR-PRETO, #000);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px;
}
.newsletterForm :global(.vtex-button) {
  color: var(--Secundria, #00579c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-transform: capitalize;
  background: var(--Primria, #fcd200);
  transition: all 0.3s ease;
}
.newsletterForm :global(.vtex-button):hover {
  background: var(--Primria-700, #00579c);
  color: #fcd200 !important;
}