.sliderLayoutContainer--carousel .paginationDotsContainer--carousel {
  bottom: 20px;
}
.sliderLayoutContainer--carousel .paginationDot--carousel {
  background-color: #d9d9d9;
}
.sliderLayoutContainer--carousel .paginationDot--carousel--isActive {
  background-color: #fcd200;
}

.sliderLayoutContainer--shelf {
  max-width: 1316px;
  padding: 0px 1rem;
  margin: 0 auto;
}

.sliderLayoutContainer--shelf .sliderLeftArrow {
  border-radius: 200px;
  border: 1px solid #eaeaea;
  background: #fff !important;
  min-width: 48px;
  min-height: 48px;
}
.sliderLayoutContainer--shelf .sliderLeftArrow .caretIcon {
  width: 18px;
}
.sliderLayoutContainer--shelf .sliderRightArrow {
  border-radius: 200px;
  border: 1px solid #eaeaea;
  background: #fff !important;
  min-width: 48px;
  min-height: 48px;
}
.sliderLayoutContainer--shelf .sliderRightArrow .caretIcon {
  width: 18px;
}