.sellingPrice--summary {
  text-align: left;
}

.sellingPriceValue--summary {
  color: var(--Primria-01, #c00146);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}

.listPrice--summary {
  text-align: left;
  text-decoration: line-through;
  color: var(--Neutras-02, #8c8c8c);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  text-decoration-line: line-through;
}