.container {
  background-color: #f4f4f5;
  max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
}
.container .term,
.container .link {
  color: var(--gray-600, #52525b);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}
.container .caretIcon {
  display: none;
}
.container .arrow::before,
.container .termArrow::before {
  content: "|";
  color: var(--gray-600, #52525b);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.container .homeLink::before {
  content: "Home";
  color: var(--gray-600, #52525b);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}
.container .homeLink .homeIcon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .term,
  .arrow {
    display: none;
  }
  .container {
    display: flex;
    align-items: center;
    margin-top: 12px;
  }
  .arrow--1 {
    display: block;
  }
}