.container--sticky-header,
.wrapper--sticky-header {
  background-color: rgb(252, 210, 0) !important;
}

@media screen and (max-width: 1024px) {
  .container--sticky-header {
    padding-bottom: 12px;
  }
}