.container--shelf-title {
  display: flex;
  justify-content: center;
}
.container--shelf-title .paragraph--shelf-title {
  margin-bottom: 24px;
  color: var(--black, #000);
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
}