.sizeDesktop {
  padding: 0px;
  max-width: unset;
  display: block;
}

.logoLink {
  min-width: 120px;
}

.searchBarContainer {
  max-width: 486px;
  width: 100vw;
  border-radius: 8px;
  background: #e8be00;
  padding: 5px 12px;
}
@media screen and (max-width: 1024px) {
  .searchBarContainer {
    width: calc(100vw - 2rem);
    margin: 0 auto;
    max-width: unset;
  }
}
.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder,
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  color: var(--gray-800, #27272a);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}
@media screen and (max-width: 1024px) {
  .searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder,
  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    font-size: 0.875rem;
    line-height: 140%; /* 14px */
  }
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  background-color: transparent;
}
.searchBarContainer :global(.vtex-input__suffix) {
  background-color: transparent;
  padding: 0px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M21.6614 20.003C21.8782 20.2198 22 20.5138 22 20.8204C22 21.1271 21.8782 21.4211 21.6614 21.6379C21.4446 21.8547 21.1505 21.9766 20.8439 21.9766C20.5373 21.9766 20.2432 21.8547 20.0264 21.6379L14.3724 15.9839C14.2555 15.8755 14.106 15.8088 13.9472 15.7941C13.7884 15.7795 13.6292 15.8177 13.4944 15.9029C13.3375 16.0175 13.1735 16.122 13.0034 16.2159C11.1796 17.2558 9.04024 17.5981 6.98301 17.1793C4.92578 16.7605 3.09057 15.609 1.81846 13.9388C0.546353 12.2687 -0.0761156 10.1935 0.0667199 8.09893C0.209555 6.00436 1.10798 4.03288 2.59504 2.5509C4.0821 1.06892 6.05664 0.177228 8.15168 0.0415591C10.2467 -0.0941102 12.3198 0.535475 13.9855 1.81329C15.6513 3.0911 16.7965 4.93023 17.2083 6.98889C17.6201 9.04754 17.2705 11.1857 16.2244 13.0059C16.1366 13.165 16.0387 13.3183 15.9314 13.4649C15.8429 13.5996 15.8023 13.7601 15.8161 13.9206C15.8299 14.0811 15.8973 14.2323 16.0074 14.3499L21.6614 20.003ZM8.70738 15.0409C9.96467 15.0409 11.1937 14.6681 12.2391 13.9696C13.2845 13.2711 14.0993 12.2783 14.5805 11.1167C15.0616 9.95507 15.1875 8.67689 14.9422 7.44375C14.697 6.21061 14.0915 5.07791 13.2025 4.18887C12.3134 3.29983 11.1807 2.69438 9.94758 2.44909C8.71444 2.2038 7.43626 2.3297 6.27467 2.81085C5.11308 3.29199 4.12025 4.10678 3.42173 5.15219C2.72321 6.19759 2.35038 7.42666 2.35038 8.68395C2.35038 10.3699 3.02015 11.9868 4.21232 13.179C5.40449 14.3712 7.02139 15.0409 8.70738 15.0409Z' fill='%2327272A'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}
.searchBarContainer :global(.vtex-store-components-3-x-suffixWrapper) {
  display: none;
}

.sizeMobile {
  padding: 0px;
  min-width: unset;
}

.imageElement--carousel {
  width: 100vw;
  height: auto !important;
  max-height: unset !important;
}

.discountInsideContainer {
  display: flex;
  width: 40px;
  height: 40px;
  transform: rotate(0.052deg);
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  z-index: 9999;
  right: 1rem;
  background: var(--red-600, #dc2626);
  position: absolute;
  color: var(--white, #fff);
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: var(--white, #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  top: 0.5rem !important;
  line-height: 140%; /* 16.8px */
}

.imageElement--logo-ximenes {
  width: auto !important;
  height: auto !important;
}

.productImagesContainer--list {
  display: grid;
  height: fit-content;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  position: sticky;
  top: 100px;
}
.productImagesContainer--list .productImage {
  cursor: pointer;
}
.productImagesContainer--list .productImage .productImageTag {
  border-radius: 8px;
}

.productNameContainer .productBrand {
  color: var(--black, #000);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
}

.price_listPriceLabel--price {
  display: none;
}

.price_listPrice--price .currencyContainer--price {
  color: var(--gray-400, #a1a1aa);
  /* text-xs/Regular */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  text-decoration-line: line-through;
}

.price_sellingPriceContainer--price .price_sellingPriceLabel--price {
  display: none;
}
.price_sellingPriceContainer--price .currencyContainer--price {
  color: var(--black, #000);
  /* text-xl/Bold */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 30.8px */
}

.price_listPrice--price,
.price_sellingPriceContainer--price {
  padding: 0px;
}

.price_sellingPrice--price {
  display: flex;
  padding: 0px;
}

.skuSelectorContainer {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 28px;
}
.skuSelectorContainer .skuSelectorNameContainer {
  margin: 0px;
}
.skuSelectorContainer .skuSelectorOptionsList,
.skuSelectorContainer .skuSelectorItem {
  margin: 0px;
}
.skuSelectorContainer .skuSelectorOptionsList {
  gap: 10px;
}
.skuSelectorContainer .frameAround {
  display: none;
}
.skuSelectorContainer .skuSelectorItemTextValue {
  padding: 0px;
  color: var(--gray-500, #71717a);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.skuSelectorContainer .skuSelectorInternalBox {
  min-width: 40px;
  min-height: 40px;
  border-radius: 200px;
  border: 1px solid var(--gray-200, #e4e4e7);
  opacity: 0.6;
  background: var(--white, #fff);
  transition: all 0.3s ease-in;
}
.skuSelectorContainer .skuSelectorInternalBox:hover {
  opacity: 1;
}
.skuSelectorContainer .skuSelectorSubcontainer {
  margin-bottom: 28px;
}
.skuSelectorContainer .skuSelectorItem--selected .skuSelectorInternalBox {
  border-radius: 200px;
  border: 1px solid var(--Secundria, #00579c);
  background: var(--white, #fff);
  opacity: 1;
}
.skuSelectorContainer .skuSelectorItem--selected .skuSelectorInternalBox .skuSelectorItemTextValue {
  color: #00579c;
}
.skuSelectorContainer .skuSelectorName {
  color: var(--black, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  margin: 0px;
}
.skuSelectorContainer .skuSelectorSelectorImageValue,
.skuSelectorContainer .skuSelectorNameSeparator {
  display: none;
}

.carouselGaleryThumbs {
  display: none;
}

.carouselGaleryCursor {
  margin: 0px;
  width: 100%;
}

.vtex-store-components-3-x-productImagesGallerySlide {
  width: 100% !important;
}

.shippingContainer {
  margin-top: 28px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.shippingContainer :global(.vtex-input__label) {
  font-size: 0px;
}
.shippingContainer :global(.vtex-input__label)::before {
  content: "Calcule o frete";
  color: var(--black, #000);
  /* text-sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.shippingContainer :global(.vtex-input-prefix__group) {
  border-radius: 8px;
  min-height: 44px;
  border: 1px solid var(--gray-200, #e4e4e7);
}
.shippingContainer :global(.vtex-address-form__postalCode) {
  padding: 0px;
  min-width: 100px;
  width: 100%;
}
.shippingContainer :global(.vtex-address-form-4-x-input) {
  padding: 0px;
  color: var(--gray-400, #000);
  /* text-sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.shippingContainer :global(.vtex-address-form-4-x-input)::placeholder {
  color: var(--gray-400, #a1a1aa);
  /* text-sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.shippingContainer :global(.vtex-button) {
  position: relative;
  top: 14px;
  border-radius: 8px;
  background: var(--Secundria, #00579c);
  min-height: 42px;
  color: var(--white, #fff);
  border: none;
  /* text-sm/Bold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  max-width: 158px;
  text-transform: none;
  transition: all 0.3s ease;
}
.shippingContainer :global(.vtex-button):hover {
  background: var(--Secundria-Hover, #002f53);
}
.shippingContainer :global(.vtex-button) :global(.vtex-button__label) {
  font-size: 0px;
}
.shippingContainer :global(.vtex-button) :global(.vtex-button__label)::before {
  content: "Calcular";
  font-size: 14px;
}
.shippingContainer :global(.vtex-input__suffix),
.shippingContainer :global(.vtex-address-form__postalCode-forgottenURL) {
  display: none;
}

.shippingTableCell,
.shippingTable {
  padding: 0px;
  color: var(--gray-400, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.shippingTableCell {
  padding: 8px 0px;
}

@media screen and (max-width: 1024px) {
  .productImagesContainer .swiperCaret {
    display: none;
  }
  .triggerContainer {
    width: 100%;
  }
  .swiper-pagination {
    display: none;
  }
}
.imageElement--department-banner-image {
  width: 100%;
}

.subscriberContainer .title {
  color: var(--black, #000);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.subscriberContainer .content {
  display: flex;
  flex-direction: column;
}
.subscriberContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #71717a;
}
.subscriberContainer :global(.vtex-styleguide-9-x-input)::placeholder,
.subscriberContainer :global(.vtex-styleguide-9-x-input) {
  color: var(--black, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.unavailable .diagonalCross {
  background-image: none;
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
.unavailable .diagonalCross::before {
  content: "x";
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}