.openIconContainer {
  display: none;
}

.searchBarContainer {
  padding: 0px;
}
.searchBarContainer :global(.vtex-input) {
  background: #8c8c8c;
}
.searchBarContainer :global(.vtex-input) :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 0px;
}
.searchBarContainer :global(.vtex-input) .suffixWrapper {
  min-width: 40px;
}
.searchBarContainer :global(.vtex-input) :global(.vtex-input__suffix) {
  border-radius: 0px;
  padding: 0px;
  background-color: #f1f1f1;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  color: #8c8c8c;
  font-weight: 400;
  font-size: 14px;
  background-color: #f1f1f1;
}
.searchBarContainer .searchBarIcon {
  background-color: #f1f1f1;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.91886 0C9.04611 0.00761363 9.17336 0.0142121 9.30062 0.0228409C10.4256 0.0969469 11.4959 0.379159 12.5113 0.867954C13.3737 1.28315 14.1413 1.83336 14.8303 2.49676C15.8235 3.45354 16.5571 4.57579 16.9981 5.88585C17.1903 6.45636 17.3176 7.0416 17.3895 7.63952C17.4458 8.10547 17.4717 8.57346 17.4585 9.04246C17.4266 10.1774 17.1832 11.2641 16.7142 12.2991C16.3629 13.0741 15.9056 13.7827 15.3636 14.4375C15.3479 14.4563 15.3327 14.475 15.3175 14.4943C15.315 14.4974 15.314 14.5014 15.3104 14.5085C15.3484 14.5486 15.3864 14.5908 15.426 14.6309C16.8202 16.0257 18.2154 17.4195 19.6076 18.8168C19.7414 18.9514 19.855 19.1067 19.9767 19.2528C19.9858 19.264 19.9873 19.2818 19.9919 19.297C19.9929 19.3006 19.9919 19.3051 19.9919 19.3092C19.9919 19.4046 20.0147 19.5087 19.9843 19.5929C19.9549 19.6746 19.8707 19.7371 19.8094 19.8071C19.7546 19.8696 19.7085 19.9533 19.639 19.9848C19.5696 20.0157 19.4748 19.9858 19.3931 19.9964C19.2446 20.0162 19.128 19.9685 19.0266 19.8604C18.9521 19.7807 18.8644 19.7132 18.7868 19.6361C17.8595 18.7097 16.9322 17.7834 16.006 16.8561C15.5426 16.3927 15.0807 15.9277 14.6189 15.4628C14.5778 15.4212 14.5418 15.3745 14.4997 15.3252C14.4419 15.3729 14.3836 15.4212 14.3243 15.4694C13.2277 16.3622 11.9957 16.9769 10.6137 17.2829C10.1118 17.3941 9.60379 17.4586 9.09022 17.4763C7.55406 17.5296 6.10054 17.2043 4.73067 16.5084C3.93876 16.1064 3.2234 15.5953 2.5917 14.9699C1.34858 13.7396 0.550077 12.2645 0.18657 10.554C0.0811174 10.0571 0.0218003 9.55359 0.0101397 9.045C0.00811174 8.96988 0.00354889 8.89526 0 8.82014C0 8.78766 0 8.75517 0 8.72269C0.00202793 8.6968 0.00456285 8.67041 0.0060838 8.64452C0.0172374 8.42373 0.0207863 8.20242 0.0405587 7.98213C0.103932 7.27204 0.251971 6.5797 0.484676 5.90564C0.920682 4.64279 1.60917 3.53628 2.54252 2.58254C3.24115 1.86839 4.04167 1.29432 4.94208 0.861356C5.95199 0.375606 7.01716 0.0974545 8.13557 0.0228409C8.26688 0.0142121 8.39819 0.00761363 8.52949 0C8.65928 0 8.78907 0 8.91886 0ZM8.75764 16.3272C12.8267 16.3394 16.258 12.9873 16.2975 8.82979C16.3381 4.60016 12.9276 1.18874 8.75257 1.17098C4.59327 1.15321 1.20307 4.54534 1.15592 8.65112C1.10725 12.9183 4.56539 16.3302 8.75713 16.3272H8.75764Z' fill='%231B1B1B'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding: 0px;
  display: flex;
  width: 100%;
}
.searchBarContainer .closeIcon,
.searchBarContainer .searchIcon {
  display: none;
}

.sizeDesktop {
  padding: 0px;
}

.imageElementLink--carousel {
  width: 100%;
  height: 100%;
  display: block;
}

.imageElement--carousel {
  width: 100vw;
  height: auto !important;
  display: flex;
  max-height: unset !important;
}

.discountInsideContainer {
  display: none;
}

.logoContainer {
  padding: 0px;
}

.productImagesContainer--list {
  display: grid;
  position: sticky;
  top: 100px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.quantitySelectorContainer {
  margin: 0px;
}
.quantitySelectorContainer .quantitySelectorTitle {
  display: none;
}

.skuSelectorContainer {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #dedede;
}
.skuSelectorContainer :global(.vtex-store-components-3-x-skuSelectorSubcontainer) {
  margin-bottom: 8px;
  margin-top: 12px;
}
.skuSelectorContainer .skuSelectorNameContainer {
  margin: 0px;
}
.skuSelectorContainer .skuSelectorOptionsList {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.skuSelectorContainer .skuSelectorItemTextValue {
  padding: 0px;
  color: var(--Neutras-01, #1b1b1b);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}
.skuSelectorContainer .frameAround {
  display: none;
}
.skuSelectorContainer .skuSelectorInternalBox {
  border: none;
}
.skuSelectorContainer .skuSelectorSubcontainer--tamanho .skuSelectorItem--selected {
  border-radius: 1px;
  border: 1px solid var(--Primria-03, #d7cfc5);
  background: var(--Neutras-03, #ccc);
}
.skuSelectorContainer .skuSelectorItem {
  margin: 0px;
  width: 26px;
  height: 26px;
  min-width: 26px;
  min-height: 26px;
  border-radius: 1px;
  border: 1px solid var(--Primria-03, #d7cfc5);
  background: var(--Neutras-05, #fff);
}
.skuSelectorContainer .skuSelectorSelectorImageValue,
.skuSelectorContainer .skuSelectorNameSeparator,
.skuSelectorContainer .skuSelectorName,
.skuSelectorContainer .skuSelectorTextContainer {
  color: var(--Neutras-00, #000);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .valueWrapper {
  display: none;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .frameAround {
  display: none;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem {
  margin: 0px;
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;
  border-radius: 50%;
  opacity: 0.7;
  border: 1px solid #dedede;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorInternalBox {
  border: none;
  display: none;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--selected {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--selected .skuSelectorInternalBox {
  display: none;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--selected::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10' fill='none'%3E%3Cpath d='M4.71119 6.14936C5.01267 5.55954 5.372 5.02849 5.77599 4.52413C6.63005 3.45833 7.64877 2.55028 8.77073 1.7429C9.64764 1.11186 10.576 0.555482 11.5483 0.064637C11.6194 0.0288286 11.689 -0.0117092 11.774 0.0031547C11.878 0.0210589 11.9569 0.0740959 11.9873 0.1724C12.0234 0.290297 11.9808 0.384548 11.8808 0.462583C11.4258 0.816275 10.9996 1.1997 10.5953 1.6044C8.27065 3.93093 6.60755 6.61082 5.75492 9.72243C5.75063 9.73865 5.74277 9.75419 5.73956 9.77074C5.7167 9.88391 5.6549 9.96431 5.53203 9.99302C5.41308 10.0207 5.32628 9.96836 5.24949 9.88999C4.78085 9.40995 4.31185 8.93059 3.84321 8.4509C2.60909 7.18781 1.37498 5.92505 0.141227 4.6623C0.129082 4.6498 0.117652 4.63696 0.104793 4.62514C0.00870688 4.53832 -0.0298703 4.43529 0.0254951 4.31671C0.0790745 4.20186 0.185162 4.16808 0.310895 4.16875C0.578077 4.17044 0.845617 4.16909 1.11316 4.16909C1.63002 4.16909 2.14688 4.17281 2.66374 4.16672C2.81913 4.16504 2.93236 4.21064 3.03451 4.32381C3.55066 4.89336 4.07324 5.45752 4.59367 6.02336C4.62868 6.06119 4.66404 6.09903 4.71119 6.14936Z' fill='white'/%3E%3C/svg%3E");
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--branco.skuSelectorItem--selected::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10' fill='none'%3E%3Cpath d='M4.71119 6.14936C5.01267 5.55954 5.372 5.02849 5.77599 4.52413C6.63005 3.45833 7.64877 2.55028 8.77073 1.7429C9.64764 1.11186 10.576 0.555482 11.5483 0.064637C11.6194 0.0288286 11.689 -0.0117092 11.774 0.0031547C11.878 0.0210589 11.9569 0.0740959 11.9873 0.1724C12.0234 0.290297 11.9808 0.384548 11.8808 0.462583C11.4258 0.816275 10.9996 1.1997 10.5953 1.6044C8.27065 3.93093 6.60755 6.61082 5.75492 9.72243C5.75063 9.73865 5.74277 9.75419 5.73956 9.77074C5.7167 9.88391 5.6549 9.96431 5.53203 9.99302C5.41308 10.0207 5.32628 9.96836 5.24949 9.88999C4.78085 9.40995 4.31185 8.93059 3.84321 8.4509C2.60909 7.18781 1.37498 5.92505 0.141227 4.6623C0.129082 4.6498 0.117652 4.63696 0.104793 4.62514C0.00870688 4.53832 -0.0298703 4.43529 0.0254951 4.31671C0.0790745 4.20186 0.185162 4.16808 0.310895 4.16875C0.578077 4.17044 0.845617 4.16909 1.11316 4.16909C1.63002 4.16909 2.14688 4.17281 2.66374 4.16672C2.81913 4.16504 2.93236 4.21064 3.03451 4.32381C3.55066 4.89336 4.07324 5.45752 4.59367 6.02336C4.62868 6.06119 4.66404 6.09903 4.71119 6.14936Z' fill='%23000'/%3E%3C/svg%3E");
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--animalprint {
  background-color: #8b5a2b;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--vermelho {
  background-color: #c62828;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--nude {
  background-color: #e3c1a0;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--fantastico {
  background-color: #7b1fa2;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--goiaba {
  background-color: #d8435e;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--sandia {
  background-color: #e53935;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--marrom {
  background-color: #5d4037;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--preto {
  background-color: #000000;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--chumbo {
  background-color: #424242;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--mescla {
  background-color: #bdbdbd;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--azul {
  background-color: #1e88e5;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--marinho {
  background-color: #0d1b2a;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--azul-marinho {
  background-color: #0f1845;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--royal {
  background-color: #4169e1;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--azul-royal {
  background-color: #4169e1;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--azul-claro {
  background-color: #90caf9;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--rubi {
  background-color: #b20932;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--pink {
  background-color: #e91e63;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--rosa {
  background-color: #f48fb1;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--romance {
  background-color: #f8bbd0;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--amarelo {
  background-color: #fdd835;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--branco {
  background-color: #ffffff;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--pavao {
  background-color: #006d5b;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--bege {
  background-color: #f5f5dc;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--chocolate {
  background-color: #4e342e;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--coral {
  background-color: #ff7043;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--satin {
  background-color: #b099ac;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--rubro {
  background-color: #b71c1c;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--florence {
  background-color: #8e24aa;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--jaipur {
  background-color: #f57c00;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--chiclete {
  background-color: #ff4081;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--tame {
  background-color: #c5a880;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--frutilly {
  background-color: #ff5252;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--frutily {
  background-color: #ff5252;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--fluor {
  background-color: #76ff03;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--roxo {
  background-color: #6a1b9a;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--tamy {
  background-color: #d7b899;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--castanho {
  background-color: #6d4c41;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--cinza {
  background-color: #9e9e9e;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--verde {
  background-color: #43a047;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--neon {
  background-color: #39ff14;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--laranja {
  background-color: #fb8c00;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--colorido {
  background-color: #ff00ff;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--sortido {
  background-color: #00bcd4;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--marfim {
  background-color: #fffff0;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--ferrugem {
  background-color: #b7410e;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--prata {
  background-color: #c0c0c0;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--lilas {
  background-color: #ce93d8;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--ovelha {
  background-color: #f0ede5;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--verdeteos {
  background-color: #b6d2dd;
}
.skuSelectorContainer .skuSelectorSubcontainer--cor .skuSelectorItem--azulclaro {
  background-color: #90caf9;
}

.subscriberContainer {
  margin-top: 1rem;
}
.subscriberContainer .title {
  font-size: 1rem;
  color: var(--Neutras-00, #000);
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
  line-height: 28px; /* 140% */
}
.subscriberContainer .subscribeLabel {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.subscriberContainer .form {
  margin: 0px;
}
.subscriberContainer .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0px;
}
.subscriberContainer .content :global(.vtex-input-prefix__group) {
  border: 1px solid #333;
  border-radius: 0px;
}
.subscriberContainer .content :global(.vtex-styleguide-9-x-input)::placeholder,
.subscriberContainer .content :global(.vtex-styleguide-9-x-input) {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.subscriberContainer .submit {
  margin: 0px;
}
.subscriberContainer .submit :global(.vtex-button) {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0px;
}
.subscriberContainer .submit :global(.vtex-button):hover {
  opacity: 0.8;
}
.subscriberContainer .submit :global(.vtex-button):not(:disabled) {
  background-color: #000;
  color: #fff;
}

:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
  background-color: transparent !important;
  width: 100%;
}
:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button):hover {
  opacity: 0.8;
}
:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-wish-list-1-x-outline) {
  background-image: none;
  white-space: nowrap;
  background: transparent !important;
}
:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-wish-list-1-x-outline)::before {
  content: "Adicionar a lista de desejos";
  color: var(--Neutras-02, #8c8c8c);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  text-transform: uppercase;
}
:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-wish-list-1-x-fill) {
  background-image: none;
  white-space: nowrap;
  background: transparent !important;
}
:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-wish-list-1-x-fill)::before {
  content: "Remover da lista de desejos";
  color: var(--Neutras-02, #8c8c8c);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  text-transform: uppercase;
}
:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label) {
  padding: 0px;
  width: 100%;
  justify-content: flex-start;
}

.price_sellingPriceContainer--price-pdp .price_sellingPriceLabel--price-pdp {
  display: none;
}
.price_sellingPriceContainer--price-pdp .currencyContainer--price-pdp {
  color: var(--Primria-01, #c00146);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}

.price_sellingPrice--price-pdp {
  padding: 0px;
  display: flex;
}

.price_listPriceContainer--price-pdp .price_listPriceLabel--price-pdp {
  display: none;
}
.price_listPriceContainer--price-pdp .price_listPrice--price-pdp {
  padding: 0px;
  color: var(--Neutras-02, #8c8c8c);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  text-decoration-line: line-through;
}

.skuSelectorItem--sortido {
  background: linear-gradient(270deg, #ff6b6b, #feca57, #48dbfb, #1dd1a1, #5f27cd) !important;
  background-size: 400% 400%;
  animation: sortidoGradient 6s ease infinite;
  color: #fff;
}

@keyframes sortidoGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.carouselGaleryThumbs {
  display: none;
}

.carouselGaleryCursor {
  margin: 0px;
  width: 100%;
}

.productImagesGallerySlide {
  width: 100% !important;
}

.productImagesContainer .swiperPaginationClickable {
  display: none;
}
.productImagesContainer .swiperCaretNext {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='24' viewBox='0 0 13 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.625 11.9391C10.5098 11.8606 10.3922 11.8055 10.3055 11.7187C7.00609 8.42162 3.71089 5.12121 0.410688 1.82581C0.127885 1.54361 -0.0539767 1.23719 0.01443 0.828087C0.139564 0.0858492 1.01717 -0.251456 1.61281 0.211921C1.71125 0.287898 1.79634 0.381408 1.88393 0.469909C5.43107 4.01912 8.9782 7.56834 12.5253 11.1176C13.1577 11.7504 13.1577 12.2464 12.5253 12.8792C8.95651 16.4501 5.38602 20.0211 1.82053 23.5953C1.54691 23.8692 1.24825 24.0462 0.851994 23.9894C0.09535 23.8809 -0.257528 22.9833 0.218816 22.3805C0.295565 22.2828 0.388998 22.1985 0.477426 22.11C3.75928 18.8255 7.04113 15.5409 10.323 12.2564C10.4022 12.1771 10.4781 12.0936 10.625 11.9391Z' fill='black'/%3E%3C/svg%3E%0A");
  width: 10px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: unset;
  padding: 0.5rem;
}
.productImagesContainer .caretIcon {
  display: none;
}
.productImagesContainer .swiperCaretPrev {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='24' viewBox='0 0 13 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.37461 12.0609C2.48973 12.1394 2.60736 12.1945 2.69411 12.2813C5.99348 15.5784 9.28868 18.8788 12.5889 22.1742C12.8717 22.4564 13.0535 22.7628 12.9851 23.1719C12.86 23.9142 11.9824 24.2515 11.3868 23.7881C11.2883 23.7121 11.2032 23.6186 11.1156 23.5301C7.56851 19.9809 4.02137 16.4317 0.474237 12.8824C-0.158109 12.2496 -0.158109 11.7536 0.474237 11.1208C4.04306 7.54986 7.61355 3.97894 11.179 0.404681C11.4527 0.13083 11.7513 -0.0461722 12.1476 0.010602C12.9042 0.119142 13.2571 1.01667 12.7808 1.61948C12.704 1.71716 12.6106 1.80149 12.5221 1.88999C9.2403 5.17454 5.95845 8.45908 2.6766 11.7436C2.59734 11.8229 2.52143 11.9064 2.37461 12.0609Z' fill='black'/%3E%3C/svg%3E%0A");
  width: 10px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: unset;
  padding: 0.5rem;
}

.imageElement--not-found-image {
  max-width: 160px;
  margin: 0 auto;
}

.searchBarContainer {
  max-width: 619px;
  margin: 0 auto;
  padding: 0px 1rem;
  margin-bottom: 40px;
}

.autoCompleteOuterContainer--not-found-search-bar {
  justify-content: center;
  display: flex;
  width: 100%;
  max-width: unset;
}