.categoryContainerTitleh2 {
  // color: #000;
  font-family: 'Mulish Bold', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 24px;
}
.categoryImageDiv {
  padding: 24px;
  border-radius: 13.606px;
  background-color: #d9d9d9;
  height: 144px;
  display: flex;
}

.categoryContainerImage {
  width: 91px;
}

.categoryContainer {
  text-decoration: none;
}

.categoryContainerTitle {
  color: #737373;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 33px;
}

.sliderArrows {
  top: 26%;
}

.paginationDot {
  border-radius: 8px;
  background: #d9d9d9;
  width: 8px !important;
  height: 8px !important;
  transition: ease-in-out 0.4s;
}

.paginationDot--isActive {
  width: 24px !important;
  height: 8px !important;
  border-radius: 12px;
  background-color: rgba(13, 22, 53, 0.6);
}
