.categoryContainerTitleh2 {
  // color: #000;
  font-family: 'Mulish Bold', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 24px;
}
.categoryImageDiv {
  padding: 24px;
  border-radius: 13.606px;
  background-color: #d9d9d9;
  height: 144px;
  display: flex;
}

.categoryContainerImage {
  width: 91px;
}

.categoryContainer {
  text-decoration: none;
}

.categoryContainerTitle {
  color: #737373;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 33px;
}

.slide {
  padding: 0 12px;
}

.categoryContainerWrapper .sliderArrows {
  top: 26%;
}

.paginationDot {
  border-radius: 8px;
  background: #d9d9d9;
  width: 8px !important;
  height: 8px !important;
  transition: ease-in-out 0.4s;
}

.paginationDot--isActive {
  width: 24px !important;
  height: 8px !important;
  border-radius: 12px;
  background-color: rgba(13, 22, 53, 0.6);
}

// --------------------- Banner Our Lines -------------------------------------

.carouselImage,
.bannerOurLinesImage {
  width: 100%;
  height: 100%;
}

.bannerOurLinesContainer {
  position: relative;
}

.textsContainer {
  position: absolute;
  margin-left: 24px;
  margin-top: 24px;
}

.bannerOurLines,
.bannerOurLinesTitle {
  color: #fff;
  font-family: Arial;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.bannerOurLines {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}

.bannerOurLinesContainer .sliderLayoutContainer {
  position: absolute;
  top: 50%;
  // margin-left: 16px;
}

.bannerOurLinesContainer .slide {
  max-width: 335px;
  max-width: 335px;
}

.bannerOurLinesContainer .paginationDotsContainer {
  bottom: -10%;
}

.bannerOurLinesContainer .sliderArrows {
  // background: #e2e2e2 !important;
  // border-radius: 50%;
  // padding: 10px;
}

.bannerOurLinesContainer .caretIcon::before {
  content: '';
  width: 48px;
  height: 48px;
  background: #e2e2e2;
  // opacity: 0.3;
  display: flex;
}

.carouselImageContainer {
  width: 100%;
  height: 100%;
}

@media (min-width: 1025px) {
  .bannerOurLinesContainer .sliderLayoutContainer {
    top: 55%;
  }
}
