.categoryContainerTitleh2 {
  // color: #000;
  font-family: 'Mulish Bold', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 24px;
}
.categoryImageDiv {
  padding: 24px;
  border-radius: 13.606px;
  background-color: #d9d9d9;
  height: 144px;
  display: flex;
}

.categoryContainerImage {
  width: 91px;
}

.categoryContainer {
  text-decoration: none;
}

.categoryContainerTitle {
  color: #737373;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 33px;
}

.slide {
  padding: 0 12px;
}

.categoryContainerWrapper .sliderArrows {
  top: 26%;
}

.paginationDot {
  border-radius: 8px;
  background: #d9d9d9;
  width: 8px !important;
  height: 8px !important;
  transition: ease-in-out 0.4s;
}

.paginationDot--isActive {
  width: 24px !important;
  height: 8px !important;
  border-radius: 12px;
  background-color: rgba(13, 22, 53, 0.6);
}

// --------------------- Banner Our Lines -------------------------------------

.carouselImage,
.bannerOurLinesImage {
  width: 100%;
  height: 100%;
}

.bannerOurLinesContainer {
  position: relative;

  .sliderLayoutContainer {
    position: absolute;
    top: 50%;
    // margin-left: 16px;
  }

  .slide {
    max-width: 335px;
    max-width: 335px;
  }
  .paginationDotsContainer {
    bottom: -10%;
  }
  .caretIcon {
    width: 16px;
    height: 16px;

    &::before {
      content: '';
      width: 48px;
      height: 48px;
      background: #e2e2e2;
      // opacity: 0.3;
      display: flex;
    }
  }

  .sliderArrows {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background-color: #f2f2f2 !important;
    border-radius: 50%;
    opacity: 0.5;
  }
}

.textsContainer {
  position: absolute;
  margin-left: 24px;
  margin-top: 24px;
}

.bannerOurLines,
.bannerOurLinesTitle {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.bannerOurLines {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}

.carouselImageContainer {
  width: 100%;
  height: 100%;
}

@media (min-width: 1025px) {
  .bannerOurLinesContainer .sliderLayoutContainer {
    top: 55%;
  }
}

// --------------------------- Romazi Premium ------------------------------------

.romaziPremiumLogoContainer {
  display: flex;
  align-items: center;
  justify-self: center;
  padding-bottom: 56px;
}

.romaziPremiumLogo {
  width: 216px;
  height: 58px;
}

.romaziPremiumTextsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.romaziPremiumTitle {
  color: #fff;
  font-family: 'REM', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 100% */
  letter-spacing: 1.28px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 55px;
}

.romaziPremiumText {
  color: #fff;
  text-align: justify;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 25.2px */
  width: 100%;
  margin: 0;
}

.romaziPremiumButton {
  background-color: transparent;
  display: flex;
  width: 226px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 136px;
  border: 1px solid #fff;

  color: #fff;
  text-align: center;
  font-family: 'REM', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
  margin: 24px 0;
  cursor: pointer;
}

.romaziPremiumHarmonizeTitle {
  color: #fff;
  font-family: 'REM', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  margin-top: 4px;
}

.harmonizeColorsContainer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.harmonizeColors {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.romaziPremiumHarmonizeContainer {
  padding: 0 24px;
  margin-top: 32px;
}

.romaziPremiumContainer {
  position: relative;
}

.romaziPremiumBackgroundImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.25rem;
}

.romaziPremiumSlider {
  position: absolute;
  top: 21%;
  right: cal;
  display: flex;
  align-items: center;
  justify-content: center;
  left: calc(50% - 125px);

  :global(.vtex-shelf-1-x-arrow) {
    background-color: #676767;
    padding: 8px 8px;
    border-radius: 50%;
    top: 55%;
  }

  :global(.vtex-shelf-1-x-arrowRight) {
    right: 5%;
  }
  :global(.vtex-shelf-1-x-arrowLeft) {
    left: -20%;
  }

  .caretIcon {
    color: #f2f2f2;
    opacity: 0.5;
    width: 16px;
    height: 16px;
  }

  :global(.vtex-slider-0-x-dotsContainer) {
    gap: 16px;
    display: flex;

    bottom: -10%;
    left: 40%;
  }

  :global(.vtex-slider-0-x-sliderFrame) {
    transition: ease 0.3s !important;
  }
}

.dots {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #4b4b4b;
}

.dotsActive {
  background-color: #a5a5a5;
}

@media (min-width: 1025px) {
  .romaziPremiumSlider {
    position: absolute;
    left: 55%;
    top: 44%;

    :global(.vtex-shelf-1-x-arrow) {
      top: 105%;
    }
    :global(.vtex-shelf-1-x-arrowRight) {
      right: 35%;
    }
    :global(.vtex-shelf-1-x-arrowLeft) {
      left: 28%;
    }

    :global(.vtex-slider-0-x-dotsContainer) {
      display: flex;
      top: 105%;
      left: 46%;
      gap: 16px;
    }

    :global(.vtex-slider-0-x-sliderFrame) {
      margin-left: 30%;
    }

    :global(.vtex-slider-0-x-sliderFrame) {
      display: flex;
      align-items: flex-end;
      gap: 40px;
      padding-left: 2rem;
    }
  }

  .romaziPremiumPrevSlide,
  .romaziPremiumSlide {
    .romaziPremiumSliderImage {
      width: 150px !important;
      transition: all 0.3s;
      filter: blur(2px);
    }
  }

  .romaziPremiumPrevSlide {
    overflow: visible !important;
    margin-right: -16px;
  }

  .romaziPremiumSlideActive {
    margin-right: 0;

    .romaziPremiumSliderImage {
      width: 100% !important;
    }
  }

  .romaziPremiumLogo {
    width: 316px;
    height: 85px;
  }

  .romaziPremiumTextsContainer {
    max-width: 606px;
    align-items: flex-start;
    margin-left: 8.75rem;
  }

  .romaziPremiumLogoContainer {
    margin-left: 8.75rem;
  }
  .romaziPremiumHarmonizeContainer {
    margin-left: 10.75rem;
    padding: 0;
  }

  .romaziPremiumLogoContainer {
    width: 100%;
    align-items: flex-start;
  }

  .logoSoulsContainer {
    position: absolute;
    right: 25px;
    bottom: 20px;
  }

  .romaziPremiumTitle {
    margin-top: 0;
  }

  .romaziPremiumBackgroundImageContainer {
    margin-bottom: 26px;
    width: 100%;

    .romaziPremiumBackgroundImage {
      width: 100%;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  .romaziPremiumTextsContainer {
    margin-left: 2rem;
    padding-left: 0;
  }

  .romaziPremiumHarmonizeContainer {
    margin-left: 2rem;
  }
}

@media (min-width: 1500px) {
  .romaziPremiumSlider {
    left: 56%;
    top: 45%;
  }
}

@media (min-width: 1700px) {
  .romaziPremiumSlider {
    :global(.vtex-shelf-1-x-arrowRight) {
      right: 41%;
    }
    :global(.vtex-shelf-1-x-arrowLeft) {
      left: 32%;
    }

    :global(.vtex-slider-0-x-dotsContainer) {
      display: flex;
      top: 105%;
      left: 45%;
      gap: 16px;
    }
  }
}

// --------------------------- Exclusive Content ------------------------------------

.categoryContainerTitleh2 {
  color: #000;
  font-family: 'Mulish Bold', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.48px;
  padding-left: 8px;
  margin: 0;
  margin-bottom: 24px;
}

.podCastContainerLink {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.podCastContainerLi {
  height: 100%;
}

.podCastContainerTitle {
  color: var(--Bombay-900, #505257);
  font-family: 'Mulish Bold', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.34px;
}

.podCastContainerDate {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #3f3f3f;
  font-family: 'Mulish', sans-serif;
  font-size: 14.254px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.254px; /* 100% */
  letter-spacing: 0.285px;
}

.podCastContainerDescription {
  color: #505257;
  font-family: 'Mulish', sans-serif;
  font-size: 14.254px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.285px;
}

.podCastContainer {
  .paginationDotsContainer {
    bottom: -5%;
  }
  .sliderArrows {
    bottom: 60%;
    background: #e2e2e2 !important;
    padding: 12px;
    border-radius: 50%;
  }

  .sliderLeftArrow {
    left: -16px;
  }

  .sliderRightArrow {
    right: -16px;
  }

  .caretIcon {
    width: 20px;
    height: 20px;
  }
}

.podCastArrowContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
}

.romaziPremiumSlidePrev {
  display: flex;
  justify-content: flex-end;

  .romaziPremiumSliderImage {
    width: 150px !important;
    transition: all 0.3s;
  }
}

.dotsContainer {
  @media screen and (min-width: 1024px) {
    position: relative;
    top: 2rem;
    left: 1.5rem;
  }
}

.divContainer--list-price-savings-pdp {
  flex-direction: row !important;
  :global(.vtex-product-price-1-x-listPrice) {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
  }
}

.divContainer--selling-price-content-pdp {
  flex-direction: row !important;
  :global(.vtex-product-price-1-x-sellingPriceValue) {
    color: #38434d;
    font-family: 'Mulish Bold', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.8px;
  }

  :global(.vtex-rich-text-0-x-paragraph--price-text) {
    margin-bottom: 5px;
    font-family: 'Mulish', sans-serif;
  }
}

.divContainer--buy-button-container {
  flex-direction: row !important;

  :global(.vtex-button) {
    margin-left: 8px;
    height: 46px;

    border-radius: 8px;
    background: #1a3eb8;
  }

  :global(.vtex-button__label) {
    color: #fff;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: initial;
    transition: all 0.3s;
    white-space: nowrap;

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.36621 4.5127C2.36621 4.31378 2.44523 4.12302 2.58588 3.98237C2.72653 3.84171 2.9173 3.7627 3.11621 3.7627H4.29721C4.8397 3.76272 5.36392 3.95875 5.77332 4.31469C6.18272 4.67062 6.44974 5.16248 6.52521 5.6997L6.58621 6.1347H20.5512C20.9246 6.1347 21.2922 6.22764 21.6207 6.40514C21.9492 6.58263 22.2284 6.8391 22.4331 7.15142C22.6378 7.46374 22.7615 7.82209 22.7931 8.19416C22.8247 8.56623 22.7632 8.94032 22.6142 9.2827L19.9462 15.4107C19.7713 15.8124 19.483 16.1544 19.1165 16.3946C18.75 16.6347 18.3214 16.7627 17.8832 16.7627H8.52221C7.97972 16.7627 7.4555 16.5666 7.0461 16.2107C6.6367 15.8548 6.36968 15.3629 6.29421 14.8257L5.04021 5.9087C5.01512 5.72951 4.9261 5.56543 4.78955 5.44671C4.65301 5.32799 4.47815 5.26264 4.29721 5.2627H3.11721C2.9183 5.2627 2.72753 5.18368 2.58688 5.04303C2.44623 4.90237 2.36721 4.71161 2.36721 4.5127M6.79821 7.6347L7.78021 14.6167C7.8053 14.7959 7.89432 14.96 8.03087 15.0787C8.16741 15.1974 8.34227 15.2628 8.52321 15.2627H17.8842C18.0302 15.2628 18.1731 15.2203 18.2954 15.1404C18.4176 15.0604 18.5138 14.9465 18.5722 14.8127L21.2392 8.6827C21.2886 8.56868 21.3088 8.44419 21.2982 8.32041C21.2875 8.19662 21.2463 8.07742 21.1782 7.97352C21.1101 7.86961 21.0172 7.78425 20.908 7.72511C20.7987 7.66597 20.6765 7.6349 20.5522 7.6347H6.79821Z' fill='%23F0F6FE'/%3E%3Cpath d='M6.83398 20.0127C6.83398 19.5486 7.01836 19.1034 7.34655 18.7753C7.67474 18.4471 8.11986 18.2627 8.58398 18.2627C9.04811 18.2627 9.49323 18.4471 9.82142 18.7753C10.1496 19.1034 10.334 19.5486 10.334 20.0127C10.334 20.4768 10.1496 20.9219 9.82142 21.2501C9.49323 21.5783 9.04811 21.7627 8.58398 21.7627C8.11986 21.7627 7.67474 21.5783 7.34655 21.2501C7.01836 20.9219 6.83398 20.4768 6.83398 20.0127ZM17.12 18.2627C16.6559 18.2627 16.2107 18.4471 15.8825 18.7753C15.5544 19.1034 15.37 19.5486 15.37 20.0127C15.37 20.4768 15.5544 20.9219 15.8825 21.2501C16.2107 21.5783 16.6559 21.7627 17.12 21.7627C17.5841 21.7627 18.0292 21.5783 18.3574 21.2501C18.6856 20.9219 18.87 20.4768 18.87 20.0127C18.87 19.5486 18.6856 19.1034 18.3574 18.7753C18.0292 18.4471 17.5841 18.2627 17.12 18.2627Z' fill='%23F0F6FE'/%3E%3Ccircle cx='13.7999' cy='8.51283' r='3.57143' fill='%232643A8'/%3E%3Cpath d='M13.7998 3.5127C11.0384 3.5127 8.7998 5.75127 8.7998 8.5127C8.7998 11.2741 11.0384 13.5127 13.7998 13.5127C16.5612 13.5127 18.7998 11.2741 18.7998 8.5127C18.7998 5.75127 16.5612 3.5127 13.7998 3.5127ZM13.7998 6.30339C13.9925 6.30339 14.1486 6.45957 14.1486 6.65223V8.16386H15.6603C15.8529 8.16386 16.0091 8.32004 16.0091 8.5127C16.0091 8.70535 15.8529 8.86153 15.6603 8.86153H14.1486V10.3732C14.1486 10.5658 13.9925 10.722 13.7998 10.722C13.6071 10.722 13.451 10.5658 13.451 10.3732V8.86153H11.9393C11.7467 8.86153 11.5905 8.70535 11.5905 8.5127C11.5905 8.32004 11.7467 8.16386 11.9393 8.16386H13.451V6.65223C13.451 6.45957 13.6071 6.30339 13.7998 6.30339Z' fill='%23F0F6FE'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      width: 30px;
      height: 30px;
      display: block;
      margin-right: 5px;
    }
  }
}

.divContainer--share {
  margin: 24px;
}
