.caretIcon--carousel-main-banner {
  display: none;
}

.sliderArrows--carousel-main-banner {
  background-color: #e2e2e2 !important;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M18.5096 10.3535L13.7315 14.8801C13.0947 15.4834 13.1092 16.502 13.763 17.0869L18.5096 21.3339' stroke='%23171717' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    display: flex;
    width: 32px;
    height: 32px;
  }
}

.sliderRightArrow--carousel-main-banner {
  transform: rotate(180deg);
}

.paginationDotsContainer--carousel-main-banner {
  margin-bottom: 18px;
}

.paginationDot--carousel-main-banner {
  border-radius: 8px;
  background: #fff;
  width: 8px !important;
  height: 8px !important;
  transition: ease-in-out 0.4s;
}

.paginationDot--carousel-main-banner--isActive {
  width: 24px !important;
  height: 8px !important;
  border-radius: 12px;
  background: #0d1635;
}

.sliderTrack--deals-carousel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.3rem;
}

.slide--deals-carousel:last-child {
  width: 20% !important;
}

@media (min-width: 1025px) {
  .sliderArrows--carousel-main-banner {
    width: 48px;
    height: 48px;

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='49' viewBox='0 0 48 49' fill='none'%3E%3Cpath d='M27.7644 16.0293L20.006 23.3794C19.3692 23.9827 19.3837 25.0013 20.0374 25.5862L27.7644 32.4999' stroke='%23171717' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
      background-size: 50px;
    }
  }

  .sliderRightArrow--carousel-main-banner {
    margin-right: 40px;
  }
  .sliderLeftArrow--carousel-main-banner {
    margin-left: 40px;
  }
  .sliderTrack--deals-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
