.styledLinkContent--footer-menu-title {
  color: #515151;
  font-family: "Mulish Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.styledLinkContent--footer-menu-item {
  color: var(--Text-Pure-500, #515151);
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding: 6px 0;
}

.menuContainer--menu-footer {
  display: flex;
  gap: 24px;
}

.accordionIcon--footer-menu-title--isOpen,
.accordionIcon--footer-menu-title--isClosed {
  font-size: 0;
}

.accordionIcon--footer-menu-title--isOpen::before,
.accordionIcon--footer-menu-title--isClosed::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='12' viewBox='0 0 17 12' fill='none'%3E%3Cpath d='M15 10.0742L8.25928 2.62718L2 10.0742' stroke='%23515151' stroke-width='3'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17px;
  width: 17px;
  height: 12px;
  display: block;
  transition: ease 0.3s;
}

.accordionIcon--footer-menu-title--isClosed::before {
  transform: rotate(180deg);
}

@media (min-width: 1025px) {
  .styledLinkContent--footer-menu-title {
    font-size: 22px;
    line-height: 140%;
  }
  .styledLinkContent--footer-menu-item {
    padding: 0;
    font-size: 20px;
    line-height: 140%;
  }
}