:global(.vtex-minicart-2-x-minicartProductListContainer) {
  .productBrandName {
    display: none;
  }

  .productName {
    color: #1d1d1f;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .removeButton {
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M4.5 7H20.5M5.5 7L6.5 19C6.5 19.5304 6.71071 20.0391 7.08579 20.4142C7.46086 20.7893 7.96957 21 8.5 21H16.5C17.0304 21 17.5391 20.7893 17.9142 20.4142C18.2893 20.0391 18.5 19.5304 18.5 19L19.5 7M9.5 7V4C9.5 3.73478 9.60536 3.48043 9.79289 3.29289C9.98043 3.10536 10.2348 3 10.5 3H14.5C14.7652 3 15.0196 3.10536 15.2071 3.29289C15.3946 3.48043 15.5 3.73478 15.5 4V7M10.5 12L14.5 16M14.5 12L10.5 16' stroke='%231D1D1F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px;
      width: 24px;
      height: 24px;
      display: block;
    }
    .deleteIcon {
      display: none;
    }
  }

  .inputContainer,
  .quantitySelectorButton {
    border: 1px solid rgba(168, 178, 183, 0.5);
    background: #fff;
    background-color: transparent;
    height: 30px;
  }

  .quantitySelectorButton {
    padding: 8px;
  }

  .inputContainer {
    border-left: none;
    border-right: none;
    width: 30px !important;
    padding: 0;
  }

  .quantitySelectorDecrease {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
  }

  .quantitySelectorIncrease {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
  }

  .productPriceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .productPrice {
    color: #38434d;
    font-family: 'Mulish SemiBold', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .productPriceCurrency {
    color: #da223a;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: strikethrough;
  }

  .price {
    text-align: right;
  }
}
