.flexRowContent--quantity-selector {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.flexRowContent--main-container {
}

.flexRow--main-container {
  margin: 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.flexRow--minicart-footer {
  padding-bottom: 32px;
}

.flexColChild--minicart-empty:first-child {
  background-color: #2643a8;
  padding: 24px;
  border-radius: 50%;
}
