.drawer {
  max-width: 414px !important;
  width: 100% !important;
}

.minicartTitle {
  display: none;
}

.closeIconContainer {
  width: 100%;
  background-color: #2643a8;
  display: flex;
  align-items: center;
  padding: 11px 0px 11px 24px;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.56641 4C1.56641 3.80109 1.64542 3.61032 1.78608 3.46967C1.92673 3.32902 2.11749 3.25 2.31641 3.25H3.49741C4.0399 3.25003 4.56411 3.44606 4.97352 3.80199C5.38292 4.15792 5.64994 4.64978 5.72541 5.187L5.78641 5.622H19.7514C20.1248 5.62201 20.4924 5.71495 20.8209 5.89244C21.1494 6.06994 21.4286 6.32641 21.6333 6.63872C21.8379 6.95104 21.9617 7.30939 21.9933 7.68146C22.0249 8.05353 21.9634 8.42762 21.8144 8.77L19.1464 14.898C18.9715 15.2998 18.6832 15.6417 18.3167 15.8819C17.9502 16.1221 17.5216 16.25 17.0834 16.25H7.72241C7.17991 16.25 6.6557 16.0539 6.2463 15.698C5.83689 15.3421 5.56987 14.8502 5.49441 14.313L4.24041 5.396C4.21532 5.21681 4.12629 5.05273 3.98975 4.93401C3.8532 4.81529 3.67834 4.74994 3.49741 4.75H2.31741C2.11849 4.75 1.92773 4.67098 1.78708 4.53033C1.64642 4.38968 1.56741 4.19891 1.56741 4M5.99841 7.122L6.98041 14.104C7.0055 14.2832 7.09452 14.4473 7.23106 14.566C7.36761 14.6847 7.54247 14.7501 7.72341 14.75H17.0844C17.2304 14.7501 17.3733 14.7076 17.4956 14.6277C17.6178 14.5477 17.714 14.4338 17.7724 14.3L20.4394 8.17C20.4888 8.05599 20.509 7.9315 20.4984 7.80771C20.4877 7.68393 20.4465 7.56473 20.3784 7.46082C20.3103 7.35691 20.2174 7.27156 20.1082 7.21242C19.9989 7.15328 19.8766 7.12221 19.7524 7.122H5.99841Z' fill='%23F0F6FE'/%3E%3Cpath d='M6.0332 19.5C6.0332 19.0359 6.21758 18.5908 6.54577 18.2626C6.87396 17.9344 7.31907 17.75 7.7832 17.75C8.24733 17.75 8.69245 17.9344 9.02064 18.2626C9.34883 18.5908 9.5332 19.0359 9.5332 19.5C9.5332 19.9641 9.34883 20.4092 9.02064 20.7374C8.69245 21.0656 8.24733 21.25 7.7832 21.25C7.31907 21.25 6.87396 21.0656 6.54577 20.7374C6.21758 20.4092 6.0332 19.9641 6.0332 19.5ZM16.3192 17.75C15.8551 17.75 15.41 17.9344 15.0818 18.2626C14.7536 18.5908 14.5692 19.0359 14.5692 19.5C14.5692 19.9641 14.7536 20.4092 15.0818 20.7374C15.41 21.0656 15.8551 21.25 16.3192 21.25C16.7833 21.25 17.2284 21.0656 17.5566 20.7374C17.8848 20.4092 18.0692 19.9641 18.0692 19.5C18.0692 19.0359 17.8848 18.5908 17.5566 18.2626C17.2284 17.9344 16.7833 17.75 16.3192 17.75Z' fill='%23F0F6FE'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: block;
    order: 1;
    margin-right: 8px;
  }

  &::after {
    content: 'Carrinho de compra';
    display: block;
    order: 2;
    color: #f0f6fe;

    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    margin-right: 155px;
  }

  .closeIconButton {
    display: flex;
    order: 3;
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.25 12C1.25 6.06294 6.06294 1.25 12 1.25C17.9371 1.25 22.75 6.06294 22.75 12C22.75 17.9371 17.9371 22.75 12 22.75C6.06294 22.75 1.25 17.9371 1.25 12ZM12 2.75C6.89136 2.75 2.75 6.89136 2.75 12C2.75 17.1086 6.89136 21.25 12 21.25C17.1086 21.25 21.25 17.1086 21.25 12C21.25 6.89136 17.1086 2.75 12 2.75Z' fill='%23F0F6FE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.3588 8.64124C15.6517 8.93413 15.6517 9.40901 15.3588 9.7019L9.70196 15.3587C9.40907 15.6516 8.93419 15.6516 8.6413 15.3587C8.34841 15.0659 8.34841 14.591 8.6413 14.2981L14.2982 8.64124C14.591 8.34835 15.0659 8.34835 15.3588 8.64124Z' fill='%23F0F6FE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.6413 8.64124C8.93419 8.34835 9.40907 8.34835 9.70196 8.64124L15.3588 14.2981C15.6517 14.591 15.6517 15.0659 15.3588 15.3587C15.0659 15.6516 14.591 15.6516 14.2982 15.3587L8.6413 9.7019C8.34841 9.40901 8.34841 8.93413 8.6413 8.64124Z' fill='%23F0F6FE'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px;
      width: 24px;
      height: 24px;
      display: block;
    }
    .closeIcon {
      display: none;
    }
  }
}

.minicartProductListContainer {
  padding: 0;
}

.drawerContent,
.minicartSideBarContentWrapper {
  height: 100% !important;
}

.minicartCheckoutButton--go-checkout {
  :global(.vtex-button) {
    height: 48px;
    flex-shrink: 0;
    max-width: 384px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #2643a8;
  }

  :global(.vtex-button__label) {
    font-size: 0;

    &::before {
      content: 'Finalizar compra';
      color: #f0f6fe;
      text-align: center;
      font-family: 'Mulish', sans-serif;
      font-size: 19px;
      font-style: normal;
      font-weight: 400;
      text-transform: none;
      line-height: normal;
    }
  }
}

.minicartCheckoutButton--keep {
  :global(.vtex-button) {
    height: 48px;
    flex-shrink: 0;
    max-width: 384px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #2643a8;
    background-color: transparent;
  }

  :global(.vtex-button__label) {
    font-size: 0;

    &::before {
      content: 'Continuar comprando';
      text-transform: none;
      color: #2643a8;
      text-align: center;
      font-family: 'Mulish', sans-serif;
      font-size: 19px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
