.container {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.link {
  color: #4d5156;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.667px;
  letter-spacing: 0.32px;
  margin-right: -5px;

  @media (min-width: 1025px) {
    font-size: 16px;
  }
}

.homeLink {
  margin-bottom: 2px;
  &::after {
    content: 'Início';
    margin-left: 4px;
  }

  .homeIcon {
    display: none;
  }

  @media (min-width: 1025px) {
    margin-bottom: 3px;
  }
}

.term {
  color: #1d1d1d;
  font-family: 'Source Sans Pro SemiBold', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px;
  letter-spacing: 0.32px;
  padding: 0;
  @media (min-width: 1025px) {
    font-size: 16px;
  }
}

.link--search-breadcrumb {
  color: #1d1d1d;
  font-family: 'Source Sans Pro SemiBold', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px;
  letter-spacing: 0.32px;
}

.container--search-breadcrumb {
  @media (min-width: 1025px) {
    display: flex;
  }
}

.link--search-breadcrumb {
  font-size: 16px;
  padding-left: 8px;
}

.homeLink--search-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  &::after {
    content: 'Página inicial';
    color: var(--Bombay-800, #4d5156);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.667px;
    letter-spacing: 0.32px;
    margin-left: 4px;
    padding-left: 0px;
    padding-right: 8px;
  }

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M3.74984 17.5V7.5L1.6665 9.16667L9.99984 2.5L18.3332 9.16667L16.2498 7.5V17.5H3.74984Z' stroke='%234D5156' stroke-linejoin='round'/%3E%3Cpath d='M7.9165 12.0833V17.5H12.0832V12.0833H7.9165Z' stroke='%234D5156' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: flex;
  }
}
