.quantitySelectorTitle {
  display: none;
}

.quantitySelectorContainer {
  height: 46px;
  width: 87px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 0;
  border: 1px solid #bbc6cb;
  :global(.vtex-numeric-stepper__input) {
    width: 30px !important;
    padding: 0;
    border: none !important;
    background: #fff;
    background-color: transparent;
    color: #1d1d1f;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  :global(.vtex-numeric-stepper__plus-button),
  :global(.vtex-numeric-stepper__minus-button) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
    border: none;
    width: 23px !important;

    background: #fff;
    background-color: transparent;
  }

  :global(.vtex-numeric-stepper__minus-button__text),
  :global(.vtex-numeric-stepper__plus-button__text) {
    font-size: 20px;
    color: #2643a8;
  }
}
