.productBrand {
  color: var(--Bombay, #38434d);
  font-family: 'Mulish Bold', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.shippingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;

  :global(.vtex-input) {
    &::before {
      content: 'Calcule o frete e prazo:';
      color: #1d1d1f;

      font-family: 'Mulish', sans-serif;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      white-space: nowrap;
    }
  }

  :global(.vtex-address-form__postalCode) {
    width: 35%;
  }

  :global(.vtex-input__label) {
    font-size: 0;
  }

  :global(.vtex-input-prefix__group) {
    border-radius: 8px;
    border: 1px solid #bbc6cb;
  }

  :global(.vtex-address-form-4-x-input) {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.12px;
  }
  :global(.vtex-input__suffix) {
    display: none;
  }

  :global(.vtex-button) {
    width: 75%;
    position: relative;
    bottom: 17px;
    height: 40px;

    border-radius: 8px;
    border: 1px solid #2643a8;
    background-color: #fff;
  }

  :global(.vtex-button__label) {
    color: #2643a8;
    text-align: center;
    font-family: 'Mulish Bold', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M22.1113 7.10069L14.6113 2.97568C14.5005 2.91476 14.3762 2.88281 14.2498 2.88281C14.1234 2.88281 13.999 2.91476 13.8883 2.97568L6.38827 7.10069C6.27068 7.16543 6.17262 7.26055 6.10432 7.37611C6.03603 7.49167 6 7.62345 6 7.75769C6 7.89192 6.03603 8.0237 6.10432 8.13926C6.17262 8.25483 6.27068 8.34994 6.38827 8.41469L13.4998 12.3259V20.3652L11.2228 19.1127L10.4998 20.4259L13.8883 22.2897C13.999 22.3506 14.1234 22.3826 14.2498 22.3826C14.3762 22.3826 14.5005 22.3506 14.6113 22.2897L22.1113 18.1647C22.2289 18.1 22.327 18.0049 22.3953 17.8893C22.4637 17.7737 22.4997 17.6419 22.4998 17.5077V7.75769C22.4997 7.62343 22.4637 7.49163 22.3953 7.37607C22.327 7.2605 22.2289 7.1654 22.1113 7.10069ZM14.2498 4.48918L20.1935 7.75769L14.2498 11.0262L8.30602 7.75769L14.2498 4.48918ZM20.9998 17.0644L14.9998 20.3644V12.3252L20.9998 9.02519V17.0644Z' fill='%232643A8'/%3E%3Cpath d='M7.5 12.6328H1.5V11.1328H7.5V12.6328ZM9 18.6328H3V17.1328H9V18.6328ZM10.5 15.6328H4.5V14.1328H10.5V15.6328Z' fill='%232643A8'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px;
      width: 24px;
      height: 24px;
      display: block;
      margin-right: 10px;
    }
  }
}

.shippingTable {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.shippingTableRadioBtn {
  display: none;
}

.shippingTableRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.shippingTableCellDeliveryName {
  grid-column: 1 / 2;
  width: 100%;
  grid-row: 1;
  color: #4d5156;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.shippingTableCellDeliveryEstimate {
  grid-column: 1 / 3;
  grid-row: 2;
  color: #4d5156;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.shippingTableCellDeliveryPrice {
  grid-column: 2 / 3;
  grid-row: 1;
  text-align: right;

  color: #4d5156;
  text-align: right;
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  top: 50%;
}

.swiperPaginationClickable {
  display: none;
}

.carouselGaleryThumbs {
  display: block !important;
}

.productImagesThumb {
  height: auto !important;
  margin-bottom: 0;
}

.productImagesThumbActive {
  border-radius: 3px;
  border: 2px solid #3065e0;
  background: #fff;
}

.swiperCaret {
  background-color: #dbdbdb !important;
  border-radius: 50%;
  padding: 0;
  width: 27px;
  height: 27px;
  border-radius: 50% !important;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10.2059 16.0527L13.7572 12.6884C14.136 12.3295 14.1273 11.7236 13.7385 11.3757L10.2059 8.21501' stroke='%23171717' stroke-width='1.78448' stroke-linecap='round'/%3E%3C/svg%3E") !important;
    background-position: center;
    background-size: 27px !important;
    background-repeat: no-repeat !important;
    width: 27px;
    height: 27px;
    border-radius: 50% !important;
    background: #e2e2e2;
    display: flex;
  }
}

.swiperCaretNext {
  border-radius: 8px;
  background: #d9d9d9;
  transition: ease 0.3s;
}

.swiperCaretPrev {
  border-radius: 12px;
  background: rgba(13, 22, 53, 0.6);

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12.0022' cy='12.0223' r='11.4207' fill='%23E2E2E2'/%3E%3Cpath d='M13.7938 7.99023L10.2426 11.3546C9.86379 11.7134 9.87241 12.3193 10.2613 12.6672L13.7938 15.828' stroke='%23171717' stroke-width='1.78448' stroke-linecap='round'/%3E%3C/svg%3E") !important;
  }
}

.caretIcon {
  display: none;
}

.productDescriptionTitle {
  color: #1d1d1f;
  font-family: 'Mulish', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.productDescriptionText {
  color: #4d5156;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
