.wishlistIcon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='25' viewBox='0 0 29 25' fill='none'%3E%3Cpath d='M0.637695 8.57247C0.637695 4.04947 4.30433 0.382812 8.82735 0.382812C11.1437 0.382812 13.2352 1.3451 14.7239 2.88912C16.2126 1.3451 18.3041 0.382812 20.6205 0.382812C25.1435 0.382812 28.8101 4.04947 28.8101 8.57247C28.8101 12.5534 26.4735 16.2292 23.6938 19.0364C20.9045 21.8532 17.5006 23.968 15.0338 24.7878C14.8326 24.8546 14.6152 24.8546 14.414 24.7878C11.9472 23.968 8.54328 21.8532 5.75403 19.0364C2.97433 16.2292 0.637695 12.5534 0.637695 8.57247ZM8.82735 2.34833C5.38986 2.34833 2.60321 5.13499 2.60321 8.57247C2.60321 11.7984 4.5252 15.002 7.15067 17.6534C9.6419 20.1692 12.6155 22.0333 14.7239 22.8136C16.8323 22.0333 19.8059 20.1692 22.2971 17.6534C24.9226 15.002 26.8446 11.7984 26.8446 8.57247C26.8446 5.13499 24.0579 2.34833 20.6205 2.34833C18.5162 2.34833 16.6555 3.39164 15.5274 4.99355C15.3433 5.25495 15.0436 5.41047 14.7239 5.41047C14.4042 5.41047 14.1045 5.25495 13.9204 4.99355C12.7923 3.39164 10.9316 2.34833 8.82735 2.34833Z' fill='%232643A8'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  width: 28px;
  height: 24px;
}

.wishlistIcon.fill {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='25' viewBox='0 0 29 25' fill='none'%3E%3Cpath d='M0.637695 8.57247C0.637695 4.04947 4.30433 0.382812 8.82735 0.382812C11.1437 0.382812 13.2352 1.3451 14.7239 2.88912C16.2126 1.3451 18.3041 0.382812 20.6205 0.382812C25.1435 0.382812 28.8101 4.04947 28.8101 8.57247C28.8101 12.5534 26.4735 16.2292 23.6938 19.0364C20.9045 21.8532 17.5006 23.968 15.0338 24.7878C14.8326 24.8546 14.6152 24.8546 14.414 24.7878C11.9472 23.968 8.54328 21.8532 5.75403 19.0364C2.97433 16.2292 0.637695 12.5534 0.637695 8.57247ZM8.82735 2.34833C5.38986 2.34833 2.60321 5.13499 2.60321 8.57247C2.60321 11.7984 4.5252 15.002 7.15067 17.6534C9.6419 20.1692 12.6155 22.0333 14.7239 22.8136C16.8323 22.0333 19.8059 20.1692 22.2971 17.6534C24.9226 15.002 26.8446 11.7984 26.8446 8.57247C26.8446 5.13499 24.0579 2.34833 20.6205 2.34833C18.5162 2.34833 16.6555 3.39164 15.5274 4.99355C15.3433 5.25495 15.0436 5.41047 14.7239 5.41047C14.4042 5.41047 14.1045 5.25495 13.9204 4.99355C12.7923 3.39164 10.9316 2.34833 8.82735 2.34833Z' fill='%232643A8'/%3E%3C/svg%3E");
}

.wishlistIconContainer {
  :global(.vtex-button) {
    &:hover {
      background-color: transparent;
    }
  }
}

.wishlistIconContainer :global(.vtex-button__label) {
  padding: 0;
  &::after {
    content: 'Favoritar';
    color: var(--Cobalto-800, #2643a8);
    font-family: 'Mulish SemiBold', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 8px;
    text-transform: capitalize;
  }
}
