<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{_accountInfo.TradingName}}</title>

  <!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->

  <link rel="stylesheet" href="css/embedded.css" data-inline data-embed />
  <link rel="stylesheet" href="css/inlined.css" data-inline />
  <link rel="stylesheet" href="css/tachyons.css" data-inline />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet"
  />

  <style type="text/css">
    body {
      font-family: 'Inter', Arial, sans-serif !important;
    }

    .boleto-button {
      background-color: #FCD200 !important;
      border-radius: 30px !important;
      padding: 12px 24px !important;
      text-decoration: none !important;
      display: inline-block !important;
      text-spacing: 0.5px !important;
      font-weight: 600 !important;
      color: #00579C !important;
    }
  </style>

</head>