<div class="mt4 mb4 w4 center">
  <a href="http://{{_accountInfo.HostName}}.com.br">
    <img
      alt=""
      border="0"
      alt="logo-emails"
      src="https://romazi.vtexassets.com/assets/vtex.file-manager-graphql/images/7e310845-f0a1-468c-b78c-16bc7f9f7ca8___f0265fbb9ac23a88c955cb97e0304a21.png"
      style="min-width: 145px !important; height: 30px !important;"
    />
  </a>
</div>
<div
  style="width: 100%;
    height: 3px;
    background: #0D1635;"
></div>
<div
  style="    width: 100%;
    height: 3px;
    background: #BC1818;"
></div>