<div class="mt4 mb4 w4 center" style="background: #FCD200; margin: 0px; width: 100%; padding: 30px;">
  <a href="http://{{_accountInfo.HostName}}.com.br">
    <img
      alt=""
      border="0"
      alt="logo-emails"
      src="https://pontodamoda.vtexassets.com/assets/vtex.file-manager-graphql/images/4aedde7f-1cd1-43f6-a750-6459c91016a0___713e9bcaf0d33cb71362db59cf24e628.png"
      style="min-width: 145px !important;"
    />
  </a>
</div>