.styledLink--offers {
  color: #f0f6fe;
  font-family: "Source Sans Pro SemiBold", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (min-width: 1025px) and (max-width: 1470px) {
  .styledLinkContainer--offers {
    margin: 0 8px !important;
  }
  .styledLink--offers {
    font-size: 16px;
  }
}