@media screen and (min-width: 40em) {
  .paper--quickview {
    height: 260px;
    width: 580px;
  }

  .actionsContainer--quickview {
    padding: 0 2rem 2rem;
  }
}

@media screen and (min-width: 50em) {
  .paper--quickview {
    height: 450px;
    width: 900px;
  }
}

@media screen and (min-width: 75em) {
  .paper--quickview {
    height: auto;
    width: calc(100% - 4rem);
  }
}

@media screen and (min-width: 82em) {
  .actionsContainer--quickview {
    padding: 0 2.5rem 2.5rem;
  }
}

.paper--quickview {
  max-width: 96rem;
  min-width: 320px;
}

.headerContainer--quickview {
  border: none;
  position: absolute;
  right: 0;
}

.actionsContainer--quickview {
  border-top: 1px solid transparent;
  box-shadow: -4px 0 27px -12px transparent;
  height: 100%;
  transition: box-shadow 150ms ease-in-out, border-top 150ms ease-in-out;
  width: 100%;
}

.actionsContentWrapper {
  border-top: 1px solid #aaa;
  padding-top: 1.5rem;
}

.contentContainer--quickviewContent {
  overflow-x: hidden;
  padding: 2.5rem 0 2.5rem 2rem;
}

.triggerContainer--quickview {
  padding: 0.75rem;
}

.triggerContainer {
  outline: none;
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview) {
  border-top-color: rgb(238 238 238);
  box-shadow: -4px 0 27px -12px rgb(0 0 0 / 64%);
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview) .actionsContentWrapper {
  border-top-color: transparent;
}

.closeButton {
  padding-right: 1rem;
}

.paper--product-gifts {
  padding: 1.5rem;
}
