.galleryLayoutOptionButton {
  background-color: #f0f0f0;
  color: #3f3f40;
  padding: 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3f3f40;
  color: #fff;
}

.galleryLayoutSwitcher {
  align-self: center;
  border-radius: 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
}

.galleryItem--list {
  border-bottom: 1px #e7e9ee solid;
}
