.listPrice {
  color: #727273;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.sellingPrice {
  color: #3f3f40;
  font-size: 1.25rem;
}

.sellingPriceValue {
  font-size: 2.25rem;
  font-weight: 700;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  color: #79b03a;
  font-weight: 500;
}

.sellingPriceValue--summary {
  color: #2e2e2e;
  font-size: 1.25rem;
  font-weight: 600;
}

.savings--summary {
  align-items: center;
  background: #8bc34a;
  border-radius: 1000px;
  color: #fff;
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  vertical-align: baseline;
}

.savings-discount--summary {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  vertical-align: baseline;
}

.listPrice--summary {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.installments--summary {
  font-size: 0.875rem;
  margin-bottom: 2rem;
}

.savings--summaryPercentage {
  align-items: center;
  background: #0f3e99;
  border-radius: 1000px;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  vertical-align: baseline;
}
