.productImage {
  min-width: 70px;
  min-height: 84px;
}

.productName {
  color: var(--Contraste-Preto, #000);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
}

.removeButton {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='23' viewBox='0 0 19 23' fill='none'%3E%3Cg clip-path='url(%23clip0_4057_6260)'%3E%3Cpath d='M13.9488 3.14094C15.0014 3.20463 16.148 3.05621 17.1894 3.13866C19.2742 3.30415 19.6927 6.13497 17.7362 6.85092L16.5147 21.0005C16.2871 21.7687 15.6085 22.3312 14.8212 22.4182C11.3892 22.2288 7.68851 22.6718 4.28803 22.421C2.70212 22.3044 2.4791 21.1591 2.34788 19.8307C1.92774 15.5777 1.72725 11.2956 1.32852 7.03972L1.26375 6.85092C-0.692169 6.13611 -0.274853 3.30472 1.8106 3.13866C2.85192 3.05564 3.99856 3.20463 5.05114 3.14094V2.31637C5.05114 1.41504 6.03839 0.646768 6.87922 0.579665C8.29224 0.467069 10.6441 0.479011 12.065 0.579665C12.9334 0.640512 13.9488 1.37409 13.9488 2.31694V3.14151V3.14094ZM12.6535 3.14094V2.31637C12.6535 2.14918 12.2886 1.90295 12.1219 1.88646C10.4548 1.71984 8.51807 2.02067 6.82178 1.88646C6.68943 1.84665 6.34589 2.24586 6.34589 2.3158V3.14037H12.6535V3.14094ZM1.65516 4.46081C1.06495 4.80998 1.17252 5.59417 1.86748 5.70164L17.3127 5.65672C17.8562 5.42925 17.8528 4.79917 17.3831 4.47901L1.6546 4.46138L1.65516 4.46081ZM16.4268 7.00787H2.57258L3.71077 20.6724L4.0515 21.0676L14.9096 21.0852C15.0802 20.9937 15.2667 20.8248 15.2976 20.624L16.4268 7.0073V7.00787Z' fill='%2371717A'/%3E%3Cpath d='M5.54287 8.27196C5.78504 8.22192 6.0869 8.30438 6.22601 8.52275C6.42763 8.83893 6.37356 9.91086 6.40285 10.3345C6.50816 11.8512 6.59489 13.3672 6.68444 14.8839C6.76272 16.2088 7.01671 17.8637 6.96884 19.1511C6.93336 20.1002 5.76364 20.0991 5.67128 19.1483C5.47416 17.1301 5.4522 14.9862 5.33168 12.9515C5.25621 11.6749 5.06642 10.2924 5.04615 9.02715C5.04108 8.69278 5.18863 8.34589 5.54231 8.27253L5.54287 8.27196Z' fill='%2371717A'/%3E%3Cpath d='M13.1457 8.27195C13.6498 8.16732 13.9618 8.53923 13.9539 9.02657C13.919 11.1767 13.638 13.5122 13.4994 15.6805C13.4273 16.8128 13.4577 18.0877 13.3231 19.1989C13.2156 20.0871 11.998 20.1594 12.0323 18.9754C12.0881 17.034 12.3043 15.0641 12.4282 13.1198C12.515 11.7562 12.4812 10.1963 12.6591 8.86052C12.6969 8.57903 12.8585 8.33109 13.1457 8.27138V8.27195Z' fill='%2371717A'/%3E%3Cpath d='M9.37352 8.27082C9.68552 8.21964 9.91755 8.3493 10.0769 8.6143V19.5037C9.8021 19.9814 9.19499 19.9785 8.92297 19.5037V8.6143C9.02716 8.44711 9.17021 8.30381 9.37352 8.27082Z' fill='%2371717A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4057_6260'%3E%3Crect width='19' height='22' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  min-width: 19px;
  min-height: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.removeButton .deleteIcon {
  display: none;
}

.productImageContainer {
  width: 100%;
}
.productImageContainer .productImageAnchor {
  width: 100%;
  height: 100%;
  display: block;
}

.productVariationsContainer {
  color: var(--MT---Secundria, #424242);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
}

.quantityStepper {
  margin-top: 8px;
  width: 100%;
  max-width: 100px;
  border: 1px solid var(--Cor-de-Fundo-Input, #eaeaea);
  padding: 10px;
}

.inputContainer {
  width: 50px;
  min-width: unset;
  border: none;
  color: var(--black, #000);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}

.quantitySelectorButton {
  border: none;
  border-radius: 0px;
  background-color: transparent !important;
  padding: 0px;
  width: 12px !important;
  color: #000;
}

.price {
  color: var(--black, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}