.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #f0f0f0;
  min-height: 450px;
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.layoutContainer--shelf {
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 96rem;
  min-height: 550px;
}