.drawer {
  width: 100%;
  max-width: unset;
}
.drawer .closeIconButton {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18 6L6 18M6 6L18 18' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: flex;
  background-position: center;
  background-size: 30px;
}
.drawer .closeIconButton .closeIcon {
  display: none;
}
.drawer .minicartTitle {
  display: none;
}
.drawer .closeIconContainer {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}

.minicartWrapperContainer {
  display: none;
}

.drawer {
  width: 100% !important;
  max-width: 100% !important;
}

.minicartCheckoutButton :global(.vtex-button) {
  border-radius: 8px;
  color: var(--Cor-Primaria, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  background: #2cbf59;
  border: none;
  text-transform: none;
  padding: 10px;
}