.flexRow--main-header {
  margin: 0 0 12px 0 !important;
}

.flexRowContent--main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  background-color: #060028;
}

.flexRow--menus {
  margin: 0 !important;
}

.flexRowContent--menus {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRowContent--menu-link {
  padding: 0 0.25rem;
}

.flexRowContent--menu-link {
  background-color: #060028;
  color: #f4f4f4;
}

.flexRowContent--header-right-components {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRowContent--main-header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRowContent--wishlist-minicart {
  display: flex;
  align-items: center;
  justify-content: center;
}
