.flexRowContent--main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  // background-color: #060028;
}

.flexRowContent--menu-link {
  padding: 0 0.25rem;
}

.flexRowContent--menu-link {
  background-color: #060028;
  color: #f4f4f4;
}
