.flexRowContent--search-info-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  .stretchChildrenWidth {
    width: 50% !important;
    &:last-child {
      display: none;
    }

    &:first-child {
      order: 2;
    }
  }
}

.flexRow--search-info-mobile {
  margin-top: 16px;
}

.flexRowContent--searchbread {
  margin-top: 24px;
}

.flexRow--searchtitle {
  margin-top: 0;
}
