.divContainer--container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 1rem !important;
}

.topBarContainer {
  width: 100%;
  min-height: 34px;
  display: flex;
  align-items: center;

  .topBarContainerWrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .topBarContainerItems {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      .topBarMessageLink {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        text-decoration: none;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
      }
    }
  }

  .topBarMessage {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
  }
}

.topBarContainer--mobile {
  justify-content: center;
  .topBarMessage {
    width: 100%;
    justify-content: center;
  }
}

.divContainer--main-header--actions {
  max-width: 430px;
}

.customLoginButton {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.customMinicartButton {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.customMinicartButton {
  padding: 0px;
  position: relative;
}

.customMinicartButtonCount {
  position: absolute;
  right: -4px;
  top: 0px;
  background-color: #000;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;

  .dropdown {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;

    &--active {
      display: block;
    }
  }

  .menuLabel {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    color: #1b1b1b;
  }
}

.divContainer--main-header {
  padding: 0.5rem 1rem !important;
}
