.divContainer--container {
  max-width: 1280px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-left: auto;
  margin-right: auto;
}

.topBarContainer {
  padding: 0.5rem;
  text-align: center;
  width: 100%;

  .topBarMessage {
    display: block;
    text-align: center;

    @media screen and (max-width: 1024px) {
      font-size: 12px;
    }
  }
}

.divContainer--main-header {
  flex-direction: row !important;
}

.menuContainer {
  display: flex;
  align-items: center;
}

.menuItem {
  cursor: pointer;
  padding: 0px 15px;
  min-height: 80px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in;

  &:hover {
    color: #00579c;
  }

  &:hover .dropdown {
    display: flex;
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 180px;
  background: white;
  border: 1px solid #eee;
  flex-direction: column;
  min-width: 360px;
  z-index: 10;
  border-radius: 0 0 0 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

  &:hover {
    display: flex;
  }
}

.dropdownItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menuLabel {
    color: var(--black, #000);

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
  }

  transform: all 0.3s ease-in;

  &:hover {
    background-color: #00579c;

    .menuLabel {
      color: #fff;
    }
  }
}

.submenu {
  position: absolute;
  top: -1px;
  left: 100%;
  padding: 0px;
  display: flex;
  min-width: 300px;
  z-index: 20;
  width: 51vw;
  max-width: 960px;
  min-height: 300px;

  .submenuItemUl {
    padding: 0px;
    width: 100%;
    margin: 0px;
    background-color: #fafafa;
    padding-bottom: 1rem;

    .submenuItem {
      padding: 12px 40px;

      .submenuItemLink {
        color: var(--gray-800, #27272a);

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .submenuImage {
    width: 100%;
    max-width: unset;
    height: 100%;
  }

  .submenuImageContainer {
    padding: 24px;
    min-width: 320px;
    background-color: #fafafa;
  }
}

.submenuItem {
  display: block;
  padding: 0.25rem 0;
  color: #333;
  text-decoration: none;
}

.customLoginButton {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  min-width: 180px;
}

.customLoginButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.customLoginButtonLabel {
  text-align: right;
  display: block;
  color: var(--gray-800, #27272a);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  width: 100%;
  text-decoration: none;
}

.customLoginButtonLabelWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
  text-align: right;
  white-space: nowrap;
}

.customLoginButtonLabelBold {
  color: var(--gray-800, #27272a);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.customLoginButtonDropdown {
  padding: 16px 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  min-width: 360px;

  .customLoginButtonDropdownLabel {
    margin: 0px;
    color: var(--Azul, #00579c);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
    margin-bottom: 8px;
  }

  .customLoginButtonDropdowndescription {
    margin: 0px;
    color: var(--MT---Secundria, #424242);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 20px;

    &--bold {
      color: #000;
      font-weight: bold;
    }
  }

  .customLoginButtonLabelWrapper--entrar {
    width: 100%;
    margin-bottom: 6px;
    :global(.vtex-button) {
      border-radius: 8px;
      background: var(--Azul, #00579c);
      border: none;
      color: var(--Amarelo, #fcd200);

      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      width: 100%;
      line-height: 140%; /* 19.6px */
      text-transform: capitalize;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .customLoginButtonLabelWrapper--cadastrar {
    width: 100%;
    text-align: center;
    :global(.vtex-button) {
      border-radius: 8px;
      border: 1px solid #eaeaea;
      background-color: #fff;
      text-align: center;
      width: 100%;
      color: var(--MT---Secundria, #424242);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 19.6px */
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
      text-transform: capitalize;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.customMinicartButton {
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  padding-right: 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  .customMinicartButtonCount {
    border-radius: 12px;
    background: var(--Secundria, #00579c);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white, #fff);
    text-align: center;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 16.8px */
  }
}

.customDeals {
  max-width: 1280px;
  padding: 0px 1rem;
  margin: 60px auto;

  .customDealsWrapper {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: scroll;

    .customDealsItem {
      text-align: center;

      @media screen and (max-width: 768px) {
        min-width: 200px;
      }

      .customDealsItemTitle {
        margin-top: 8px;
        color: var(--black, #000);
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 19.6px */
        margin: 0px;
      }

      .customDealsItemDescription {
        color: var(--gray-600, #52525b);
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
        margin: 0px;
      }
    }
  }
}

.categoryListContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 1rem;
  margin-bottom: 60px;

  .sliderTrack {
    gap: 1rem;
  }

  @media screen and (max-width: 1024px) {
    .sliderTrack {
      gap: 0;
    }
  }

  .categoryListTitle {
    color: var(--black, #000);
    text-align: center;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    margin-top: 0px;
    margin-bottom: 60px;

    @media screen and (max-width: 1024px) {
      font-size: 1rem;
    }
  }

  .categoryListItemImage {
    object-fit: cover;
    border-radius: 8px;
    display: flex;
    width: 100%;
  }

  .categoryListItemLink {
    display: flex;
    border-radius: 8px;
    position: relative;
    transition: all 0.3s ease-in;

    &:hover {
      opacity: 0.8;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 8px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }
  }

  .categoryListItemTitle {
    padding: 30px;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 99;
    margin: 0px;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 42px */
    text-decoration: none;

    @media screen and (max-width: 1024px) {
      color: var(--white, #fff);
      font-size: 22px;
      padding: 1rem;
    }
  }

  .sliderLeftArrow {
    border-radius: 200px;
    border: 1px solid #eaeaea;
    background: #fff !important;
    top: 10%;
    left: -2rem !important;
    min-width: 48px;
    min-height: 48px;

    .caretIcon {
      width: 15px;
    }

    @media screen and (max-width: 1340px) {
      left: -1rem !important;
    }
  }

  .sliderRightArrow {
    border-radius: 200px;
    border: 1px solid #eaeaea;
    background: #fff !important;
    top: 10%;
    min-width: 48px;
    min-height: 48px;
    right: -2rem !important;

    .caretIcon {
      width: 15px;
    }

    @media screen and (max-width: 1340px) {
      right: -1rem !important;
    }
  }
}

.divContainer--divider {
  height: 1px !important;
  background: #f4f4f5 !important;
  width: 100% !important;
  padding: 0px 1rem !important;
  width: calc(100% - 24px) !important;
  margin: 0 auto !important;
  margin-bottom: 10px !important;
}

.middleBanners {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 1rem;
  margin-bottom: 60px;

  .sliderLayoutContainer {
    margin-top: 60px;
  }

  .middleBannersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 60px 0px;
    justify-content: center;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
    }

    .middleBannersItem {
      position: relative;
      transition: all 0.3s ease-in;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .paginationDotsContainer {
    bottom: -2rem;

    .paginationDot--isActive {
      background-color: #00579c;
    }
  }

  .middleBannersItem {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .middleBannersItemIcon {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
  }

  .middleBannersItemContent {
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    .middleBannersItemDescription {
      color: var(--white, #fff);

      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      text-transform: uppercase;
    }

    .middleBannersItemsubTitle {
      color: var(--white, #fff);

      /* text-xl/Light */
      font-family: Inter;
      font-size: 22px;
      font-style: normal;
      font-weight: 300;
    }

    .middleBannersItemTitle {
      color: var(--white, #fff);

      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      margin: 0px;
      margin-bottom: 1rem;
      line-height: 20px;
    }
  }
}

.customProductSummaryBadge {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 99999;
  padding: 5px 10px;
  border-radius: 4px;
  background: var(--white, #fff);
  color: var(--black, #000);
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 16.8px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.middleBanners--3-banners {
  margin-bottom: 1rem;

  .middleBannersWrapper {
    display: flex;
    margin-bottom: 1rem;

    .middleBannersItemContent {
      width: 100%;
      text-align: center;
    }
  }

  @media screen and (max-width: 1024px) {
    .middleBannersWrapper {
      flex-direction: column;
    }
  }
}

.middleBanners--brand {
  .middleBannersWrapper {
    margin: 0px auto !important;
  }

  .middleBannersItemIcon {
    width: 100%;
    height: auto;
  }

  .middleBannersItemIcon--icon {
    max-width: 150px;
  }
}

.divContainer--footer-banner-1 {
  max-width: 1280px !important;
  padding: 0px 1rem !important;
  margin: 60px auto !important;
}

.customInstagram--instagram-feed {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 1rem;

  .customInstagramTitle {
    margin: 0px;
    color: var(--black, #000);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 33.6px */
  }

  .instagramLink--instagram-feed {
    color: var(--Secundria, #00579c);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    display: flex;
    font-weight: 500;
    justify-content: center;
    line-height: 140%; /* 22.4px */
  }

  .customInstagramWrapper--instagram-feed {
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;

    .customInstagramItemIcon {
      border-radius: 8px;
      object-fit: cover;
    }
  }
}

.footerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;

  @media screen and (max-width: 1024px) {
    gap: 40px;
  }

  .footerContainerLink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }

  .newsletterForm {
    min-width: 300px;
  }

  .footerContainerLink--last,
  .footerContainerLink--email {
    font-size: 12px !important;
  }

  .footerContainerLink,
  .newsletterFormDescription {
    color: var(--gray-600, #52525b);

    /* text-sm/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    margin: 0px;
    margin-bottom: 6px;
    text-decoration: none;
  }

  .footerContainerWrapper {
    max-width: 260px;

    @media screen and (max-width: 1024px) {
      max-width: unset;
      width: 100%;
    }
  }

  .footerContainerUl {
    margin: 0px;
    padding: 0px;

    .footerContainerLi {
      list-style: none;
    }
  }
}

.footerContainerH4,
.newsletterFormTitle {
  color: var(--gray-800, #27272a);
  margin: 0px;
  margin-bottom: 6px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
}

.footerContainerBottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 60px 0px;
}

.footerContainerUl {
  margin: 0px;
  padding: 0px;
}

.footerContainerLi {
  list-style: none;
}

.footerContainerUl--redes-sociais {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  .footerContainerLink {
    min-width: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00579c;
    border-radius: 50%;

    :global(.vtex-render-runtime-8-x-lazyload) {
      width: 100%;
      height: 100%;
      max-width: 25px;
      max-height: 25px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.menuContainer--mobile {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 1000vh;
  z-index: 9999;
  background-color: #fff;
}

.submenuUl {
}

.menuCardContainer {
  padding: 0px 20px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: var(--white, #fff);

  /* text-sm/Bold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  text-decoration: none;
  background: var(--Azul, #00579c);
}

.profileContainerTitle {
  color: var(--black, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  margin: 0px;
  font-weight: 300;
  line-height: 100%; /* 19.6px */
}

.profileContainer {
  padding: 10px 20px;
  background: var(--gray-100, #f4f4f5);
  display: flex;
  align-items: center;
  gap: 10px;

  .profileContainerLink {
    color: var(--black, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
    text-decoration: none;
  }
}

.menuContainer--mobile {
  .menuItemUl {
    margin: 0px;
    padding: 0px;
    width: 100%;

    .drawerButton {
      padding: 1rem;
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
      width: 100%;
    }
  }

  .submenuItemsWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999;
    height: 100vh;
    background-color: #fff;

    .backButton {
      padding: 1rem;
      border: none;
      border-bottom: 1px solid #eaeaea;
      color: var(--gray-800, #27272a);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 19.6px */
      background: var(--gray-100, #f4f4f5);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
    }

    .submenuUl {
      padding: 0px;
      list-style: none;

      .collapsibleMenu {
        padding: 1rem 0px;
        border-bottom: 1px solid #eaeaea;

        .submenuItem {
          padding: 0px !important;
        }
      }

      :global(.vtex__icon-caret-down),
      :global(.vtex__icon-caret-up) {
        padding-right: 1rem;
      }

      .collapsibleMenuTitle {
        display: block;
        padding-left: 1rem;
      }

      .submenuLi {
        .menuLink {
          padding: 1rem;
          display: block;
          text-decoration: none;
          color: var(--MT---Secundria, #424242);
          font-family: Inter;
          font-size: 14px;
          text-decoration: none;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
        }
      }

      .collapsibleMenu--open {
        .collapsibleMenuTitle {
          color: #00579c;
        }

        :global(.vtex__icon-caret-down),
        :global(.vtex__icon-caret-up) {
          color: #00579c;
        }
      }

      .submenuItems {
        padding-left: 0px;
        padding-top: 0px;
        border-top: 1px solid #eaeaea;
        margin-top: 1rem;

        .submenuItem {
          padding: 1rem 0px;
          border-bottom: 1px solid #eaeaea;

          &:last-child {
            border: none;
          }

          .menuLink {
            display: flex;
            padding-left: 2rem;
            color: var(--MT---Secundria, #424242);
            font-family: Inter;
            font-size: 14px;
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
          }
        }
      }
    }
  }

  .menuOthers {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .menuLink--others {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
      color: var(--black, #000);

      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      text-decoration: none;
      font-weight: 500;
      line-height: 140%; /* 19.6px */
    }
  }
}

.footerContainer--mobile {
  flex-direction: column;

  .footerContainerUl--formasPagamento {
    display: flex;
    width: 100%;
    justify-content: center;
    :global(.vtex-render-runtime-8-x-lazyload) {
      width: auto;
      height: auto;
    }
  }

  .footerContainerUl--siteSeguro {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footerContainerWrapper--siga-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .newsletterForm {
    width: 100%;
  }

  .divContainer--auaha-vtex {
    display: flex;
    flex-direction: row !important;
    gap: 1rem !important;
  }
}

.divContainer--prod-name {
  flex-direction: column !important;
}

.customShippingBar__progress {
  width: 100%;
  height: 8px;
  background-color: #ddd;
  border-radius: 2px;
}

.minicartBadgeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 1rem;
  border-bottom: 1px solid #f2f1f1;

  .minicartBadgeContainerTitle {
    margin: 0px;
    color: var(--Contraste-Preto, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
    margin-left: 3rem;
    display: block;
  }

  .minicartBadgeText {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    border-radius: 50%;
    background: var(--Secundria, #00579c);
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 16.8px */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.customShippingBar {
  padding: 12px 1rem;

  .customShippingBar__remaining {
    color: var(--black, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    text-align: center;
  }

  .customShippingBarItemsPrice {
    display: block;
    margin: 8px 0px;
    color: #969696;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    text-align: center;
  }

  .customShippingBar__remaining--bold {
    font-weight: bold;
    color: #00579c;
  }

  .customShippingBar__remaining--disclaimer {
    display: block;
    color: var(--black, #000);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    text-align: center;
  }

  .customShippingBar__total {
    background-color: #00579c;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }

  .customShippingBar__progress_price {
    display: flex;
    justify-content: flex-end;
    margin-top: 1px;
    color: #969696;

    /* text-xs/Regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
  }
}

.divContainer--minicart-item {
  border-bottom: 1px solid #dedede;
}

.divContainer--minicart-close-button-wrapper {
  display: flex;
  justify-content: center !important;
}

.contactFormContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  padding-bottom: 60px;

  .contactForm {
    display: flex;
    gap: 40px;
    margin-top: 20px;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }

    .form,
    .contactFormSubtitle {
      width: 100% !important;
    }

    .form {
      width: 60%;

      .contactFormTitle {
        margin: 0px;
        margin-bottom: 24px;
        color: var(--COLOR-PRETO, #000);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .contactFormInput {
        margin-bottom: 24px;
        gap: 12px;
        display: grid;

        :global(.vtex-styleguide-9-x-container),
        :global(.vtex-input-prefix__group) {
          border: none;
        }

        :global(.vtex-dropdown__arrow) {
          color: #000;
        }

        :global(.vtex-textarea__input),
        :global(.vtex-dropdown__button),
        :global(.vtex-styleguide-9-x-input) {
          border-radius: 8px;
          border: 1px solid var(--COLOR-CINZA-CLARO, #d6d6d6);
          background: var(--COLOR-BRANCO, #fff);
          color: var(--COLOR-PRETO, #000);
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      :global(.vtex-button) {
        border-radius: 8px;
        background: var(--Azul, #00579c);
        border: none;
        color: var(--Neutras-05, #fff);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        text-transform: none;
      }

      .contactFormInput--triple {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .contactFormInput--double {
        grid-template-columns: 1fr 1fr;
      }
    }

    .contactFormSubtitle {
      height: 100%;
      width: 40%;
      border-radius: 16px;
      background: var(--gray-100, #f4f4f5);
      padding: 24px;

      .contactFormTitleH5 {
        color: var(--COLOR-PRETO, #000);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0px;
      }

      .contactFormTitleP {
        color: var(--COLOR-PRETO, #000);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 0px;
        margin-bottom: 24px;
      }

      .contactFormUl {
        margin: 0px;
        list-style: none;
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .contactFormWhatsApp {
          display: flex;
          height: 40px;
          padding: 10px 20px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          background: var(--green-500, #22c55e);
          align-self: stretch;
          color: var(--white, #fff);

          /* text-sm/Bold */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          text-decoration: none;
          line-height: 140%; /* 19.6px */

          &:hover {
            background: var(--green-500, #16803d);
          }
        }

        .contactFormLi {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .contactFormContact {
            display: flex;
            align-items: center;
            gap: 24px;
            justify-content: center;

            .contactFormItemTitleH6 {
              margin: 0px;
              color: var(--Neutras-01, #1b1b1b);
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 22px; /* 157.143% */
            }
          }

          .contactFormIconContaner {
            padding: 12px;
            background-color: #fff;
            border-radius: 50%;
            min-width: 52px;
            min-height: 52px;
            max-width: 52px;
            max-height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .contactFormItemContainer,
          .contactFormText {
            color: var(--Neutras-01, #1b1b1b) !important;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 157.143% */
          }
        }
      }
    }
  }
}

.breadcrumb {
  padding: 8px 0px;
  background: var(--Neutras-04, #f1f1f1);

  .breadcrumbContainer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
  }

  .breadcrumbItem,
  .breadcrumbItemLink {
    color: var(--primrias-01, #272727);
    text-decoration: none;
    /* Texto/TextoM regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.customStoresContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 1rem 60px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;

    .storeInfo {
      flex-direction: column;
    }

    .storeLinks {
      justify-content: flex-start;
      width: 100%;
      margin-top: 1rem;
    }
  }

  .storeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .storeInfo {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    gap: 20p;
    align-items: center;
  }

  .storeDescription {
    margin: 0px;
    color: var(--gray-500, #71717a);

    /* text-sm/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }

  .storeLinks {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .storeLink {
    border-radius: 8px;
    background: var(--Secundria, #00579c);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    padding: 0px 20px;
    color: var(--white, #fff);

    /* text-sm/Bold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    line-height: 140%; /* 19.6px */
    gap: 10px;

    &:hover {
      opacity: 0.9;
    }
  }

  .storeLink--whatsapp {
    border-radius: 8px;
    background: var(--green-500, #22c55e);
  }

  .storeCard {
    display: flex;
    flex-direction: column;

    .storeName {
      color: var(--gray-700, #3f3f46);

      margin: 0px;
      /* text-base/Bold */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 22.4px */
    }
  }
}

.divContainer--breadcrumb {
  margin-bottom: 24px;
}

.productInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 28px;

  .productInfoAvailable {
    margin: 0px;
    color: var(--gray-600, #52525b);

    /* text-xs/Regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
  }

  :global(.vtex-wish-list-1-x-wishlistIconContainer) {
    :global(.vtex-button) {
      padding: 0px !important;
      border: none;
      background-color: transparent;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;

      :global(.vtex-button__label) {
        padding: 0px;
      }
    }
  }
}

.divContainer--add-to-cart-section {
  align-items: center;
  :global(.vtex-button) {
    border-radius: 8px;
    height: 100%;
    background: var(--green-500, #22c55e);
    border: none;
    padding: 10px;
    width: 100%;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 1024px) {
      padding: 10px 0px;
    }

    &:hover {
      background: var(--green-600, #0f7033);
    }

    :global(.vtex-add-to-cart-button-0-x-buttonText) {
      color: var(--white, #fff);

      /* text-sm/Bold */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 19.6px */
      text-transform: none;
    }
  }
}

.customProductDescription {
  display: flex;
  padding-top: 20px;
  margin-top: 28px;
  border-top: 1px solid var(--gray-200, #e4e4e7);
  background: var(--white, #fff);

  :global(.vtex__icon-caret-up),
  :global(.vtex__icon-caret-down) {
    color: #000;
    width: 10px;
  }
}

.divContainer--product-infos {
  min-height: 1250px;
  max-width: 30%;
  min-width: 450px;
}

.customProductDescriptionHeader {
  color: var(--gray-700, #3f3f46);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin: 0px;
  line-height: 140%; /* 22.4px */
}

.customProductDescriptionContent {
  color: var(--gray-600, #52525b);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.shareContainer {
  margin-top: 28px;

  .shareContainerTitle {
    margin: 0px;
    margin-bottom: 6px;
    color: var(--black, #000);

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }

  .shareContainerContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .shareButton {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover {
      opacity: 0.8;
    }
  }
}

.compreJunto {
  max-width: 1280px;
  padding: 60px 1rem;
  margin: 0 auto;

  :global(.vtex-store-components-3-x-installmentsPrice) {
    display: none;
  }

  .compreJuntoWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .compreJuntoItem {
    max-width: 300px;
  }

  .compreJuntoTotals {
    height: -webkit-fill-available;
    padding: 40px;
    border-radius: 8px;
    background: var(--gray-100, #f4f4f5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    min-width: 325px;

    .compreJuntoTotalTitle {
      color: var(--gray-700, #3f3f46);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      text-align: center;
      font-weight: 400;
      line-height: 140%; /* 19.6px */
      margin: 0px;
    }

    .compreJuntoTotalValue {
      color: var(--gray-700, #3f3f46);
      font-family: Inter;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 30.8px */
      margin: 0px;
      text-align: center;
    }

    :global(.vtex-button) {
      width: 100%;
      margin-top: 1rem;
      border-radius: 8px;
      border: none;
      background: var(--green-500, #22c55e);
      text-transform: none;

      &:hover {
        background: var(--green-600, #0f7033);
      }

      :global(.vtex-button__label) {
        color: var(--white, #fff);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 19.6px */
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .divContainer--product-infos {
    width: 100%;
    max-width: 100%;
    min-width: unset;
  }

  .divContainer--breadcrumb {
    margin: 0px;
  }

  .divContainer--product-infos {
    padding: 0px 1rem !important;
    min-height: unset !important;
  }

  .divContainer--product-main {
    padding: 0px !important;
    gap: 40px !important;
  }
}

.compreJunto--mobile {
  padding: 40px 0px;

  .compreJuntoWrapper {
    padding: 0px 1rem;
  }
}

.divContainer--department-banner {
  position: relative;
  :global(.vtex-search-result-3-x-galleryTitle--layout) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc((100% - 1280px) / 2);
    padding-left: 1rem;
    margin: 0px;
    color: #fff;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 14.4px;
    text-transform: uppercase;
  }
}

.divContainer--search {
  margin-bottom: 0px;
}

.departmentCarousel--search-carousel {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 1rem 60px;

  .sliderArrows {
    border-radius: 200px;
    border: 1px solid #eaeaea;
    background: #fff !important;
    min-width: 48px;
    min-height: 48px;

    .caretIcon {
      width: 20px;
    }
  }

  .departmentCarouselItem {
    text-decoration: none;
    width: 100%;

    &:hover {
      opacity: 0.8;
    }
  }

  .departmentCarouselItemTitle--search-carousel {
    margin: 0px;
    margin-top: 8px;
    color: var(--black, #000);
    text-align: center;
    text-decoration: none;
    /* text-base/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }

  .departmentCarouselItemImage {
    display: block;
    width: 100%;
    object-fit: contain;
  }
}

.divContainer--filter-container {
  padding-bottom: 24px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-bottom: 1px solid #e4e4e7;
  max-width: calc(1280px - 2rem);

  @media screen and (max-width: 1024px) {
    padding: 14px 1rem !important;
    border: none;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem !important;
  }
}

.divContainer--orderby-container {
  margin: 24px auto 24px;
  width: 100%;
}

.departmentCarousel--search-carousel--mobile {
  padding-bottom: 40px;
}

.divContainer--product-infos-unavailable {
  max-width: 30%;
  min-width: 450px;
  width: 100% !important;

  @media screen and (max-width: 1024px) {
    min-width: unset;
    padding: 0px 1rem !important;
    width: 100% !important;
    max-width: unset !important;
  }
}

.divContainer--filter-search {
  margin-top: 24px !important;
}

.divContainer--sobre-banners-1 {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr !important;
    gap: 40px !important;
  }
}
