.divContainer--container {
  max-width: 1280px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-left: auto;
  margin-right: auto;
}

.topBarContainer {
  padding: 0.5rem;
  text-align: center;
  width: 100%;

  .topBarMessage {
    display: block;
    text-align: center;
  }
}

.divContainer--main-header {
  position: relative;
}

.menuContainer {
  display: flex;
  align-items: center;
}

.menuItem {
  cursor: pointer;
  padding: 0px 15px;
  min-height: 80px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in;

  &:hover {
    color: #00579c;
  }

  &:hover .dropdown {
    display: flex;
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 180px;
  background: white;
  border: 1px solid #eee;
  flex-direction: column;
  min-width: 360px;
  z-index: 10;
  border-radius: 0 0 0 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

  &:hover {
    display: flex;
  }
}

.dropdownItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menuLabel {
    color: var(--black, #000);

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
  }

  transform: all 0.3s ease-in;

  &:hover {
    background-color: #00579c;

    .menuLabel {
      color: #fff;
    }
  }
}

.submenu {
  position: absolute;
  top: -1px;
  left: 100%;
  padding: 0px;
  display: flex;
  min-width: 300px;
  z-index: 20;
  width: 51vw;
  max-width: 960px;
  min-height: 300px;

  .submenuItemUl {
    padding: 0px;
    width: 100%;
    margin: 0px;
    background-color: #fafafa;
    padding-bottom: 1rem;

    .submenuItem {
      padding: 12px 40px;

      .submenuItemLink {
        color: var(--gray-800, #27272a);

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .submenuImage {
    width: 100%;
    max-width: unset;
    height: 100%;
  }

  .submenuImageContainer {
    padding: 24px;
    min-width: 320px;
    background-color: #fafafa;
  }
}

.submenuItem {
  display: block;
  padding: 0.25rem 0;
  color: #333;
  text-decoration: none;
}

.customLoginButton {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  min-width: 180px;
}

.customLoginButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.customLoginButtonLabel {
  text-align: right;
  display: block;
  color: var(--gray-800, #27272a);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  width: 100%;
}

.customLoginButtonLabelWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
  text-align: right;
  white-space: nowrap;
}

.customLoginButtonLabelBold {
  color: var(--gray-800, #27272a);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.customLoginButtonDropdown {
  padding: 16px 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  min-width: 360px;

  .customLoginButtonDropdownLabel {
    margin: 0px;
    color: var(--Azul, #00579c);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
    margin-bottom: 8px;
  }

  .customLoginButtonDropdowndescription {
    margin: 0px;
    color: var(--MT---Secundria, #424242);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 20px;

    &--bold {
      color: #000;
      font-weight: bold;
    }
  }

  .customLoginButtonLabelWrapper--entrar {
    width: 100%;
    margin-bottom: 6px;
    :global(.vtex-button) {
      border-radius: 8px;
      background: var(--Azul, #00579c);
      border: none;
      color: var(--Amarelo, #fcd200);

      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      width: 100%;
      line-height: 140%; /* 19.6px */
      text-transform: capitalize;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .customLoginButtonLabelWrapper--cadastrar {
    width: 100%;
    text-align: center;
    :global(.vtex-button) {
      border-radius: 8px;
      border: 1px solid #eaeaea;
      background-color: #fff;
      text-align: center;
      width: 100%;
      color: var(--MT---Secundria, #424242);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 19.6px */
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
      text-transform: capitalize;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.customMinicartButton {
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  padding-right: 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  .customMinicartButtonCount {
    border-radius: 12px;
    background: var(--Secundria, #00579c);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white, #fff);
    text-align: center;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 16.8px */
  }
}

.customDeals {
  max-width: 1280px;
  padding: 0px 1rem;
  margin: 60px auto;

  .customDealsWrapper {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .customDealsItem {
      text-align: center;

      .customDealsItemTitle {
        margin-top: 8px;
        color: var(--black, #000);
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 19.6px */
        margin: 0px;
      }

      .customDealsItemDescription {
        color: var(--gray-600, #52525b);
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
        margin: 0px;
      }
    }
  }
}

.categoryListContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 1rem;
  margin-bottom: 60px;

  .sliderTrack {
    gap: 1rem;
  }

  .categoryListTitle {
    color: var(--black, #000);
    text-align: center;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    margin-top: 0px;
    margin-bottom: 60px;
  }

  .categoryListItemImage {
    object-fit: cover;
    border-radius: 8px;
    display: flex;
    width: 100%;
  }

  .categoryListItemLink {
    display: flex;
    border-radius: 8px;
    position: relative;
    transition: all 0.3s ease-in;

    &:hover {
      opacity: 0.8;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 8px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }
  }

  .categoryListItemTitle {
    padding: 30px;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 99;
    margin: 0px;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 42px */
    text-decoration: none;
  }

  .sliderLeftArrow {
    border-radius: 200px;
    border: 1px solid #eaeaea;
    background: #fff !important;
    top: 10%;
    left: -2rem !important;
    min-width: 48px;
    min-height: 48px;

    .caretIcon {
      width: 15px;
    }

    @media screen and (max-width: 1340px) {
      left: -1rem !important;
    }
  }

  .sliderRightArrow {
    border-radius: 200px;
    border: 1px solid #eaeaea;
    background: #fff !important;
    top: 10%;
    min-width: 48px;
    min-height: 48px;
    right: -2rem !important;

    .caretIcon {
      width: 15px;
    }

    @media screen and (max-width: 1340px) {
      right: -1rem !important;
    }
  }
}

.divContainer--divider {
  height: 1px !important;
  background: #f4f4f5 !important;
  width: 100% !important;
  padding: 0px 1rem !important;
  width: calc(100% - 24px) !important;
  margin: 0 auto !important;
  margin-bottom: 10px !important;
}

.middleBanners {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 1rem;
  margin-bottom: 60px;

  .middleBannersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 60px 0px;
    justify-content: center;

    .middleBannersItem {
      position: relative;
      transition: all 0.3s ease-in;

      &:hover {
        opacity: 0.8;
      }
    }

    .middleBannersItemIcon {
      border-radius: 8px;
      object-fit: cover;
    }

    .middleBannersItemContent {
      position: absolute;
      bottom: 1rem;
      left: 1rem;

      .middleBannersItemDescription {
        color: var(--white, #fff);

        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
      }

      .middleBannersItemsubTitle {
        color: var(--white, #fff);

        /* text-xl/Light */
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
      }

      .middleBannersItemTitle {
        color: var(--white, #fff);

        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        margin: 0px;
        margin-bottom: 1rem;
        line-height: 20px;
      }
    }
  }
}

.customProductSummaryBadge {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 99999;
  padding: 5px 10px;
  border-radius: 4px;
  background: var(--white, #fff);
  color: var(--black, #000);
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 16.8px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.middleBanners--3-banners {
  margin-bottom: 1rem;

  .middleBannersWrapper {
    display: flex;
    margin-bottom: 1rem;

    .middleBannersItemContent {
      width: 100%;
      text-align: center;
    }
  }
}

.middleBanners--brand {
  .middleBannersWrapper {
    margin: 0px auto !important;
  }
  .middleBannersItemIcon {
    width: auto;
    height: auto;
  }
}


.divContainer--footer-banner-1  {
  max-width: 1280px !important;
  padding: 0px 1rem !important;
  margin: 60px auto !important;
}
