.divContainer--container {
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.topBarContainer {
  padding: 0.5rem;
  text-align: center;
  width: 100%;

  .topBarMessage {
    display: block;
    text-align: center;
  }
}

.divContainer--main-header {
  position: relative;
}

.menuContainer {
  display: flex;
  align-items: center;
}

.menuItem {
  cursor: pointer;
  padding: 0px 15px;
  min-height: 80px;
  display: flex;
  align-items: center;
  transition: all .3s ease-in;

  &:hover {
    color: #00579C;
  }

  &:hover .dropdown {
    display: flex;
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #eee;
  flex-direction: column;
  min-width: 360px;
  z-index: 10;
  border-radius: 0 0 0 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

  &:hover {
    display: flex;
  }
}


.dropdownItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menuLabel {
    color: var(--black, #000);

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
  }

  transform: all 0.3s ease-in;

  &:hover {
    background-color: #00579c;

    .menuLabel {
      color: #fff;
    }
  }
}

.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0px;
  display: flex;
  min-width: 300px;
  z-index: 20;
  width: 100vw;
  max-width: 960px;
  min-height: 300px;

  .submenuItemUl {
    padding: 0px;
    width: 100%;
    margin: 0px;
    background-color: #fafafa;
    padding-bottom: 1rem;

    .submenuItem {
      padding: 12px 40px;

      .submenuItemLink {
        color: var(--gray-800, #27272a);

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .submenuImage {
    width: 100%;
    max-width: unset;
    height: 100%;
  }

  .submenuImageContainer {
    padding: 24px;
    min-width: 320px;
    background-color: #fafafa;
  }
}

.submenuItem {
  display: block;
  padding: 0.25rem 0;
  color: #333;
  text-decoration: none;
}
