.sliderLayoutContainer--carousel {
  .paginationDotsContainer--carousel {
    bottom: 20px;
  }

  .paginationDot--carousel {
    background-color: #D9D9D9;
  }

  .paginationDot--carousel--isActive {
    background-color: #FCD200;
  }
}

.sliderLayoutContainer--shelf {
  max-width: 1316px;
  padding: 0px 1rem;
  margin: 0 auto;
}
