.sliderLayoutContainer--carousel {
  .paginationDotsContainer--carousel {
    bottom: 20px;
  }

  .paginationDot--carousel {
    background-color: #D9D9D9;
  }

  .paginationDot--carousel--isActive {
    background-color: #FCD200;
  }
}
