.sliderLayoutContainer--carousel {
  .paginationDotsContainer--carousel {
    bottom: 20px;
  }

  .paginationDot--carousel {
    background-color: #d9d9d9;
  }

  .paginationDot--carousel--isActive {
    background-color: #fcd200;
  }
}

.sliderLayoutContainer--shelf {
  max-width: 1280px;
  padding: 0px 1rem !important;
  margin: 0 auto;
}

.slide--shelf {
  margin-bottom: 0px;
  margin: 0.25rem;
}

.sliderLayoutContainer--footer,
.sliderLayoutContainer--shelf {
  .sliderLeftArrow {
    border-radius: 200px;
    border: 1px solid #eaeaea;
    background: #fff !important;
    min-width: 48px;
    min-height: 48px;

    .caretIcon {
      width: 18px;
    }
  }

  .sliderRightArrow {
    border-radius: 200px;
    border: 1px solid #eaeaea;
    background: #fff !important;
    min-width: 48px;
    min-height: 48px;

    .caretIcon {
      width: 18px;
    }
  }
}

.sliderLayoutContainer--footer {
  max-width: 1280px;
  padding: 0px 1rem;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-bottom: 3rem;

  .paginationDot--carousel--isActive {
    background-color: #00579C;
  }
}
