.heading--shelf-title {
  color: var(--Neutras-01, #1b1b1b);
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 32px;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 20px;
  }
}

.container--shelf-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
