.sellingPrice--summary {
  width: calc(100% - 24px);
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  gap: 5px;

  color: var(--Contraste-Preto, #000);

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 19.6px */

  .sellingPriceValue--summary {
    color: var(--Secundria, #00579c);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
  }
}

.installments--summary {
  color: var(--gray-500, #71717a);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  text-align: left;
  max-width: 215px;
  margin-left: 12px;

  @media screen and (max-width: 768px) {
    max-width: 150px;
  }
}
