.removeButtonContainer {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0867 1.5011C11.9682 1.5011 10.8496 1.5011 9.73111 1.5011C9.71065 1.5034 9.69076 1.50684 9.6703 1.50799C9.32815 1.5281 9.02805 1.64243 8.79559 1.90844C8.5961 2.1371 8.51937 2.41633 8.47674 2.70761C8.44321 2.93915 8.41877 3.17183 8.39604 3.40509C8.39035 3.46082 8.37103 3.47404 8.32044 3.47117C8.25451 3.46772 8.18858 3.47002 8.12265 3.47002C7.43437 3.47002 6.74552 3.46772 6.05724 3.47117C5.83103 3.47231 5.60028 3.4637 5.37862 3.50276C4.4681 3.66363 3.83268 4.17899 3.49166 5.05342C3.38595 5.3246 3.34446 5.61072 3.31831 5.89913V6.24385C3.32229 6.27545 3.32854 6.30705 3.33025 6.33865C3.35639 6.77185 3.62977 7.05394 4.05718 7.08554C4.1629 7.09358 4.26918 7.09761 4.37489 7.10335C4.37774 7.11312 4.38058 7.11944 4.38115 7.12576C4.41297 7.50782 4.44537 7.88988 4.47606 8.27195C4.5238 8.87635 4.56984 9.48076 4.61758 10.0846C4.67442 10.8033 4.73296 11.5221 4.78923 12.2408C4.84152 12.9067 4.8921 13.5731 4.94439 14.239C5.01487 15.1433 5.08591 16.0471 5.15752 16.9514C5.22118 17.7546 5.28654 18.5578 5.35077 19.361C5.3843 19.7758 5.49342 20.1653 5.73441 20.5077C6.14363 21.0892 6.69437 21.4224 7.40652 21.4523C7.78789 21.4684 8.16983 21.4672 8.5512 21.4718C9.1008 21.4787 9.65097 21.4856 10.2006 21.4902C10.7235 21.4948 11.2458 21.4988 11.7687 21.4988C12.5689 21.4988 13.3692 21.4977 14.1689 21.4936C14.3183 21.4931 14.4684 21.4827 14.6179 21.4706C15.0464 21.4368 15.4681 21.3563 15.8893 21.2707C16.2377 21.1995 16.5679 21.0828 16.8612 20.8749C17.3835 20.5049 17.6802 19.9843 17.7842 19.3621C17.8712 18.8404 17.9217 18.3107 17.9627 17.7827C18.0161 17.0847 18.0491 16.3849 18.0826 15.6857C18.1303 14.6722 18.1678 13.6582 18.2144 12.6447C18.2463 11.9524 18.2809 11.2595 18.3258 10.5678C18.3571 10.0823 18.4037 9.59739 18.452 9.11306C18.4986 8.64252 18.556 8.17313 18.6089 7.70316C18.6316 7.50265 18.6538 7.30271 18.6765 7.10278C18.7811 7.09588 18.8811 7.09244 18.98 7.08267C19.3534 7.04417 19.6154 6.80747 19.6598 6.4346C19.7047 6.05656 19.6768 5.67679 19.6098 5.30277C19.4898 4.63804 19.109 4.16922 18.5197 3.86759C17.9718 3.58722 17.3812 3.47634 16.7748 3.46025C16.2076 3.44531 15.6392 3.45795 15.0714 3.45853C14.9498 3.45853 14.8282 3.45853 14.7008 3.45853C14.7008 3.3712 14.7014 3.28846 14.7008 3.20631C14.698 2.89778 14.6457 2.59845 14.532 2.31234C14.3394 1.82571 13.9859 1.54993 13.4607 1.51316C13.3362 1.50455 13.2112 1.50512 13.0867 1.5011ZM17.3159 7.10565C17.3159 7.1361 17.3176 7.15908 17.3159 7.18149C17.2801 7.64628 17.2443 8.11108 17.2079 8.5753C17.1516 9.29863 17.0959 10.022 17.0391 10.7453C16.9868 11.4066 16.9328 12.0679 16.8805 12.7292C16.8237 13.4479 16.768 14.1666 16.7117 14.8854C16.6543 15.6133 16.5975 16.3412 16.5395 17.0686C16.4804 17.808 16.4235 18.5474 16.3582 19.2857C16.3337 19.5609 16.2337 19.8039 15.9842 19.955C15.8154 20.0573 15.6278 20.0872 15.4346 20.0872C12.8366 20.0872 10.2381 20.0872 7.64012 20.0872C7.61966 20.0872 7.5992 20.0872 7.57873 20.0866C7.08767 20.0671 6.77905 19.8011 6.7171 19.3093C6.66879 18.9249 6.65174 18.5365 6.62162 18.1493C6.58354 17.6638 6.54603 17.1789 6.50795 16.6934C6.46418 16.1396 6.41985 15.5857 6.37609 15.0319C6.33744 14.5424 6.29879 14.0523 6.25957 13.5628C6.22092 13.0773 6.18228 12.5924 6.1442 12.1069C6.10612 11.6215 6.06804 11.1366 6.02996 10.6511C5.99074 10.157 5.95152 9.66231 5.9123 9.16822C5.87707 8.7241 5.8424 8.27999 5.80773 7.83645C5.78897 7.594 5.77078 7.35155 5.75203 7.10507L17.3159 7.10565ZM18.2792 5.69058H4.72557C4.72671 5.67679 4.72557 5.6676 4.72841 5.65898C4.83754 5.28841 5.06147 5.02125 5.43318 4.91094C5.5872 4.86498 5.75487 4.84889 5.91685 4.84717C6.52613 4.84142 7.13541 4.84832 7.74413 4.84889C9.01953 4.84947 10.2949 4.84889 11.5703 4.84889C13.4414 4.84889 15.3124 4.84947 17.1834 4.84774C17.4335 4.84774 17.666 4.896 17.8689 5.05113C18.0797 5.21257 18.2156 5.42342 18.2792 5.69058ZM13.3339 3.45393H9.77033V2.89204C9.85956 2.89663 9.93629 2.90525 10.013 2.9041C10.3307 2.89836 10.6484 2.88917 10.9662 2.88112C11.2634 2.87308 11.5607 2.85929 11.8579 2.85642C12.2251 2.85354 12.5939 2.82769 12.9588 2.89376C13.0827 2.91617 13.2066 2.93915 13.3339 2.96271V3.45393Z' fill='%23CCCCCC'/%3E%3Cpath d='M10.8611 13.5496C10.8611 15.2962 10.8611 17.0422 10.8611 18.7887C10.8611 19.0381 10.9463 19.2478 11.1589 19.3891C11.4777 19.6017 12.0842 19.5494 12.1984 18.9352C12.2126 18.8588 12.2143 18.7801 12.22 18.7026C12.2223 18.6704 12.22 18.6382 12.22 18.606C12.2217 15.1893 12.2228 11.7726 12.2245 8.35525C12.2245 8.09212 12.1433 7.86518 11.925 7.70891C11.7108 7.55551 11.4766 7.53712 11.2413 7.6526C11.0009 7.77038 10.8866 7.97836 10.8633 8.2415C10.8593 8.28918 10.8605 8.33802 10.8605 8.38628C10.8605 10.1076 10.8611 11.8283 10.8611 13.5496Z' fill='%23CCCCCC'/%3E%3Cpath d='M13.8847 13.5392C13.8847 15.2284 13.8842 16.9169 13.8859 18.606C13.8859 18.7296 13.8921 18.8548 13.916 18.9755C13.9705 19.2518 14.1689 19.3897 14.419 19.4609C14.6566 19.5287 14.8561 19.4529 15.0237 19.2748C15.1681 19.1214 15.2721 18.9531 15.2494 18.7284C15.2425 18.66 15.2442 18.5905 15.2442 18.5222C15.2442 15.133 15.2442 11.7438 15.2442 8.3541C15.2442 8.19209 15.2113 8.03926 15.1272 7.9008C14.9822 7.66237 14.7196 7.54344 14.4502 7.5917C14.1666 7.64226 13.9654 7.84105 13.9063 8.13693C13.8915 8.21047 13.8853 8.28746 13.8853 8.36272C13.8842 10.0886 13.8847 11.8134 13.8847 13.5392Z' fill='%23CCCCCC'/%3E%3Cpath d='M9.20599 13.5145C9.20599 11.7864 9.20599 10.0587 9.20599 8.33055C9.20599 7.98411 9.019 7.71178 8.72402 7.62445C8.2807 7.49346 7.85159 7.81232 7.85102 8.28229C7.85102 8.50923 7.87774 8.73617 7.88171 8.96311C7.88626 9.23601 7.88115 9.50949 7.8783 9.78296C7.87319 10.2564 7.8658 10.7292 7.86068 11.2026C7.85102 12.0455 7.84079 12.8883 7.83397 13.7311C7.82829 14.3694 7.81919 15.0083 7.82658 15.6472C7.83568 16.4234 7.85841 17.199 7.88058 17.9746C7.8874 18.201 7.89933 18.4297 7.93571 18.6526C7.96185 18.8134 8.02267 18.9709 8.08575 19.1225C8.15907 19.2995 8.30173 19.4127 8.48474 19.4604C8.69219 19.5149 8.85702 19.4242 8.9957 19.2748C9.16052 19.0973 9.20485 18.8755 9.20542 18.644C9.2094 17.6213 9.20997 16.5992 9.21111 15.5765C9.21168 14.8894 9.21111 14.2023 9.21111 13.5151L9.20599 13.5145Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 20px;
  min-height: 20px;

  .deleteIcon {
    display: none;
  }
}

.productName {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.productVariationsContainer {
  .productVariationsItem {
    color: var(--Neutras-02, #8c8c8c);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }
}

.productPriceCurrency {
  color: var(--Neutras-02, #8c8c8c);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  margin: 0px;
}

.productPrice {
  .price {
    color: var(--Primria-01, #c00146);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
  }
}

.quantitySelector {
  border-radius: 2px;
  background: var(--Neutras-04, #f1f1f1);
  padding: 8px 0px;

  .quantitySelectorButton {
    width: auto !important;
    min-width: unset !important;
    width: 25px !important;
    padding: 0px;
    visibility: visible !important;
    border: none;
    background: var(--Neutras-04, #f1f1f1);
  }

  .quantitySelectorDecrease {
    &::before {
      content: '-';
      color: var(--Neutras-01, #1b1b1b);

      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
  }

  .quantitySelectorIncrease {
    &::before {
      content: '+';
      color: var(--Neutras-01, #1b1b1b);

      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
  }

  .inputContainer {
    border: none;
    padding: 0px;
    color: var(--Neutras-01, #1b1b1b);

    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 30px !important;
  }
}

.productImageAnchor {
  display: block;
  min-width: 79px;
  min-height: 90px;
  display: flex;
}

.productListUnavailableItemsMessage,
.productListAvailableItemsMessage {
  display: none;
}
