.list--sobre-imagens-list {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  padding-bottom: 60px;
  flex-wrap: wrap;
}
