.openIconContainer--menu-mobile {
  padding-left: 0px;
  display: flex;
  justify-content: flex-start;

  .drawerTriggerContainer--menu-mobile {
    min-width: 47px;
    background-color: transparent;
    border: none;
    min-width: 50px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
  }
}

.opened--menu-mobile {
  top: 182px !important;
  width: 100% !important;

  .closeIconButton {
    display: none;
  }
}

.closeIconButton--close-drawer-minicart-button {
  color: var(--MT---Secundria, #424242);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openIconContainer--filter-drawer {
  padding: 0px;
  border-radius: 8px;
  background: var(--Secundria, #00579c);

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.drawer--filter-drawer {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.closeIconContainer--filter-drawer {
  justify-content: space-between;
  padding: 24px 1rem;
  width: 100%;

  &::before {
    content: 'Filtrar por';
    color: var(--Contraste-Preto, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
  }

  .closeIconButton {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18 6L6 18M6 6L18 18' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .closeIcon {
    display: none;
  }
}
