.minicartProductListContainer {
  padding: 0px 1rem;
}

.openIconContainer {
  display: none;
}

.minicartTitle {
  display: none;
}

.closeIconContainer {
  background-color: #000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  &::after {
    content: 'Minha sacola';
    color: var(--Neutras-05, #fff);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
    text-transform: uppercase;
  }

  .closeIconButton {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_56_793)'%3E%3Cpath d='M19.1876 0C19.4214 0.0839258 19.6434 0.181724 19.8009 0.390498C20.0701 0.748396 20.0666 1.23669 19.7808 1.5821C19.7142 1.66187 19.6413 1.73678 19.5678 1.8103C16.9029 4.47581 14.2373 7.14132 11.5704 9.80475C11.5114 9.86301 11.4323 9.90116 11.363 9.94902C11.363 9.98023 11.3616 10.0121 11.3609 10.0433C11.4268 10.0857 11.5024 10.1183 11.5565 10.1724C14.245 12.8608 16.93 15.5526 19.6191 18.2403C19.9167 18.5379 20.0805 18.8673 19.9605 19.2925C19.7745 19.9521 18.9773 20.2136 18.4355 19.7926C18.3585 19.733 18.2891 19.6636 18.2197 19.5949C15.5396 16.9162 12.8602 14.2376 10.1821 11.5575C10.1273 11.5027 10.0892 11.4326 10.0434 11.3695C10.0114 11.3612 9.97953 11.3529 9.94762 11.3445C9.90391 11.4167 9.872 11.5013 9.81441 11.5589C7.12943 14.2507 4.44306 16.9405 1.75599 19.6303C1.35359 20.0326 0.872793 20.1075 0.447497 19.8432C0.197038 19.6879 0.0922746 19.4403 0 19.1809V18.868C0.0825615 18.5531 0.2907 18.327 0.514101 18.103C3.16231 15.4569 5.80706 12.8067 8.45249 10.1578C8.50522 10.1044 8.55587 10.0496 8.62663 9.97468C8.54962 9.90948 8.4858 9.86232 8.43029 9.80752C5.79179 7.17184 3.15468 4.53338 0.513408 1.89839C0.289312 1.67435 0.0825615 1.44755 0 1.13265V0.819837C0.116557 0.389804 0.387137 0.113751 0.820758 0H1.13366C1.45419 0.085313 1.68523 0.297555 1.91348 0.526443C4.54713 3.16768 7.18424 5.80544 9.81788 8.44737C9.87546 8.50494 9.90113 8.59442 9.94137 8.66863C9.97468 8.65407 10.0073 8.6395 10.0406 8.62493C10.0933 8.55904 10.1398 8.48691 10.1995 8.42726C12.8366 5.78949 15.4751 3.15311 18.1101 0.513265C18.3335 0.289232 18.5604 0.0825386 18.8754 0H19.1883H19.1876Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_56_793'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .closeIcon {
    display: none;
  }
}

.minicartCheckoutButton {
  padding: 0px;

  :global(.vtex-button) {
    background: var(--Neutras-01, #1b1b1b);
    border: none;
    border-radius: 0px;

    :global(.vtex-button__label) {
      padding: 0px;
      color: var(--Neutras-05, #fff);

      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px; /* 157.143% */
      text-transform: none;
    }
  }
}

.minicartSummary {
  padding: 0px;
}
