.newsletterForm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 12px;

  :global(.vtex-input__error) {
    color: #fff;
    position: absolute;
    margin-top: 2px;
  }
  .nameInputContainer {
    width: 100%;
    max-width: 400px;
  }

  .emailInputContainer {
    width: 100%;
    max-width: 400px;
  }

  .formSubmitContainer {
    max-width: 203px;
    width: 100%;

    :global(.vtex-button) {
      width: 100%;
      border: none;
      display: flex;
      padding: 9px 0px;
      justify-content: center;
      border-radius: 0px;
      min-height: 48px;
      background-color: #000;

      &:hover {
        background-color: #000;
        opacity: 0.9;
      }

      :global(.vtex-button__label) {
        padding: 0px;
        color: var(--Neutras-05, #fff);

        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        text-transform: none;
      }
    }
  }

  :global(.vtex-input-prefix__group) {
    padding: 12px 0px;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    min-height: 48px;
  }

  :global(.vtex-styleguide-9-x-input) {
    color: var(--Neutras-01, #1b1b1b);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */

    &::placeholder {
      color: var(--Neutras-01, #1b1b1b);
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 150% */
    }
  }

  @media screen and (max-width: 1025px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
}
