.summaryItemContainer--discount {
  display: none;
}

.summaryItemLabel {
  color: var(--Neutras-01, #1b1b1b);

  /* Textos/Texto Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.summaryItemPrice {
  color: var(--Primria-01, #c00146);

  /* Textos/Texto SemiBold */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
