.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  margin-top: 60px;
  padding: 0 1rem;

  @media screen and (max-width: 1024px) {
    margin-top: 0px;
  }

  .reviewsHeading {
    margin: 0px;
    color: var(--black, #000);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    text-align: center;
    border: none;
    margin-bottom: 0.5rem;
  }

  .stars {
    font-size: 1rem;
  }

  .star--empty,
  .star--filled {
    color: #eab308;
  }

  .graphTextLabel,
  .reviewsRatingCount,
  .reviewsRatingAverage {
    color: var(--black, #000);

    /* text-sm/Regular */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }

  .graphBarPercent {
    display: none;
  }

  .graphBar {
    border-radius: 8px;
    background: var(--yellow-500, #eab308);
  }

  .writeReviewContainer {
    margin: 0px;
    margin-bottom: 20px;
  }

  .loginLink {
    padding: 0px;
    color: var(--Secundria, #00579c);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }

  .reviewsOrderBy {
    gap: 0.5rem;
  }

  :global(.vtex-dropdown__caption) {
    color: var(--black, #000);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
  }

  :global(.vtex-styleguide-9-x-dropdown) {
    :global(.vtex-dropdown__container) {
      border: 1px solid var(--gray-200, #e4e4e7);
      border-radius: 0px;
    }
  }

  .reviewCommentUser {
    color: var(--black, #000);

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }

  .reviewCommentRating {
    margin-bottom: 20px;
  }

  .reviewAuthor,
  .reviewDateSubmitted {
    color: var(--gray-400, #a1a1aa);

    /* text-xs/Regular */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 150%; /* 18px */
  }

  .reviewAuthorName,
  .reviewAuthorBy {
    font-weight: 400 !important;
  }

  .reviewAuthor {
    color: #000;
  }

  .reviewCommentMessage {
    color: var(--black, #000);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    margin-top: 20px;

  }

  .reviewsPaging {
    display: none;
  }

  .reviewComment {
    border-bottom: 1px solid var(--gray-200, #e4e4e7);
  }

  .reviewDateValue {
    display: none;
  }
}
