.container {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.box {
  right: -41px !important;
  min-width: 12rem !important;
}

.formTitle {
  color: var(--Azul, #00579c);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
}

.content {
  padding: 16px 20px;
}

:global(.render-route-store-login) {
  :global(.vtex-render__container-id-default) {
    background-color: #f4f4f5;
    padding: 60px 0px;
  }
}

:global(.vtex-render__container-id-default) {
  .content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    max-width: 366px;
    margin: 0 auto;
    border-radius: 16px;
    background: var(--white, #fff);
    padding: 24px;

    .contentForm {
      padding: 0px;
      width: 100%;
    }

    .loginOptionsContainer {
      .formTitle {
        display: none !important;
      }
    }

    .formLinkContainer {
      display: none;
    }

    .inputContainerEmail {
      margin-bottom: 24px;
    }

    :global(.vtex-input-prefix__group) {
      border: none;

      :global(.vtex-styleguide-9-x-input) {
        border-radius: 8px;
        border: 1px solid var(--COLOR-CINZA-CLARO, #d6d6d6);
        background: #fff;
        color: var(--COLOR-PRETO, #000);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      :global(.vtex-input__suffix) {
        display: none;
      }
    }

    .inputContainer {
      padding: 0px;
    }

    .sendButton {
      :global(.vtex-button) {
        border-radius: 8px;
        background: var(--Azul, #00579c);
        color: var(--Neutras-05, #fff);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 19.6px */
        border: none;
        padding: 10px;

        &:hover {
          background: var(--Azul, #012f54);
          color: #fff;
        }
      }
    }

    .inputContainerEmail,
    .inputContainerPassword {
      &::before {
        content: 'Senha';
        color: var(--COLOR-PRETO, #000);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;
        margin-bottom: 2px;
      }
    }

    .inputContainerEmail {
      &::before {
        content: 'E-mail';
      }
    }

    .formFooter {
      border: none;
      display: block;

      &::after {
        content: 'ou';
        display: block;
        color: var(--COLOR-PRETO, #000);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;
        margin: 24px 0px;
        text-align: center;
      }
    }

    .optionsList {
      margin: 0px;
    }

    .formTitle {
      display: flex;
      margin-top: 0px;
      flex-direction: column;
      color: var(--COLOR-PRETO, #000);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 24px;

      &::before {
        content: 'Realizar login';
        color: var(--COLOR-PRETO, #000);
        font-family: Inter;
        font-size: 18px !important;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 25.2px */
      }
    }

    .button {
      :global(.vtex-button) {
        border-radius: 8px;
        border: 1px solid var(--COLOR-PRETO, #000);
        background: var(--COLOR-BRANCO, #fff);
        padding: 10px;
        color: var(--COLOR-PRETO, #000);
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 19.6px */
        text-transform: none;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}
