.heading--shelf-title {
  color: var(--Neutras-01, #1b1b1b);
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 32px;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 20px;
  }
}

.container--shelf-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper--sobre-nos {
  margin: 30px auto;
  max-width: 1440px;
  padding: 0px 1rem;

  @media screen and (max-width: 1024px) {
    margin-top: 0px;
  }

  .heading {
    color: var(--Neutras-01, #1b1b1b);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 12px;
  }

  .paragraph {
    margin: 0px;
    color: var(--Neutras-02, #8c8c8c);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.paragraph--copyright {
  color: var(--Neutras-01, #1b1b1b);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
}
