.openIconContainer {
  display: none;
}

.searchBarContainer {
  padding: 0px;

  :global(.vtex-input) {
    background: #8c8c8c;
  }

  :global(.vtex-input) {
    :global(.vtex-input-prefix__group) {
      border: none;
      border-radius: 0px;
    }

    .suffixWrapper {
      min-width: 40px;
    }

    :global(.vtex-input__suffix) {
      border-radius: 0px;
      padding: 0px;
      background-color: #f1f1f1;
    }
  }

  :global(.vtex-styleguide-9-x-input) {
    color: #8c8c8c;
    font-weight: 400;
    font-size: 14px;
    background-color: #f1f1f1;
  }

  .searchBarIcon {
    background-color: #f1f1f1;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.91886 0C9.04611 0.00761363 9.17336 0.0142121 9.30062 0.0228409C10.4256 0.0969469 11.4959 0.379159 12.5113 0.867954C13.3737 1.28315 14.1413 1.83336 14.8303 2.49676C15.8235 3.45354 16.5571 4.57579 16.9981 5.88585C17.1903 6.45636 17.3176 7.0416 17.3895 7.63952C17.4458 8.10547 17.4717 8.57346 17.4585 9.04246C17.4266 10.1774 17.1832 11.2641 16.7142 12.2991C16.3629 13.0741 15.9056 13.7827 15.3636 14.4375C15.3479 14.4563 15.3327 14.475 15.3175 14.4943C15.315 14.4974 15.314 14.5014 15.3104 14.5085C15.3484 14.5486 15.3864 14.5908 15.426 14.6309C16.8202 16.0257 18.2154 17.4195 19.6076 18.8168C19.7414 18.9514 19.855 19.1067 19.9767 19.2528C19.9858 19.264 19.9873 19.2818 19.9919 19.297C19.9929 19.3006 19.9919 19.3051 19.9919 19.3092C19.9919 19.4046 20.0147 19.5087 19.9843 19.5929C19.9549 19.6746 19.8707 19.7371 19.8094 19.8071C19.7546 19.8696 19.7085 19.9533 19.639 19.9848C19.5696 20.0157 19.4748 19.9858 19.3931 19.9964C19.2446 20.0162 19.128 19.9685 19.0266 19.8604C18.9521 19.7807 18.8644 19.7132 18.7868 19.6361C17.8595 18.7097 16.9322 17.7834 16.006 16.8561C15.5426 16.3927 15.0807 15.9277 14.6189 15.4628C14.5778 15.4212 14.5418 15.3745 14.4997 15.3252C14.4419 15.3729 14.3836 15.4212 14.3243 15.4694C13.2277 16.3622 11.9957 16.9769 10.6137 17.2829C10.1118 17.3941 9.60379 17.4586 9.09022 17.4763C7.55406 17.5296 6.10054 17.2043 4.73067 16.5084C3.93876 16.1064 3.2234 15.5953 2.5917 14.9699C1.34858 13.7396 0.550077 12.2645 0.18657 10.554C0.0811174 10.0571 0.0218003 9.55359 0.0101397 9.045C0.00811174 8.96988 0.00354889 8.89526 0 8.82014C0 8.78766 0 8.75517 0 8.72269C0.00202793 8.6968 0.00456285 8.67041 0.0060838 8.64452C0.0172374 8.42373 0.0207863 8.20242 0.0405587 7.98213C0.103932 7.27204 0.251971 6.5797 0.484676 5.90564C0.920682 4.64279 1.60917 3.53628 2.54252 2.58254C3.24115 1.86839 4.04167 1.29432 4.94208 0.861356C5.95199 0.375606 7.01716 0.0974545 8.13557 0.0228409C8.26688 0.0142121 8.39819 0.00761363 8.52949 0C8.65928 0 8.78907 0 8.91886 0ZM8.75764 16.3272C12.8267 16.3394 16.258 12.9873 16.2975 8.82979C16.3381 4.60016 12.9276 1.18874 8.75257 1.17098C4.59327 1.15321 1.20307 4.54534 1.15592 8.65112C1.10725 12.9183 4.56539 16.3302 8.75713 16.3272H8.75764Z' fill='%231B1B1B'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 0px;
    display: flex;
    width: 100%;
  }

  .closeIcon,
  .searchIcon {
    display: none;
  }
}

.sizeDesktop {
  padding: 0px;
}

.imageElementLink--carousel {
  width: 100%;
  height: 100%;
  display: block;
}

.imageElement--carousel {
  width: 100vw;
  height: auto !important;
  display: flex;
  max-height: unset !important;
}
