.footerLayout {
  display: flex;
  padding: 60px 0px;
  flex-direction: column;
  align-items: center;
  background: var(--gray-100, #f4f4f5);

  @media screen and (max-width: 768px) {
    padding: 40px 0px;
  }
}
