.biggy-autocomplete-wrapper {
  .tileListTitle,
  .itemListTitle {
    color: var(--gray-700, #3f3f46);

    /* text-base/Bold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    text-transform: none;
  }

  .itemListItem {
    color: var(--black, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    text-transform: none;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }

  .tileListList {
    padding: 1rem;
    gap: 0.5rem;
  }
}
