.container {
  background-color: #f4f4f5;
  max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;

  .term,
  .link {
    color: var(--gray-600, #52525b);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
  }

  .caretIcon {
    display: none;
  }

  .arrow,
  .termArrow {
    &::before {
      content: "|";
      color: var(--gray-600, #52525b);
      text-align: center;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
  }

  .homeLink {
    &::before {
      content: 'Home';
      color: var(--gray-600, #52525b);
      text-align: center;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 16.8px */
    }

    .homeIcon {
      display: none;
    }
  }
}
