.heading--shelf-title {
  color: var(--Neutras-01, #1b1b1b);
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 32px;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 20px;
  }
}

.container--shelf-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper--sobre-nos {
  margin: 30px auto;
  max-width: 1280px;
  padding: 0px 1rem;

  @media screen and (max-width: 1024px) {
    margin-top: 0px;
  }

  .heading {
    color: var(--Neutras-01, #1b1b1b);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 12px;
  }

  .paragraph {
    margin: 0px;
    color: var(--Neutras-02, #8c8c8c);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.paragraph--copyright {
  color: var(--Neutras-01, #1b1b1b);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
}

.paragraph--open-drawer-medidas {
  margin: 0px;
  color: var(--gray-600, #52525b);

  /* text-xs/Regular */
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  cursor: pointer;
  margin: 1rem 0px 0px;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='18' viewBox='0 0 17 18' fill='none'%3E%3Cg clip-path='url(%23clip0_104_14420)'%3E%3Cpath d='M6.59475 18C6.182 17.7938 5.8594 17.4656 5.503 17.1839C4.46478 16.3635 3.43548 15.5324 2.40102 14.7069C2.24747 14.5843 2.13947 14.4411 2.1282 14.2383C2.11365 13.9842 2.23339 13.8077 2.43624 13.6659C3.24249 13.1033 4.04592 12.5361 4.84936 11.9693C4.89913 11.9341 4.9644 11.912 4.99445 11.8308C4.53099 11.75 4.07457 11.6603 3.62707 11.5326C2.7269 11.2753 1.86618 10.9311 1.12239 10.3455C0.595529 9.93091 0.17949 9.43646 0.0428454 8.75417C0.0113843 8.59781 0.0113843 8.44003 0.0113843 8.28179C0.0104451 6.81767 0.036741 5.35308 0.00152331 3.8899C-0.021016 2.95077 0.374831 2.25768 1.07308 1.69608C1.87276 1.05277 2.80579 0.687441 3.78484 0.424483C5.32315 0.0103225 6.89339 -0.0413301 8.47255 0.0230009C9.52016 0.0652621 10.5621 0.157767 11.5961 0.345595C13.9938 0.780416 15.3733 2.26379 15.9378 4.56937C16.2322 5.77194 16.2852 6.99188 15.9805 8.20384C15.733 9.18759 15.2005 10.0291 14.5751 10.8109C12.7438 13.0982 10.6415 15.1117 8.34483 16.9256C7.99594 17.2013 7.63766 17.4656 7.28548 17.7375C7.15635 17.8371 7.01924 17.923 6.87602 18.0005H6.59475V18ZM13.2523 1.59606C13.5012 1.82286 13.751 2.04966 13.9538 2.32389C14.5671 3.15268 14.5338 4.14394 13.9055 4.95348C13.0931 5.99968 12.1591 6.92426 11.1679 7.79578C9.19992 9.52614 7.10376 11.0917 4.97708 12.6187C4.91885 12.6605 4.86204 12.7042 4.7977 12.7516C4.87237 12.8033 4.932 12.7859 4.98694 12.7779C5.80117 12.6544 6.41255 13.2386 6.50506 13.8814C6.56047 14.2646 6.87978 14.482 7.26623 14.458C7.3423 14.4533 7.4179 14.4444 7.49397 14.4425C8.1077 14.4266 8.62094 14.8079 8.78482 15.4005C8.80501 15.4737 8.8252 15.547 8.84211 15.6212C8.8623 15.7108 8.89939 15.7047 8.95997 15.6517C9.33515 15.3249 9.71081 14.998 10.0898 14.6754C10.1682 14.6088 10.1513 14.5693 10.0822 14.5144C9.97236 14.427 9.86765 14.3331 9.76058 14.2416C9.44926 13.9748 9.13747 13.7091 8.82755 13.4409C8.72706 13.3541 8.67729 13.2451 8.72237 13.1118C8.76134 12.9977 8.84351 12.9268 8.96372 12.9066C9.08628 12.8859 9.17644 12.9507 9.26284 13.0249C9.67606 13.3794 10.0921 13.7311 10.5006 14.0908C10.5903 14.1697 10.642 14.1735 10.7279 14.0875C11.0589 13.756 11.3933 13.4278 11.7342 13.1066C11.8319 13.0146 11.8295 12.9686 11.7262 12.8831C11.3567 12.5769 10.9956 12.26 10.6307 11.9477C10.5297 11.8613 10.472 11.758 10.5072 11.6232C10.5377 11.5063 10.6185 11.4317 10.7354 11.4025C10.8566 11.372 10.95 11.4307 11.0373 11.5058C11.4102 11.8266 11.7854 12.1449 12.1559 12.468C12.2315 12.5337 12.2761 12.5474 12.3512 12.4619C12.6682 12.1013 12.9903 11.7449 13.3171 11.3932C13.4002 11.3039 13.3918 11.2499 13.3129 11.1635C13.0607 10.8865 12.8175 10.601 12.5714 10.3183C12.4132 10.1366 12.4033 9.9666 12.5437 9.83935C12.6822 9.7135 12.8593 9.74027 13.0156 9.91683C13.249 10.1798 13.4815 10.4432 13.7087 10.7109C13.7763 10.7907 13.8144 10.8114 13.8914 10.7151C14.1802 10.3535 14.4525 9.98022 14.7056 9.59235C14.7549 9.51675 14.7549 9.46228 14.7009 9.3895C14.5338 9.16364 14.3727 8.93355 14.2116 8.70346C14.0792 8.51375 14.09 8.34799 14.2365 8.23859C14.3854 8.1273 14.5666 8.17285 14.7005 8.35833C14.8263 8.53254 14.9498 8.70862 15.0836 8.89645C15.2174 8.64476 15.3071 8.39777 15.3785 8.14467C15.6095 7.3248 15.6124 6.48991 15.5189 5.65361C15.4025 4.61069 15.1029 3.62741 14.5023 2.75261C14.1736 2.27412 13.7698 1.87498 13.2514 1.59559L13.2523 1.59606ZM7.23383 0.599632C5.71243 0.617006 4.24596 0.812816 2.84664 1.37536C2.17939 1.64395 1.55251 1.98157 1.06557 2.52956C0.815287 2.81083 0.638259 3.12873 0.615251 3.51613C0.584729 4.03031 0.818105 4.43273 1.16277 4.78068C1.77227 5.39534 2.53485 5.75362 3.34251 6.01189C5.74483 6.77963 8.16546 6.78762 10.5931 6.13632C11.4332 5.91093 12.2394 5.60148 12.9429 5.06993C13.0833 4.96381 13.2124 4.84454 13.3307 4.71447C13.9529 4.03078 13.9628 3.23063 13.3523 2.53473C12.9137 2.03464 12.3512 1.71157 11.7501 1.45284C10.3011 0.829251 8.77261 0.621232 7.23336 0.599632H7.23383ZM0.645773 5.11125C0.597407 5.14506 0.611494 5.18357 0.611494 5.2155C0.610555 6.28142 0.611494 7.34687 0.611494 8.4128C0.611494 8.64664 0.676764 8.86217 0.785235 9.06738C0.935497 9.35193 1.15338 9.57921 1.39521 9.78582C1.42244 9.80929 1.44686 9.85484 1.50555 9.82197C1.50555 9.7675 1.50555 9.70928 1.50555 9.65105C1.50555 9.24722 1.50508 8.84292 1.50602 8.43909C1.50602 8.29963 1.55721 8.18458 1.69291 8.12918C1.81124 8.08081 1.92253 8.10241 2.01738 8.1921C2.09768 8.2677 2.10519 8.36537 2.10519 8.46727C2.10472 9.02371 2.10754 9.57968 2.10285 10.1361C2.10191 10.2375 2.1329 10.2939 2.22493 10.3404C2.53344 10.4958 2.84899 10.6334 3.17159 10.7559C3.2871 10.7996 3.31011 10.7682 3.30823 10.6559C3.30307 10.3455 3.30541 10.0352 3.30682 9.72477C3.30776 9.567 3.30213 9.40781 3.3195 9.25145C3.33641 9.09884 3.46648 8.99694 3.61298 9.00539C3.76418 9.01384 3.86561 9.0932 3.89566 9.24581C3.90787 9.30826 3.90787 9.374 3.90787 9.43787C3.90881 9.9065 3.91116 10.3747 3.90646 10.8433C3.90552 10.9489 3.93651 10.995 4.04545 11.0213C4.43238 11.1138 4.82353 11.1847 5.21421 11.2584C5.39594 11.2927 5.41002 11.2269 5.40768 11.0776C5.40016 10.6094 5.40345 10.1408 5.40533 9.67218C5.40627 9.43693 5.52225 9.30357 5.71477 9.30826C5.89884 9.31249 6.00309 9.44068 6.00356 9.67077C6.00497 10.0981 6.00309 10.5259 6.00544 10.9532C6.00544 11.0011 5.98055 11.0583 6.04112 11.1044C8.03961 9.6642 9.947 8.1118 11.7741 6.4284C11.7375 6.4284 11.7262 6.42558 11.7168 6.4284C11.6614 6.44624 11.606 6.46502 11.5511 6.48474C10.4363 6.882 9.28914 7.11491 8.10676 7.18205C7.12113 7.23793 6.13973 7.19755 5.1635 7.0595C4.17553 6.91957 3.21338 6.67727 2.30241 6.25794C1.68305 5.97291 1.11346 5.61322 0.646242 5.11172L0.645773 5.11125ZM4.17975 13.1925C4.14078 13.2174 4.09617 13.2442 4.05344 13.2738C3.65477 13.5504 3.2594 13.8326 2.85604 14.1021C2.73348 14.1843 2.74616 14.2223 2.85228 14.3068C4.10697 15.3047 5.35931 16.3053 6.60883 17.3093C6.69711 17.3802 6.75205 17.3886 6.84503 17.3158C7.31882 16.9439 7.79684 16.5772 8.27909 16.2156C8.37911 16.1405 8.39273 16.0818 8.33544 15.9719C8.28238 15.87 8.25561 15.7526 8.22838 15.6395C8.12507 15.2126 7.85413 15.0126 7.41227 15.0464C7.24275 15.0595 7.0723 15.0732 6.90607 15.029C6.37076 14.8867 6.03737 14.5477 5.91857 14.003C5.82184 13.5583 5.52225 13.3104 5.11748 13.3691C4.80991 13.4137 4.52442 13.3738 4.25207 13.2287C4.2314 13.2179 4.21027 13.208 4.17975 13.1925Z' fill='%231B1B1B'/%3E%3Cpath d='M7.20368 5.40477C6.24857 5.38457 5.31507 5.25028 4.4365 4.85067C4.10874 4.70135 3.81057 4.50695 3.5833 4.22004C3.22126 3.76315 3.21375 3.19075 3.56968 2.72963C3.91293 2.28589 4.3933 2.04781 4.9056 1.86421C5.51088 1.64774 6.13916 1.54678 6.77918 1.51861C6.88437 1.51391 6.94353 1.48292 7.00129 1.3923C7.19147 1.09365 7.52627 0.96217 7.86952 1.03918C8.63539 1.21151 9.35195 1.50499 10.015 1.92573C10.3188 2.11825 10.5832 2.3582 10.7954 2.65074C11.2697 3.30391 11.188 3.96178 10.5639 4.47924C10.1685 4.807 9.70085 4.98967 9.21484 5.13007C8.9392 5.20942 8.6584 5.26577 8.37478 5.30944C7.98645 5.36955 7.5953 5.39397 7.20321 5.40477H7.20368ZM6.70218 2.12013C6.18001 2.15722 5.67241 2.23752 5.18359 2.40563C4.76145 2.55072 4.35198 2.7254 4.05756 3.08368C3.86363 3.31941 3.86081 3.55983 4.04254 3.80447C4.20735 4.02611 4.43416 4.17074 4.67598 4.29189C5.26482 4.58678 5.89921 4.70745 6.54769 4.77601C6.65663 4.78775 6.6571 4.72577 6.66226 4.65064C6.71908 3.8519 6.77496 3.05316 6.83647 2.25442C6.84586 2.13375 6.81205 2.09055 6.70171 2.12013H6.70218ZM7.60187 4.79104C7.95921 4.77695 8.31139 4.72577 8.66169 4.65627C8.76218 4.63655 8.79645 4.59429 8.80068 4.49568C8.83637 3.71244 8.87346 2.9292 8.91713 2.14642C8.92324 2.03514 8.87769 1.99428 8.78518 1.9586C8.51753 1.8567 8.24753 1.76185 7.97142 1.68672C7.52063 1.56416 7.47462 1.60031 7.44222 2.07317C7.38775 2.86674 7.32999 3.66032 7.27082 4.45342C7.24453 4.80653 7.24171 4.80606 7.6014 4.7901L7.60187 4.79104ZM9.50738 2.31547C9.47123 3.03626 9.43648 3.72699 9.40079 4.43839C9.72198 4.31677 10.0028 4.18952 10.2352 3.97727C10.5592 3.68051 10.5902 3.34664 10.3249 2.99634C10.1136 2.71695 9.83655 2.51457 9.50738 2.31594V2.31547Z' fill='%231B1B1B'/%3E%3Cpath d='M4.5116 14.698C4.51723 14.5652 4.5764 14.4792 4.67924 14.4332C4.80226 14.3778 4.91731 14.4041 5.02296 14.4891C5.39251 14.7863 5.76347 15.0821 6.13396 15.3784C6.24807 15.47 6.36546 15.5583 6.47628 15.6536C6.6209 15.7785 6.64344 15.9588 6.53638 16.0889C6.42603 16.2232 6.25417 16.2396 6.09874 16.1166C5.61227 15.7311 5.12908 15.3414 4.64402 14.954C4.55621 14.8835 4.50362 14.7981 4.5116 14.698Z' fill='%231B1B1B'/%3E%3Cpath d='M7.80751 3.4437C7.80564 3.1474 7.90847 2.99949 8.11086 3.00324C8.30761 3.007 8.40668 3.15116 8.40715 3.43572C8.40715 3.49394 8.4095 3.55311 8.4034 3.61087C8.38508 3.78461 8.26722 3.89965 8.11039 3.902C7.94745 3.90435 7.82489 3.78414 7.80845 3.60147C7.80376 3.54935 7.80751 3.49629 7.80751 3.4437Z' fill='%231B1B1B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_104_14420'%3E%3Crect width='16.1851' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
}
