.openIconContainer--menu-mobile {
  padding-left: 0px;
  display: flex;
  justify-content: flex-start;

  .drawerTriggerContainer--menu-mobile {
    min-width: 47px;
    background-color: transparent;
    border: none;
    min-width: 50px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
  }
}

.opened--menu-mobile {
  top: 182px !important;
  width: 100% !important;

  .closeIconButton {
    display: none;
  }
}

.closeIconButton--close-drawer-minicart-button {
  color: var(--MT---Secundria, #424242);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openIconContainer--filter-drawer {
  padding: 0px;
  border-radius: 8px;
  background: var(--Secundria, #00579c);

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}
