.flexRow--flex,
.flexRowContent--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRowContent--container {
  max-width: 1400px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin: 0 auto;
}
@media screen and (min-width: 1441px) {
  .flexRowContent--container {
    max-width: 1760px;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .flexRow--margin {
    margin: 24px !important;
  }
}
.flexRow--container :global(.vtex-store-components-3-x-container) {
  padding: 0px;
}
.flexRow--container :global(.vtex-store-components-3-x-container) {
  max-width: 100% !important;
}